

<app-nav2> </app-nav2>
<!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown"> الفضاء </h1>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->




 <!-- contenu start -->

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title bg-white text-center text-primary px-3" > أعلى , فوق / أسفل , تحت</h3>
                <h1 class="mb-5"> ** تلخيص **</h1>
            </div>
         </div>

    </div>

    

    <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/fff.jpg" alt="Image 1">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>
                        القطة موجودة فوق الطاولة<br>
                        الكلب موجود تحت الطاولة
                    </h4>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/fffff.jpg" alt="Image 2">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>
                        القرد رقم 1 يوجد فوق الشجرة<br>
                     القرد رقم 2 يوجد تحت الشجرة

                    </h4>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/sa.jpg" alt="Image 3">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>
                        البنت رقم 1 موجودة في الأعلى <br>
                        البنت رقم 2 موجودة في الأسفل

                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/www.png" alt="Image 4">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>الكرة رقم 1 توجد أعلى الشجرة<br>
                        الكرة رقم 2 توجد أسفل الشجرة</h4>
                
                </div>
            </div>
        </div>
    </div>

       <br><br><br>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
               <h1 class="mb-5"> ** تمارين **</h1>
            </div>
         </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                  <img  src="assets/img/ch.webp" alt=>
             </div>

             <div class="col-md-6">

                <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
                  : أختار الإجابة الصحيحة&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </h3><br>


              
               
               <div class="form-check text-md-end">
                   <label>
                       <input type="checkbox" class="question" name=""><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       الشمس فوق الشجرة
                    </strong></label>
               </div>
               <br>
               <div class="form-check text-md-end">
                   <label>
                       <input type="checkbox" class="question" name=""> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       الإبريق فوق الشجرة
                    </strong> </label>
               </div>
               <br>
               <div class="form-check text-md-end">
                   <label>
                       <input type="checkbox" class="question" name=""> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      الأزهار تحت الشمس
                    </strong> </label>
               </div>
               <br>
               <div class="form-check text-md-end">
                   <label>
                       <input type="checkbox" class="question" name=""><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             الولد تحت الشمس
            </strong>  </label>
               </div>
               <br>
               <div class="form-check text-md-end">
                   <label>
                       <input type="checkbox" class="question" name=""><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       الأزهار تحت الإبريق
                    </strong>   </label>
               </div>
               <br>
               <div class="form-check text-md-end">
                   <label>
                       <input type="checkbox" class="question" name=""><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       الشمس في الأعلى
                    </strong>  </label>
               </div>
               <br>
               <div class="form-check text-md-end">
                   <label>
                       <input type="checkbox" class="question" name=""><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       الإبريق في الأعلى
                    </strong> </label>
               </div>
            </div>

        </div>
    </div>
               <div class="text-center">
                <button class="btn btn-outline-warning" id="checkButton"> أنهيت عملي</button>
                <br><br><br> 
               <div id="corrections">
                   <!-- Les corrections seront affichées ici -->
               </div>
               

               <p class="text-center">*********************************************************************</p>







               <div class="container-fluid">
                   <div class="row">
                       <div class="col-md-6">
                             <img  src="assets/img/eya.jpg" alt=>
                        </div>
           
                        <div class="col-md-6">
           
                           <br> <br> <br> <br>
                           
                           
                           <div class="form-check text-md-end">
                               <label>
                                   <input type="checkbox" class="question1" name=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                   سامي في الأعلى
                               </label>
                           </div>
                           
                           <div class="form-check text-md-end">
                               <label>
                                   <input type="checkbox" class="question1" name=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                   رامي في الأسفل
                               </label>
                           </div>
                           
                           <div class="form-check text-md-end">
                               <label>
                                   <input type="checkbox" class="question1" name=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                   رباب فوق سلمى
                               </label>
                           </div>
                           
                           <div class="form-check text-md-end">
                               <label>
                                   <input type="checkbox" class="question1" name=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                   خليل فوق رامي
                               </label>
                           </div>
                           
                           <div class="form-check text-md-end">
                               <label>
                                   <input type="checkbox" class="question1" name=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                   رامي تحت خليل
                               </label>
                           </div>
                           
                           <div class="form-check text-md-end">
                               <label>
                                   <input type="checkbox" class="question1" name=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                   خليل تحت رباب
                               </label>
                           </div>
                           
                           <div class="form-check text-md-end">
                               <label>
                                   <input type="checkbox" class="question1" name=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                   سامي تحت سلمى
                           </label>
                           </div>
                           </div></div></div></div>
                           <br><br><br>
                          <div class="text-center">
                           <button class="btn btn-outline-warning" id="checkButton1"> أنهيت عملي</button>
                           <br><br><br> 
                           <div id="corrections1">
                               <!-- Les corrections seront affichées ici -->
                           </div>
                           <br><br>
   
 <!-- ********************************************************************************** -->

<br><br><br><br>
<p class="text-center">/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\</p>
<br><br>

     
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title bg-white text-center text-primary px-3" > أمام / وراء    </h3>
                <h1 class="mb-5"> ** تلخيص **</h1>
            </div>
         </div>

    </div>

    

    <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/br.jpg" alt="Image 1">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>
                        القطة رقم 1 أمام الكرسي <br>
                        القطة رقم 2 وراء الكرسي 

                    </h4> </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/bhbh.jpg" alt="Image 2">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>
                        الشجرة أمام الثعلب <br>
                        الثعلب وراء الشجرة 

                    </h4>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/brrr.jpg" alt="Image 3">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>
                        السيارة الخضراء أمام الشرطي <br>
                        السيارة الحمراء وراء الشرطي

                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/bbrr.jpg" alt="Image 4">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>
                        السلحفاة أمام الأرنب <br>
                        الأرنب وراء السلحفاة 

                    </h4>
                </div>
            </div>
        </div>
    </div>

       <br><br><br>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
               <h1 class="mb-5"> ** تمارين **</h1>
            </div>
         </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                  <img  src="assets/img/nnn.png" alt=>
             </div>

             <div class="col-md-6">

                <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
                  : أضع علامة في الخانة المناسبة&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </h3><br>


               <div class="form-check text-md-end ">
                 <label>
                    <input type="checkbox" name="" ><strong>
                       الطفل أمام الحاسوب :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                
                
                         <input type="checkbox" class="question3" name="" ><strong>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    
                
                
                        </label>
                </div><br>

                <div class="form-check text-md-end ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        الأم وراء النافذة:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" class="question3" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  

                   <div class="form-check text-md-end ">
                    <label>
                       <input type="checkbox"  name="" ><strong>
                        الطفل أمام الخزانة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" class="question3" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  

                   <div class="form-check text-md-end ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        الأم وراء الحاسوب :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" class="question3" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  


               </div>

        </div>
    </div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*********************************************************************</p>






    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                  <img  src="assets/img/lklk.png" alt=>
             </div>

             <div class="col-md-6">
<br>

               <div class="form-check text-md-end ">
                 <label>
                    <input type="checkbox" name="" ><strong>
                        الكرة أمام الطفل  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                
                
                         <input type="checkbox" class="question3" name="" ><strong>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    
                
                
                        </label>
                </div><br>

                <div class="form-check text-md-end ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        البيت وراء الشجرة:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" class="question3" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  

                   <div class="form-check text-md-end ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        العصفور وراء البيت :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" class="question3" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  

                   <div class="form-check text-md-end ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        القطة أمام البيت  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" class="question3" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  


               </div>

        </div>
    </div>
             
                     
                 </div>
      


    <div class="mt-5 text-center">
        <a class="btn btn-outline-warning"  id="checkButton3"> أنهيت عملي</a>
       
     </div> 
     <br><br><br> <div  id="corrections3">
        <!-- Les corrections seront affichées ici -->
    </div>                        






    
 <br><br><br><br>
 <p class="text-center">/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\</p>
 <br><br>
 
      
     <div class="container-xxl py-5">
         <div class="container">
             <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                 <h3 class="section-title bg-white text-center text-primary px-3" > على اليمين /  على اليسار    </h3>
                 <h1 class="mb-5"> ** تلخيص **</h1>
             </div>
          </div>
 
     </div>
 
     
 
     <div class="row g-4">
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/mmy.png" alt="Image 1">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                     </div>
             </div>
         </div>
     
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/yym.png" alt="Image 2">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                     </div>
             </div>
         </div>
     
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/ym.png" alt="Image 3">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                      </div>
             </div>
         </div>
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/my.png" alt="Image 4">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                       </div>
             </div>
         </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
              <img  src="assets/img/bc.jpg" alt=>
         </div>

         <div class="col-md-6">
            <img  src="assets/img/images.jpg" alt=>
       </div>


    </div></div>
             
        <br><br><br>
 
     <div class="container-xxl py-5">
         <div class="container">
             <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5"> ** تمارين **</h1>
             </div>
          </div>
     </div>
 
 
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-6">
                   <img  src="assets/img/Sans titre.png" alt=>
              </div>
 
              <div class="col-md-6">
 
                 <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
                   : أكمل الفراغ بما يناسب : على يمين / على يسار / اليمنى / اليسرى&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 </h3><br>
 
 <form>
                <div class="form-group text-md-end "> الضفدع
                    <input type="text" class="question4" name="q1" id="q1">
                  <label>الكلب
                    
                 
                         </label>
                </div> </form><br>
 
                
 <form>
    <div class="form-group text-md-end "> الضفدع
        <input type="text" name="q2" class="question4" id="q2">
      <label>العصفور
        
     
             </label>
    </div> </form><br>
                
    <form>
        <div class="form-group text-md-end "> للضفدع
            <input type="text" name="q3" class="question4" id="q3">
          <label> اليد رقم 1 هي اليد
            
         
                 </label>
        </div> </form><br>
    
          
                                
                    <form>
                        <div class="form-group text-md-end "> للضفدع
                            <input type="text" name="q8" class="question4" id="q8">
                          <label> اليد رقم 2 هي اليد
                            
                         
                                 </label>
                        </div> </form><br>
                 
                </div>
 
         </div>
     </div>
     <p></p>
 
 
 
     <div class="mt-5 text-center">
        <a class="btn btn-outline-warning" id="checkButton4"> أنهيت عملي</a>
     </div>
     <br><br><br> <div  id="corrections4" style="text-align: center;">
       <!-- Les corrections seront affichées ici -->
   </div>




   

   <br><br><br>
   <p class="text-center">/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\</p>
   <br><br>
 
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-6">
                   <img  src="assets/img/dfdf.jpg" alt=>
              </div>
 
              <div class="col-md-6">
 <br>
 
                <div class="form-check text-md-end ">
                  <label>
                     <input type="checkbox" name="" ><strong>
                        الشجرة رقم 1 على يمين الطفل  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                 
                 
                          <input type="checkbox" name="q4" class="question5"><strong>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                     
                 
                 
                         </label>
                 </div><br>
 
                 <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            الشجرة رقم 2  على يمين الطفل:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" name="q5" class="question5"><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>  
 
                    <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            الشجرة رقم 1 على يسار الطفل :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" name="q6" class="question5"><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>  
 
                    <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            الشجرة رقم 2 على يسار الطفل  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" name="q7" class="question5" ><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>  
 
 
                </div>
 
         </div>
     </div>
              
      
     <div class="mt-5 text-center">
         <a class="btn btn-outline-warning" id="checkButton5"> أنهيت عملي</a>
      </div>
      <br><br><br> <div  id="corrections5" style="text-align: center;">
        <!-- Les corrections seront affichées ici -->
    </div>






    
 <br><br><br><br>
 <p class="text-center">/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\</p>
 <br><br>
 
      
     <div class="container-xxl py-5">
         <div class="container">
             <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                 <h3 class="section-title bg-white text-center text-primary px-3" > أقرب /  أبعد / نفس البعد    </h3>
                 <h1 class="mb-5"> ** تلخيص **</h1>
             </div>
          </div>
 
     </div>
 
     
 
     <div class="row g-4">
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/vvv.png" alt="Image 1">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                    <h4>
                        السيارة رقم 1 هي الأبعد<br>السيارة رقم 2 هي الأقرب
                    </h4>
                     </div>
             </div>
         </div>
     
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/bzz.png" alt="Image 2">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                    <h4>
                        الطائر رقم 1 أقرب للطفل من بقية الطيور<br>الطائر رقم 3 أبعد عن للطفل من بقية الطيور
                    </h4>
                     </div>
             </div>
         </div>
     
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/nj.png" alt="Image 3">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                    <h4>
                        سامي أقرب للكرة من رامي و خليل <br>رامي  أقرب للكرة من خليل <br>خليل أبعد عن الكرة من سامي و رامي
                    </h4>
                        </div>
             </div>
         </div>
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/bez.png" alt="Image 4">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4"><h4>الطفل رقم 1 أقرب للحافلة من بقية الأطفال <br>الطفل رقم 4 أبعد عن الحافلة من بقية الأطفال</h4>
                  
                       </div>
             </div>
         </div>
</div>
<br>
   <br><br><br>
 
     <div class="container-xxl py-5">
         <div class="container">
             <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5"> ** تمارين **</h1>
             </div>
          </div>
     </div>
 
 
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-6">
                   <img  src="assets/img/xc.png" alt=>
              </div>
 
              <div class="col-md-6">
 
                 <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
                   : أكمل الفراغ بما يناسب : أقرب  /  أبعد عن / لهما نفس البعد&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 </h3><br>
 


                             
    <form>
        <div class="form-group text-md-end "> عن الشجرة
            <input type="text"  name="text" class="question7" id="1">
          <label> العربتان 
            
         
                 </label>
        </div> </form><br>
    
          
 <form>
                <div class="form-group text-md-end "> للفلاح من الخروف
                    <input type="text" name="text" class="question7" id="2">
                  <label>البقرة
                    
                 
                         </label>
                </div> </form><br>
 
                
 <form>
    <div class="form-group text-md-end "> الفلاح من البقرة
        <input type="text" name="text" class="question7" id="3">
      <label>الخروف
        
     
             </label>
    </div> </form><br>
    
                                
                    <form>
                        <div class="form-group text-md-end "> للسطل من الخروف
                            <input type="text" name="text"  class="question7" id="4">
                          <label> الفلاح
                            
                         
                                 </label>
                        </div> </form><br>


                                     
                    <form>
                        <div class="form-group text-md-end "> للجدار الخشبي من البقرة
                            <input type="text" name="text"  class="question7" id="5">
                          <label> الخروف
                            
                         
                                 </label>
                        </div> </form><br>
                 
                </div>
 
         </div>
     </div>
     <p class="text-center">*********************************************************************</p>
 
 
 
 
 
 
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-6">
                   <img  src="assets/img/wx.png" alt=>
              </div>
 
              <div class="col-md-6">
 <br>
 
                <div class="form-check text-md-end ">
                  <label>
                     <input type="checkbox" name="" ><strong>
                        القارب الأحمر أقرب للرجلان من القارب الأصفر  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                 
                 
                          <input type="checkbox"  name="" class="question7"><strong>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                     
                 
                 
                         </label>
                 </div><br>
 
                 <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            القارب الأصفر أقرب للرجلان من القارب الأحمر:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" name="" class="question7"><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>  
 
                    <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            الرجلان لهما نفس البعد عن القارب الأصفر :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input  type="checkbox" name="" class="question7" ><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>  
 
                    <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            الرجلان أبعد عن المياه من الشمس  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" class="question7" name="" ><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>  
 
 
                </div>
 
         </div>
     </div>
              
                      
           
     <div class="mt-5 text-center">
        <a class="btn btn-outline-warning" id="checkButton7"> أنهيت عملي</a>
    </div>
    <br><br><br> 
    <div id="corrections7" style="text-align: center;">
        <!-- Les corrections seront affichées ici -->
    </div>




    
 <br><br><br><br>
 <p class="text-center">/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\</p>
 <br><br>
 
      
     <div class="container-xxl py-5">
         <div class="container">
             <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                 <h3 class="section-title bg-white text-center text-primary px-3" >  أكبر / أصغر / أطول /  أقصر </h3>
                 <h1 class="mb-5"> ** تلخيص **</h1>
             </div>
          </div>
 
     </div>
 
     
 
     <div class="row g-4">
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/p.png" alt="Image 1">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                          </div>
             </div>
         </div>
     
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/o.png" alt="Image 2">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                    
                     </div>
             </div>
         </div>
     
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/i.png" alt="Image 3">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
      </div>
             </div>
         </div>
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/u.png" alt="Image 4">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                       </div>
             </div>
         </div>
</div>
<br>
   <br><br><br>
 
     <div class="container-xxl py-5">
         <div class="container">
             <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5"> ** تمارين **</h1>
             </div>
          </div>
     </div>
 
 
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-6">
                   <img  src="assets/img/l.png" alt=>
              </div>
 
              <div class="col-md-6">
 <br>  <br> <br>
                 <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
                   : أكمل الفراغ بما يناسب : أطول  /  أقصر / كبيرة / صغير &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 </h3><br>
 


                 <br>
    <form>
        <div class="form-group text-md-end "> من الزرافة 
            <input type="text" name="text" class="question6" id="11">
          <label> الطفل 
            
         
                 </label>
        </div> </form><br>
    
          
 <form>
                <div class="form-group text-md-end "> من الطفل
                    <input type="text" name="text" class="question6" id="12">
                  <label>الزرافة
                    
                 
                         </label>
                </div> </form><br>
 
                
 <form>
    <div class="form-group text-md-end "> بالنسبة إلى الطفل
        <input type="text" name="text" class="question6" id="13">
      <label>الزرافة
        
     
             </label>
    </div> </form><br>
    
                                
                    <form>
                        <div class="form-group text-md-end ">  بالنسبة إلى الزرافة
                            <input type="text" name="text" class="question6" id="14">
                          <label> الطفل
                            
                         
                                 </label>
                        </div> </form><br>


                                     
                    
                </div>
 
         </div>
     </div>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*********************************************************************</p>
 
 
 
 
 
 
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-6">
                   <img  src="assets/img/m.png" alt=>
              </div>
 
              <div class="col-md-6">
 <br>
 
                <div class="form-check text-md-end ">
                  <label>
                     <input type="checkbox" name="" ><strong>
                        الزرافة هي الأطول بين الحيوانات  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                 
                 
                          <input type="checkbox" name="" class="question6"><strong>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                     
                 
                 
                         </label>
                 </div><br>
 
                 <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            الفيل أصغر من الفهد:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" name="" class="question6"><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>  
 
                    <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            الغزالة أقصر من الفهد :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" name="" class="question6"><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>  
 
                    <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            الحمار الوحشي هو الأصغر بين الحيوانات  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" name="" class="question6"><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>  




                    <div class="form-check text-md-end ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            الفيل أكبر من الغزالة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" class="question6" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br> 

 
 
                </div>
 
         </div>
     </div>
              
               
          
 
     <div class="mt-5 text-center">
        <a class="btn btn-outline-warning" id="checkButton6"> أنهيت عملي</a>
     </div>
     <br><br><br> <div  id="corrections6" style="text-align: center;">
       <!-- Les corrections seront affichées ici -->
   </div> <br><br><br>
   <div id="corrections2" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
 </div><br><br><br>
 <div id="corrections9" style="text-align: center;">
 <!-- Les corrections seront affichées ici -->
 </div>