
<app-nav2></app-nav2>
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header3 ">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> الزمن  </h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- contenu start -->

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" >  الأحداث الدورية / الأحداث غير الدورية  </h3>
            <br><br><br><br>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>
 <div class="row g-2">
    <div class="col-lg-6 text-center">
        <img class="image" src="assets/img/zee (1).png" alt=>
    </div>
    <div class="col-lg-6 text-center">
        <img class="image" src="assets/img/zee (2).png" alt=>
    </div>
</div>



<div class="text-center">
    <img class="image" src="assets/img/zee (7).jpg" alt=>
</div>


<div class="text-center">
    <img class="image" src="assets/img/zee (6).jpg" alt=>
</div>


<div class="text-center">
    <img class="image" src="assets/img/zee (5).jpg" alt=>
</div>


<div class="text-center">
    <img class="image" src="assets/img/zee (4).jpg" alt=>
</div>


<div class="text-center">
    <img class="image" src="assets/img/zee (3).jpg" alt=>
</div>



<br><br><br><br>







<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
        </div>
     </div>
</div>



<br><br>

<h3 class="text-center text-danger">أكتب في الخانة : حدث دوري / حدث غير دوري  
     </h3><br>
<br>
<div class="row g-3">
   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/zaz (1).png" alt="Image 1">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
             
                        
<form>
   <div class="form-group text-md-end ">  
       <input type="text" name="text" id="text"> 
     <label>  
            </label>
   </div> </form> 
</div>
   </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/zaz (2).png" alt="Image 2">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center ">
               </div>
           </div>
           <div class="text-center p-4">
                                      
<form>
   <div class="form-group text-md-end ">  
       <input type="text" name="text" id="text"> 
     <label>  
            </label>
   </div> </form> 
               </div>
       </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/zaz (3).jpg" alt="Image 3">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                       
<form>
   <div class="form-group text-md-end ">    
       <input type="text" name="text" id="text">
     <label>  
            </label>
   </div> </form> 
                </div>
       </div>
   </div>
   </div>
   <div class="row g-3">
   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/zaz (4).jpg" alt="Image 4">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                      
<form>
   <div class="form-group text-md-end ">    
       <input type="text" name="text" id="text"> 
            <label>
            </label>
   </div> </form> 
                 </div>
       </div>
   </div>
   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/zaz (5).jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
<form>
<div class="form-group text-md-end ">    
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
             </div>
    </div>
</div> <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/zaz (6).jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
<form>
<div class="form-group text-md-end ">    
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
             </div>
    </div>
</div>
</div>



<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>


<br><br><br>


<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" >  تقدير فترة زمنية بإعتماد ظاهرة دورية مألوفة </h3>
                <br><br><br><br>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

        <div class=" text-center">
            <img class="image" src="assets/img/Sans titre7.png" alt=>
        </div>


            
            <br><br><br>
            
            
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                       <h1 class="mb-5"> ** تمارين **</h1>
                    </div>
                 </div>
            </div>
            
            
            
            <br><br>
            
            <div class="text-center">

                <h3 class=" text-danger">&nbsp;&nbsp;&nbsp;
                  : أختار الإجابة الصحيحة&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </h3><br><br><br>


              
               
               <div class="form-check ">
                   <label>
                       <input type="checkbox" class="question" name=""><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        يتكون الشهر من 5 أسابيع
                    </strong></label>
               </div>
               <br>
               <div class="form-check ">
                   <label>
                       <input type="checkbox" class="question" name=""> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        عدد أيام الأسبوع تختلف من أسبوع إلى ٱخر
                    </strong> </label>
               </div>
               <br>
               <div class="form-check ">
                   <label>
                       <input type="checkbox" class="question" name=""> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        عدد أيام الشهر تختلف من شهر إلى ٱخر
                    </strong> </label>
               </div>
               <br>
               <div class="form-check ">
                   <label>
                       <input type="checkbox" class="question" name=""><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        يدوم فصل الربيع 4 أشهر
            </strong>  </label>
               </div>
               <br><br><br><br>
       
               <div class="text-center">
                <button class="btn btn-outline-warning" id="checkButton"> أنهيت عملي</button>
        
            
            <br><br><br><br><br>









            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="section-title bg-white text-center text-primary px-3" > النواس  </h3>
                            <br><br><br><br>
                        <h1 class="mb-5"> ** تلخيص **</h1>
                    </div>
                 </div>
            
            </div>
            <div class="text-center">
            <img src="assets/img/noues (2).png" class="img-fluid" alt="Image 1">  
            </div>
            <div class="text-center">
                <img src="assets/img/noues (1).png" class="img-fluid" alt="Image 1">  
                </div>
               
                    <br><br><br><br>
    
    
    
                  
                    
                    
                    <div class="container-xxl py-5">
                        <div class="container">
                            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                               <h1 class="mb-5"> ** تمارين **</h1>
                            </div>
                         </div>
                    </div>
                    
                    
<br> 
<h3 class="text-center text-danger">&nbsp;&nbsp;&nbsp;
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
<br><br> <br> 

<div class="text-center">
       <div class="form-check ">
         <label>
            <input type="checkbox" name="" ><strong>
                النواس أداة دقيقة لقيس الزمن  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
        
        
                 <input type="checkbox" name="" ><strong>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            
        
        
                </label>
        </div><br> <br> 

        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                النواس أداة عصرية لقيس الزمن 
                :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br> 



           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                يتحرك النواس تلقائيا:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br>

           
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                المدة الزمنية للنوسة غير ثابتة:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br> 

           
         


             
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                كلما كان الخيط أطول كانت النوسة أطول  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  

               
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                تكون النوسة أطول كلما كانت قوة الدفع ضعيفة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  
        
           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                تكون النوسة أقصر كلما كانت قوة الدفع ضعيفة:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br> 
           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                لا يتوقف النواس عن الحركة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                يستعمل النواس لمعرفة الليل و النهار :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br> <br> 

       </div>


      <div class="mt-5 text-center">
                    <a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
                    </div>
                    
                    
                    
                    <br><br><br><br><br><br><br><br><br>
    
    
    

                    <div class="container-xxl py-5">
                        <div class="container">
                            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                                <h3 class="section-title bg-white text-center text-primary px-3" > الساعة الرملية / الساعة المائية

                                </h3>
                                    <br><br><br><br>
                                <h1 class="mb-5"> ** تلخيص **</h1>
                            </div>
                         </div>
                    
                    </div>
                    <div class="text-center">
                    <img src="assets/img/scre0.png" class="img-fluid" alt="Image 1">  
                    </div>
                    <div class="row g-2">
                    <div class="col-lg-6 text-center">
                        <img src="assets/img/scre.webp" class="img-fluid" alt="Image 1">  
                        </div>
                        <div class="col-lg-6 text-center">
                            <img src="assets/img/scre.jpg" class="img-fluid" alt="Image 1">  
                            </div>
                        </div>
                        <br><br><br><br>
                        <div class="text-center">
                            <img src="assets/img/scr.png" class="img-fluid" alt="Image 1">  
                            </div>
                            <div class="row g-2">
                                <div class="col-lg-6 text-center">
                                    <img src="assets/img/sea.gif" class="img-fluid" alt="Image 1">  
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <img src="assets/img/sea.png" class="img-fluid" alt="Image 1">  
                                        </div>
                                    </div>
                            <br><br><br><br>
            



<div class="container-xxl py-5">
<div class="container">
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
</div>
</div>
</div>
<br><br>
<br> 
<h3 class="text-center text-danger">&nbsp;&nbsp;&nbsp;
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
<br><br> <br> 

<div class="text-center">
       <div class="form-check ">
         <label>
            <input type="checkbox" name="" ><strong>
                الساعة الرملية و الساعة المائية أدوات قديمة بسيطة و غير دقيقة لتقدير مدة زمنية :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
        
        
                 <input type="checkbox" name="" ><strong>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            
        
        
                </label>
        </div><br> <br> 



        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                ساعاتان رمليتان لهما حجمان مختلفان و كمية رمل مختلفة يستغرقان نفس الوقت   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br> 



        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                عندما يكون الثقب أوسع تكون المدة الزمنية أطول 
                :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br> 



           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                يجب ربط القارورتين بشريط لاصق :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br>

           
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                رمل به أحجار أو رمل مبلل يعطل الساعة   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br> 

           
         


             
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                عندما يكون الثقب أوسع تكون المدة الزمنية أطول  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  

               
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                عندما يكون الماء أكثر تكون المدة الزمنية أقصر:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  
        
           
           <br> 

       </div>


      <div class="mt-5 text-center">
                    <a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
                    </div>
                    
     

                    <br><br><br><br><br><br><br><br><br>
    
    
    

                    <div class="container-xxl py-5">
                        <div class="container">
                            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                                <h3 class="section-title bg-white text-center text-primary px-3" > الساعة ذات العقارب

                                </h3>
                                    <br><br><br><br>
                                <h1 class="mb-5"> ** تلخيص **</h1>
                            </div>
                         </div>
                    
                    </div>
                    
                    <div class="row g-2">
                    <div class="col-lg-6 text-center"><br><br><br>
                        <img src="assets/img/aaqarb (1).png" class="img-fluid" alt="Image 1">  
                        </div>
                        <div class="col-lg-6 text-center">
                            <img src="assets/img/aaqarb (2).jpg" class="img-fluid" alt="Image 1">  
                            </div>
                        </div>


                        <div class="text-center">
                            <img src="assets/img/aaqarb (1).jpg" class="img-fluid" alt="Image 1">  
                            </div>



                            <div class="row g-2">
                                <div class="col-lg-6 text-center"><br><br><br>
                                    <img src="assets/img/aaqarb (2).png" class="img-fluid" alt="Image 1">  
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <img src="assets/img/aaqarb (3).png" class="img-fluid" alt="Image 1">  
                                        </div>
                                    </div>




                            <br><br><br><br>
            



<div class="container-xxl py-5">
<div class="container">
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
</div>
</div>
</div>
<div class="row g-2">
    <div class="col-lg-6 text-center">
        <img src="assets/img/aaqarb (4).png" class="img-fluid" alt="Image 1">  
                                    
    </div>
   
<div class="col-lg-6 text-center"> 
<h3 class="text-center text-danger">&nbsp;&nbsp;&nbsp;
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
<br><br>

<div class="text-center">
       <div class="form-check ">
         <label>
            <input type="checkbox" name="" ><strong>
                الصورة 1 تشير إلى منتصف النهار و 10 دقائق :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
        
        
                 <input type="checkbox" name="" ><strong>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            
        
        
                </label>
        </div><br>



        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 1 تشير إلى الساعة الثانية   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>



        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 2 تشير إلى الساعة الواحدة 
                :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> 



           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 2 تشير إلى الساعة الواحدة و ربع   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> 

           
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 3 تشير إلى الساعة الرابعة   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> 

           
         


             
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 4 تشير إلى الساعة الثالثة إلا ربع :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>    

               
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 4 تشير إلى الساعة الثالثة إلا ربع  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> 
        
           
           <br> 
           </div></div>
       </div>


      <div class="mt-5 text-center">
                    <a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
                    </div>
                    

                    <br><br><br><br>  <br><br>
<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
     <h3 class="section-title bg-white text-center text-primary px-3" >الساعة ذات الخانات 

        </h3>
 <br><br><br><br>
<h1 class="mb-5"> ** تلخيص **</h1>
  </div>
</div>
                    
    </div>
                    


    <div class="text-center">
        <img src="assets/img/qas (3).png" class="img-fluid" alt="Image 1">  
        </div>

        <div class="text-center">
            <img src="assets/img/qas (1).png" class="img-fluid" alt="Image 1">  
            </div>
            <div class="text-center">
                <img src="assets/img/qas (2).png" class="img-fluid" alt="Image 1">  
                </div>

                        <div class=" text-center">
                            <img src="assets/img/aaqarb (2).jpg" class="img-fluid" alt="Image 1">  
                            </div>
                  



<div class="row g-2">
                                <div class="col-lg-6 text-center"><br><br><br>
                                    <img src="assets/img/aaqarb (2).png" class="img-fluid" alt="Image 1">  
                </div>
           <div class="col-lg-6 text-center">
                <img src="assets/img/aaqarb (3).png" class="img-fluid" alt="Image 1">  
             </div>
</div>
<br><br><br><br>




<div class="container-xxl py-5">
<div class="container">
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
</div>
</div>
</div>



<div class="row g-2">
<div class="col-lg-6 text-center">
    <img src="assets/img/stst.png" class="img-fluid" alt="Image 1">  
                                
</div>

<div class="col-lg-6 text-center"> 
<h3 class="text-center text-danger">&nbsp;&nbsp;&nbsp;
أعمر في كل مرة الخانة بما يناسب</h3><br> 
<br><br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 1  تشير إلى</h3></div>
  <br>
  <div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 2  تشير إلى</h3></div>
<br><br>

</div></div>

<br><br>
<div class="row g-2">
<div class="col-lg-6 text-center">
 <img src="assets/img/stst (3).png" class="img-fluid" alt="Image 1">  
                             
</div>

<div class="col-lg-6 text-center"> 
<br><br><br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 1  تشير إلى</h3></div>
<br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 2  تشير إلى</h3></div>
<br><br>

</div></div>


<br><br>

<div class="row g-2">
<div class="col-lg-6 text-center">
 <img src="assets/img/stst (2).png" class="img-fluid" alt="Image 1">  
                             
</div>

<div class="col-lg-6 text-center"> 
<br><br><br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 1  تشير إلى</h3></div>
<br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 2  تشير إلى</h3></div>
<br><br>

</div></div>


<br><br>

<div class="row g-2">
<div class="col-lg-6 text-center">
 <img src="assets/img/stst (1).png" class="img-fluid" alt="Image 1">  
                             
</div>

<div class="col-lg-6 text-center"> 
<br><br><br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 1  تشير إلى</h3></div>
<br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 2  تشير إلى</h3></div>
<br><br>

</div></div>

<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>



<br><br><br><br><br>
