 <app-nav2></app-nav2>
 
 
 <!-- Header Start -->
   <div class="container-fluid bg-primary py-5 mb-5 page-header2 ">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> الوسط البيئي </h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->



<!-- contenu start -->

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" >  الحيوانات الأليفة / الحيوانات البرية<br><br>
            التمييز بين الحيوانات الأليفة و الحيوانات البرية<br><br>
            التعرف على بعض المنافع التي توفرها  الحيوانات الأليفة و البرية  </h3>
            <br><br><br><br>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

</div>



<div class="container">
<div class="row">
  <div class="col-md-6">
    <img src="assets/img/final_imgs.jpg" class="img-fluid" alt="Image 1">
  </div>
  <div class="col-md-6">
    <img src="assets/img/final_imgs-0002.jpg" class="img-fluid" alt="Image 2">
  </div>
</div>
</div>





<div class="container">
<div class="row">
  <div class="col-md-6">
    <h3 class="text-center"><br><br>
     الحيوانات البرية تشمل الأسود والنمور والفهود والذئاب والغزلان والأسماك في البحار والكثير من الكائنات الرائعة الأخرى. الحيوانات البرية تعيش في مختلف البيئات وتلعب دورًا هامًا في توازن الطبيعة.
    </h3>
</div>
  <div class="col-md-6">
    <h3 class="text-center"><br><br>
         تشمل الحيوانات الأليفة الكلاب والقطط والطيور والأرانب والأسماك والهامستر وغيرها. الحيوانات الأليفة تقدم الرفقة والحب والفرح لأصحابها
    </h3></div>
</div>
</div>



<br><br><br>
<br><br><br>
<div class="text-center">
<h3>
    كل هذه الحيوانات الأليفة منها و البرية تنقسم إلى أصناف مختلفة فنجد الحيوانات البرية و المائية و البرمائية و الحشرات و الطيور 
</h3>
</div>
<br><br><br>
<br><br><br>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <img src="assets/img/alhh.jpg" class="img-fluid" alt="Image 1">
  </div>
  <div class="col-md-6">
    <img src="assets/img/alhhh.png" class="img-fluid" alt="Image 2">
  </div>
</div>
</div>
<br><br><br>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <img src="assets/img/blh.jpg" class="img-fluid" alt="Image 1">
  </div>
  <div class="col-md-6">
    <img src="assets/img/alh.jpg" class="img-fluid" alt="Image 2">
  </div>
</div>
</div>

<br><br><br>

<div class="text-center">
<h3>
    تمتلك  هذه الحيوانات العديد من المنافع التي توفرها للإنسان و هذه البعض منها   </h3>
</div>
<br><br><br>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <img src="assets/img/mad.png" class="img-fluid" alt="Image 1">
  </div>
  <div class="col-md-6">
    <img src="assets/img/mad3.png" class="img-fluid" alt="Image 2">
  </div>
</div>
</div>
<br><br><br>
<div class="text-center">
<h3>

تعيش هذه الحيوانات في أماكن مختلفة و هذه البعض منها 

</h3>
</div>
<br><br><br>
<div class="row g-2">
<div class="col-lg-6 text-center">
 <img src="assets/img/xwcc.png" class="img-fluid" alt="Image 2">
    
</div>
<div class="col-lg-6 text-center">
    <img src="assets/img/xwc.jpg" class="img-fluid" alt="Image 2">
    
       
   </div>
</div>
     
<br><br><br>

<div class="container">
<div class="row">
  <div class="col-md-6">
    <img src="assets/img/vf.png" class="img-fluid" alt="Image 1">
  </div>
  <div class="col-md-6">
    <img src="assets/img/vff.png" class="img-fluid" alt="Image 2">
  </div>
</div>
</div>
<br><br><br><br><br><br>



<div class="text-center">
<h3>
    يعمل الإنسان على حفاظ على الكائنات من الانقراض نتيجة العوامل البشرية والطبيعية مثل الجفاف وكوارث الطبيعية فإن واجبنا<br><br> تجاه هذه الحيوانات هي أن نعتني بها ونوفر لها الطعام والرعاية الصحية وأن لا نعتدي عليها أو نؤذيها. وحتى الحيوانات التي<br><br> يجوز لنا ذبحها وأكلها يجب أن يتم الذبح وفقا لما أرشدنا إليه نبينا عليه السلام بحيث لا نواجه الحيوانات أمام بعضها وأن يتم <br><br>الذبح في مكان معزول عن باقي الحيوانات

</h3>
</div>

<br><br><br>



<div class="row g-4">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/rage-260918.jpg" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
           
             </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/rage7.jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
           
        </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/papa.jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
           </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/rage.jpg" alt="Image 4">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
             
        </div>
    </div>
</div>
</div>


<br><br><br><br>
<h3 class="text-center">    المحافظة على الحيوانات هي عمل جميل ويجب أن يتمتع به الجميع عامة و الأطفال خاصة فمساعدة الحيوانات ومعرفة <br><br>أنها جزء من هذا العالم الجميل الذي نعيش فيه  هي خطوات جيدة لنتعلم العناية والحماية والمحبة للكائنات الحية من حولنا<br><br> و يوجد العديد من الوسائل للحماية و المحافظة على الحيوانات منها ;
أحترامهم حيث على الجميع أن يتعلموا أن الحيوانات<br><br> تستحق احترامًا ومعاملة لطيفة، و أن يكونوا حنونين ورقيقين مع الحيوانات ، حيث لا تسحب أذنيه أو ذيله و لا تضربه <br><br>.أو تحاول دعسه، و خاصة لا تحمّله فوق طاقته، ولا تقم بتعذيبه أبداً ، و كن عطوفاً معه وارفق به، يكن لك صديقاً وفياً</h3>
<br><br><br>




<div class="text-center">
<img src="assets/img/ragee.jpg" class="img-fluid" alt="Image 2">
  
</div>














<br><br><br><br><br><br>





<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
       <h1 class="mb-5"> ** تمارين **</h1>
    </div>
</div>
</div>


<br><br><br><br><br>




<div class="container-fluid">
<div class="row">
<div class="col-md-6">
      <img  src="assets/img/asad.png" alt=>
 </div>

 <div class="col-md-6">
<br>
<h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
<br><br>

   <div class="form-check text-md-end ">
     <label>
        <input type="checkbox" name="" ><strong>
            الأسد حيوان بري  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
    
    
             <input type="checkbox" name="" ><strong>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
        
    
    
            </label>
    </div><br>

    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            الأسد حيوان أليف :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  

       
    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            الأسد يعيش في القن :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  

       
    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            الأسد يعيش في الغابة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  


         
    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            الأسد له منافع يوفرها للإنسان :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  

     

   </div>
  
   <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
              <img  src="assets/img/hwita.png" alt=>
         </div>

         <div class="col-md-6">


           <div class="form-check text-md-end ">
             <label>
                <input type="checkbox" name="" ><strong>
                    السمكة حيوان بري  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
            
            
                     <input type="checkbox" name="" ><strong>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                
            
            
                    </label>
            </div><br>

            <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    السمكة حيوان مائي :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>  

               
            <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    السمكة لها منافع توفرها للإنسان  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>  

               
            <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    السمكة تعيش في البحر أو في حوض مملوء بالماء :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>  

             

           </div>

</div>
</div>



<div class="container-fluid">
<div class="row">
<div class="col-md-6"><br><br><br>
      <img  src="assets/img/tatous.jpg" alt=>
 </div>

 <div class="col-md-6">
<br>
<h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
</h3>


   <div class="form-check text-md-end ">
     <label>
        <input type="checkbox" name="" ><strong>
            القطة حيوان بري   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
    
    
             <input type="checkbox" name="" ><strong>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
        
    
    
            </label>
    </div><br>

    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            القطة حيوان مائي :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  

       
    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            القطة تعيش في المنزل  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  

       
    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            القطة تعيش في العرين :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  

     

   </div>

</div>
</div>



<div class="container-fluid">
<div class="row">
<div class="col-md-6">
      <img  src="assets/img/nahoula.png" alt=>
 </div>

 <div class="col-md-6">
<br>
<h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
</h3>


   <div class="form-check text-md-end ">
     <label>
        <input type="checkbox" name="" ><strong>
            النحلة هي حيوان مائي  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
    
    
             <input type="checkbox" name="" ><strong>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
        
    
    
            </label>
    </div><br>

    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            النحلة هي حشرة  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  

       
    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            النحلة تعيش في البحر  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  

       
    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            النحلة تعيش في الخلية :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div>
<br>
       
    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            النحلة لها منافع توفرها للإنسان    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  

   </div>

</div>
</div>



 

<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>

         
     </div>
     </div>


<br><br><br><br>
<p class="text-center">*********************************************************************************</p>


<br><br><br><br>
<h3 class="text-center text-danger">أكتب في الخانة : تصرف لائق / تصرف غير لائق
</h3><br>

<div class="row g-4">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/hyhy (1).jpg" alt="Image 1">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
         
                    
<form>
<div class="form-group text-md-end ">  
   <input type="text" name="text" id="text">
 <label>  
        </label>
</div> </form> 
</div>
</div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/hyhy (2).jpg" alt="Image 2">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
                                  
<form>
<div class="form-group text-md-end ">  
   <input type="text" name="text" id="text">
 <label>  
        </label>
</div> </form> 
           </div>
   </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/hyhy (3).jpg" alt="Image 3">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
   <input type="text" name="text" id="text">
 <label>  
        </label>
</div> </form> 
            </div>
   </div>
</div>
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/hyhy (4).jpg" alt="Image 4">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
                                  
<form>
<div class="form-group text-md-end ">  
   <input type="text" name="text" id="text">
 <label>  
        </label>
</div> </form> 
             </div>
   </div>
</div>
</div>

<br>


<div class="row g-4">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/hyhy.png" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
</div>
</div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/hyhy (5).jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/hyhy (6).jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
             </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/hyhy 7.jpeg" alt="Image 4">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
              </div>
    </div>
</div>
</div>


<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>




<br><br><br><br><br><br>


<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > النباتات المغروسة و النباتات التلقائية و النباتات المزروعة  </h3>
            <br><br><br><br>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

</div>

<br><br>
<div class="text-center">
<img class="img-fluid " src="assets/img/nabt (1).png" alt="">
</div>


<br><br><br><br><br>

<div class="text-center">
<img class="img-fluid " src="assets/img/nabt (2).png" alt="">
</div>


<br><br><br><br><br>

<div class="text-center">
<img class="img-fluid " src="assets/img/nabt (3).png" alt="">
</div>


<br><br><br><br><br>

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
       <h1 class="mb-5"> ** تمارين **</h1>
    </div>
</div>
</div>

<br><br><br><br><br>

<h3 class="text-center text-danger">أكتب في الخانة : نبتة مغروسة / نبتة تلقائية / نبتة مزروعة
</h3><br>

<div class="row g-4">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/exernab (1).jpg" alt="Image 1">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
         
                    
<form>
<div class="form-group text-md-end ">  
   <input type="text" name="text" id="text">
 <label>  
        </label>
</div> </form> 
</div>
</div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/exernab (2).jpg" alt="Image 2">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
                                  
<form>
<div class="form-group text-md-end ">  
   <input type="text" name="text" id="text">
 <label>  
        </label>
</div> </form> 
           </div>
   </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/exernab (3).jpg" alt="Image 3">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
   <input type="text" name="text" id="text">
 <label>  
        </label>
</div> </form> 
            </div>
   </div>
</div>
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/exernab (4).webp" alt="Image 4">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
                                  
<form>
<div class="form-group text-md-end ">  
   <input type="text" name="text" id="text">
 <label>  
        </label>
</div> </form> 
             </div>
   </div>
</div>
</div>

<br>


<div class="row g-4">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/hchich.png" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
</div>
</div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/tofeha.jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/warda.jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
             </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/chajra.png" alt="Image 4">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
              </div>
    </div>
</div>
</div>


<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>






<!-- ********************************************************************************** -->

<br><br><br><br>