<app-nav2></app-nav2>

  <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> التنفس  </h1>
                
            </div>
        </div>
    </div>
</div>

<!-- Header End -->




<!-- contenu start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" >    الحاجة إلى التنفس عند الحيوان      </h3>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>


<br><br><br><br>
<div class="row g-2">
<div class="col-lg-6 text-center">
    <img class="image" src="assets/img/fes (2).jpg" alt=>

</div>
<div class="col-lg-6 text-center">
    <img class="image" src="assets/img/fes (1).jpg" alt=>

</div>
</div>


<br><br><br><br>
<div class="text-center">
<h3>
    التنفس شيء مهم بالنسبة إلى جميع الكائنات الحية <br>
و قد تحتاج الحيوانات إلى التنفس للبقاء على قيد الحياة فنجد طرق التنفس لديهم تختلف من حيوان لٱخر فمنهم من يتنفس في الهواء الطلق و منهم من يتنفس تحت الماء و منهم من يتنفس  في الهواء الطلق و الماء معا
</h3>
</div>
<br><br><br><br>
<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > الحاجة إلى التنفس عند الإنسان   </h3>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

</div>

<div class="text-center">
    <img class="image" src="assets/img/mise-en-avant-1.webp" alt=>
</div>

<br><br><br><br><br><br><br>
<div class="text-center">
     <img class="image" src="assets/img/mise.jpeg" alt=>

</div>
<br><br><br><br><br>
<div class="text-center">
<h3>
    
عندما نتنفس، نأخذ شيئًا يسمى "هواء" من حولنا. هذا الهواء يحتوي على شيء مهم يسمى "أكسجين". جسمنا يحتاج <br><br>إلى الأكسجين ليعمل بشكل صحيح وليعطينا القوة والطاقة للعب والتعلم والقيام بكل الأشياء التي نحبها.

عندما نتنفس يذهب <br><br>الهواء إلى داخل أجسامنا، وتأخذ الأجزاء الداخلية من جسمنا ما يحتاجه من الأكسجين. ثم يتم التخلص من شيء آخر اسمه <br><br>ثاني أكسيد الكربون. هذا الشيء ليس جيدًا لجسمنا، لذلك نحن بحاجة للتخلص منه

التنفس يساعدنا في البقاء على قيد الحياة<br><br> والعمل بشكل جيد. إنه شيء يحدث تلقائيًا وبدون أن نفكر فيه، وهو يجعلنا نشعر بالراحة والنشاط

</h3>
</div>
<br><br><br>
<div class="row g-2">
<div class="col-lg-6">
<img class="image" src="assets/img/istockphoto-1346624734-170667a.jpg" alt=>

</div>
<div class="col-lg-6">
<img class="image" src="assets/img/istockphoto-950300474-612x612.jpg" alt=>

</div>
</div>

<br>
<div class="row g-2">
<div class="col-lg-6">
<h3 class="text-center">
    عندما يكون الإنسان يتحرك يصبح يتنفس بسرعة أكثر و بشكل مستمر
</h3>
</div>
<div class="col-lg-6">
<h3 class=" text-center">
    عندما يكون يسبح يصبح يتنفس بشكل متقطع لأن الإنسان لا يتنفس تحت الماء
</h3>
</div>
</div>

<br><br><br><br><br><br>


