
<app-nav2> </app-nav2>

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown"> المحيط </h1>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->




 <!-- contenu start -->

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title bg-white text-center text-primary px-3" > المحيط القريب من الطفل : أنواع الحيوانات الموجودة في محيط الطفل و تصنيفهم </h3>
                <h1 class="mb-5"> ** تلخيص **</h1>
            </div>
         </div>

    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/img/alhh.jpg" class="img-fluid" alt="Image 1">
          </div>
          <div class="col-md-6">
            <img src="assets/img/alhhh.png" class="img-fluid" alt="Image 2">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="assets/img/blh.jpg" class="img-fluid" alt="Image 1">
          </div>
          <div class="col-md-6">
            <img src="assets/img/alh.jpg" class="img-fluid" alt="Image 2">
          </div>
        </div>
      </div>
      

       <br><br><br>
<h3 class="text-center">الحيوانات الموجودة في محيط الطفل عادة ماتكون حيوانات أليفة حيث لا تشكل أي خطر على حياة الإنسان عامة و الطفل خاصة  • <br>
    فنجد هذه الحيوانات تنتمي إلى أصناف مختفة منها المائية و البرية و الزواحف و الحشرات <br><br>
    مثال : القطة ، الكلب ، الخروف ، البقر ، العصفور ، الحمام ، الفراشة ، دجاج <br>  ...الأسماك ، الضفادع ، الحلزون ، الدودة ، السلحفاة ، النملة  </h3>
   
    <br><br><br>
    <h3 class="text-center"> : كل هذه الحيوانات التي ذكرناها مختلفة عن بعضها البعض و يتمثل هذا الإختلاف  •  <br>إختلاف أماكن و نمط عيشهم  <br>
        و إختلاف أشكالهم ( يكسو أجسامهم ريش ، شعر ، جلد ... )  
       
<br><br><br>

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/img/gjgj.png" class="img-fluid" alt="Image 1">
      </div>
      <div class="col-md-6">
        <img src="assets/img/xcxc.png" class="img-fluid" alt="Image 2">
      </div>
    </div>
  </div>


         
<br><br><br>

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/img/vf.png" class="img-fluid" alt="Image 1">
      </div>
      <div class="col-md-6">
        <img src="assets/img/vff.png" class="img-fluid" alt="Image 2">
      </div>
    </div>
  </div>
 <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/img/sarra.png" class="img-fluid" alt="Image 1">
      </div>
      <div class="col-md-6">
        <img src="assets/img/xwxw.jpg" class="img-fluid" alt="Image 2">
      </div>
    </div>
  </div>
 
   <br><br><br> <br><br><br>
   
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
               <h1 class="mb-5"> ** تمارين **</h1>
            </div>
         </div>
    </div>



    <h3 class="text-center text-danger">أكتب في الخانة :  حيوان بري / حيوان مائي / حيوان برمائي / حيوان زاحف  / طائر / حشرة </h3><br>
 <br>
    <div class="row g-3">
       <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
           <div class="team-item bg-light">
               <div class="overflow-hidden">
                   <img class="img-fluid image-equal-height" src="assets/img/grou.jpg" alt="Image 1">
               </div>
               <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                   <div class="bg-light d-flex justify-content-center pt-2 px-1">
                   </div>
               </div>
               <div class="text-center p-4">
                 
                            
   <form>
       <div class="form-group text-md-end ">  
           <input type="text" name="text" class="question2" id="t1">  
         <label>  
                </label>
       </div> </form> 
    </div>
       </div>
       </div>
   
       <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
           <div class="team-item bg-light">
               <div class="overflow-hidden">
                   <img class="img-fluid image-equal-height" src="assets/img/mous.jpg" alt="Image 2">
               </div>
               <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                   <div class="bg-light d-flex justify-content-center pt-2 px-1">
                   </div>
               </div>
               <div class="text-center p-4">
                                          
   <form>
       <div class="form-group text-md-end ">  
           <input type="text" name="text" class="question2" id="t2"> 
         <label>  
                </label>
       </div> </form> 
                   </div>
           </div>
       </div>
   
       <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
           <div class="team-item bg-light">
               <div class="overflow-hidden">
                   <img class="img-fluid image-equal-height" src="assets/img/chat.jpg" alt="Image 3">
               </div>
               <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                   <div class="bg-light d-flex justify-content-center pt-2 px-1">
                   </div>
               </div>
               <div class="text-center p-4">
                                           
   <form>
       <div class="form-group text-md-end ">    
           <input type="text" name="text" class="question2" id="t3">
         <label>  
                </label>
       </div> </form> 
                    </div>
           </div>
       </div>
       
</div>
<br> <div class="row g-3">
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/oiseau.jpg" alt="Image 1">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
              
                         
<form>
    <div class="form-group text-md-end ">  
        <input type="text" name="text" class="question2" id="t4"> 
      <label>  
             </label>
    </div> </form> 
 </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/ver.jpg" alt="Image 2">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                                       
<form>
    <div class="form-group text-md-end ">  
        <input type="text" name="text" class="question2" id="t5"> 
      <label>  
             </label>
    </div> </form> 
                </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/poisson.jpg" alt="Image 3">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                                        
<form>
    <div class="form-group text-md-end ">    
        <input type="text" name="text" class="question2" id="t6">
      <label>  
             </label>
    </div> </form> 
                 </div>
        </div>
    </div>
    
</div>


<div class="mt-5 text-center">
    <a class="btn btn-outline-warning" id="checkButton2"> أنهيت عملي</a>
 </div>
 
 <br><br><br><br><br>
 <div id="corrections2" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div><br><br><br> 




<p class="text-center" >**********************************************************************************</p>
 
<br><br><br><br><br>




<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
            <img  src="assets/img/asad.png" alt=>
       </div>

       <div class="col-md-6">
<br>
<h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
<br><br>

         <div class="form-check text-md-end ">
           <label>
              <input type="checkbox" name="" ><strong>
                  الأسد حيوان بري  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
          
          
                   <input type="checkbox" name="" class="question1"><strong>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
              
          
          
                  </label>
          </div><br>

          <div class="form-check text-md-end ">
              <label>
                 <input type="checkbox" name="" ><strong>
                  الأسد حيوان مائي :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
             
             
                      <input type="checkbox" name="" class="question1"><strong>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                 
             
             
                     </label>
             </div><br>  

             
          <div class="form-check text-md-end ">
              <label>
                 <input type="checkbox" name="" ><strong>
                  الأسد يعيش في القن :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
             
             
                      <input type="checkbox" name="" class="question1"><strong>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                 
             
             
                     </label>
             </div><br>  

             
          <div class="form-check text-md-end ">
              <label>
                 <input type="checkbox" name="" ><strong>
                  الأسد يعيش في الغابة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
             
             
                      <input type="checkbox" name="" class="question1"><strong>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                 
             
             
                     </label>
             </div><br>  

           

         </div>
        
         <div class="container-fluid">
          <div class="row">
              <div class="col-md-6">
                    <img  src="assets/img/hwita.png" alt=>
               </div>
      
               <div class="col-md-6">
      
      
                 <div class="form-check text-md-end ">
                   <label>
                      <input type="checkbox" name="" ><strong>
                          السمكة حيوان بري  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                  
                  
                           <input type="checkbox" name="" class="question1"><strong>
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                      
                  
                  
                          </label>
                  </div><br>
      
                  <div class="form-check text-md-end ">
                      <label>
                         <input type="checkbox" name="" ><strong>
                          السمكة حيوان مائي :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                     
                     
                              <input type="checkbox" name="" class="question1"><strong>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                         
                     
                     
                             </label>
                     </div><br>  
      
                     
                  <div class="form-check text-md-end ">
                      <label>
                         <input type="checkbox" name="" ><strong>
                          السمكة تعيش في الإسطبل  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                     
                     
                              <input type="checkbox" name="" class="question1"><strong>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                         
                     
                     
                             </label>
                     </div><br>  
      
                     
                  <div class="form-check text-md-end ">
                      <label>
                         <input type="checkbox" name="" ><strong>
                          السمكة تعيش في البحر أو في حوض مملوء بالماء :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                     
                     
                              <input type="checkbox" name="" class="question1"><strong>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                         
                     
                     
                             </label>
                     </div><br>  
      
                   
      
                 </div>

  </div>
</div>



<div class="container-fluid">
  <div class="row">
      <div class="col-md-6"><br><br><br>
            <img  src="assets/img/tatous.jpg" alt=>
       </div>

       <div class="col-md-6">
<br>
<h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
</h3>


         <div class="form-check text-md-end ">
           <label>
              <input type="checkbox" name="" ><strong>
                  القطة حيوان بري   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
          
          
                   <input type="checkbox" name="" class="question1"><strong>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
              
          
          
                  </label>
          </div><br>

          <div class="form-check text-md-end ">
              <label>
                 <input type="checkbox" name="" ><strong>
                  القطة حيوان مائي :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
             
             
                      <input type="checkbox" name="" class="question1"><strong>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                 
             
             
                     </label>
             </div><br>  

             
          <div class="form-check text-md-end ">
              <label>
                 <input type="checkbox" name="" ><strong>
                  القطة تعيش في المنزل  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
             
             
                      <input type="checkbox" name="" class="question1"><strong>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                 
             
             
                     </label>
             </div><br>  

             
          <div class="form-check text-md-end ">
              <label>
                 <input type="checkbox" name="" ><strong>
                  القطة تعيش في العرين :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
             
             
                      <input type="checkbox" name="" class="question1"><strong>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                 
             
             
                     </label>
             </div><br>  

           

         </div>

</div>
</div>



<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
            <img  src="assets/img/nahoula.png" alt=>
       </div>

       <div class="col-md-6">
<br>
<h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
</h3>


         <div class="form-check text-md-end ">
           <label>
              <input type="checkbox" name="" ><strong>
                  النحلة هي حيوان مائي  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
          
          
                   <input type="checkbox" name="" class="question1"><strong>
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
              
          
          
                  </label>
          </div><br>

          <div class="form-check text-md-end ">
              <label>
                 <input type="checkbox" name="" ><strong>
                  النحلة هي حشرة  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
             
             
                      <input type="checkbox" class="question1" name="" ><strong>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                 
             
             
                     </label>
             </div><br>  

             
          <div class="form-check text-md-end ">
              <label>
                 <input type="checkbox" name="" ><strong>
                  النحلة تعيش في البحر  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
             
             
                      <input type="checkbox" class="question1" name="" ><strong>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                 
             
             
                     </label>
             </div><br>  

             
          <div class="form-check text-md-end ">
              <label>
                 <input type="checkbox" name="" ><strong>
                  النحلة تعيش في الخلية :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
             
             
                      <input type="checkbox" class="question1" name="" ><strong>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                 
             
             
                     </label>
             </div>

           

         </div>

</div>
</div>



       

<div class="mt-5 text-center">
  <a class="btn btn-outline-warning" id="checkButton1"> أنهيت عملي</a>
</div><br><br><br> 
<div id="corrections1" style="text-align: center;">
   <!-- Les corrections seront affichées ici -->
</div><br><br><br> 









<br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  



 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > المحيط القريب من الطفل : أنواع النباتات الموجودة في محيط الطفل </h3>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>


<div class="row g-4">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/ysqi.jpg" alt="Image 1">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
               
                 </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/ercha.jpg" alt="Image 2">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
               
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/arb.jpg" alt="Image 3">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
               </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/fleur.png" alt="Image 4">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                 
            </div>
        </div>
    </div>
</div>

   <br><br><br>
<h3 class="text-center">   ... النباتات الموجودة في محيط الطفل عادة ماتكون  أزهار ، أشجار مثمرة ، أشجار زينة ، شجيرات , أعشاب  • </h3>
<br><br><br>
<div class="text-center">
<img class="image" src="assets/img/aro.jpg" alt=>
</div>
<br><br><br> <br><br><br>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
        </div>
     </div>
</div>



<h3 class="text-center text-danger">أكتب في الخانة : شجرة مثمرة / شجيرة / أعشاب / أزهار </h3><br>
<br>
<div class="row g-3">
   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/hchich.png" alt="Image 1">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
             
                        
<form>
   <div class="form-group text-md-end ">  
       <input type="text" name="text" class="question7" id="1"> 
     <label>  
            </label>
   </div> </form> 
</div>
   </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/warda.jpg" alt="Image 2">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                      
<form>
   <div class="form-group text-md-end ">  
       <input type="text" name="text" class="question7" id="2"> 
     <label>  
            </label>
   </div> </form> 
               </div>
       </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/chajra.png" alt="Image 3">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                       
<form>
   <div class="form-group text-md-end ">    
       <input type="text" name="text" class="question7" id="3">
     <label>  
            </label>
   </div> </form> 
                </div>
       </div>
   </div>
   
</div>
<br> <div class="row g-3">
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/tofeha.jpg" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     
<form>
 <div class="form-group text-md-end ">  
    <input type="text" name="text" class="question7" id="4"> 
    <label>  
    </label>
 </div> 
</form> 
 </div>
 </div>
 </div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/chich.jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" class="question7" id="5"> 
  <label>  
         </label>
</div> </form> 
            </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/rose.jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
<form>
<div class="form-group text-md-end ">    
    <input type="text" name="text" class="question7" id="6">
  <label>  
         </label>
</div> </form> 
             </div>
    </div>
</div>

</div>



<div class="mt-5 text-center">
<a class="btn btn-outline-warning" id="checkButton7"> أنهيت عملي</a>
</div><br><br><br> 
<div id="corrections7" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div><br><br><br> 
<div id="corrections4" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div>
<br><br><br> 
<div id="corrections3" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div>
<br><br><br> 
<div id="corrections9" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div>






 
<br><br><br><br>
 <!-- ********************************************************************************** -->


 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > المحيط القريب من الطفل : محافظة الإنسان على الحيوانات </h3>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>


<div class="row g-4">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/tata.jpg" alt="Image 1">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
               
                 </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/mama.png" alt="Image 2">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
               
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/papa.jpg" alt="Image 3">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
               </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/joud.webp" alt="Image 4">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                 
            </div>
        </div>
    </div>
</div>


<br><br><br><br>
<h3 class="text-center">    المحافظة على الحيوانات هي عمل جميل ويجب أن يتمتع به الجميع عامة و الأطفال خاصة فمساعدة الحيوانات ومعرفة <br><br>أنها جزء من هذا العالم الجميل الذي نعيش فيه  هي خطوات جيدة لنتعلم العناية والحماية والمحبة للكائنات الحية من حولنا<br><br> و يوجد العديد من الوسائل للحماية و المحافظة على الحيوانات منها ;
    أحترامهم حيث على الجميع أن يتعلموا أن الحيوانات<br><br> تستحق احترامًا ومعاملة لطيفة، و أن يكونوا حنونين ورقيقين مع الحيوانات ، حيث لا تسحب أذنيه أو ذيله و لا تضربه <br><br>.أو تحاول دعسه، و خاصة لا تحمّله فوق طاقته، ولا تقم بتعذيبه أبداً ، و كن عطوفاً معه وارفق به، يكن لك صديقاً وفياً</h3>
<br><br><br>
<div class="text-center">
<img class="image" src="assets/img/xx.jpg" alt=>
</div>
 <br><br><br> <br><br><br>
 <h3 class="text-center">
    لقد تغنّى الشعراء بالعديد من القيم والأخلاق الحميدة فنجد الشاعرأحمد شوقي يتغنى بالرفق بالحيوان والرحمة و الرأفة بهم فيقول<br><br><br>
الحَيوانُ خَلقُ ... لَهُ عَلَيكَ حَقُّ<br>
سَخَّــرَهُ اللَهُ لَكَ ... وَلِلعِبادِ قَبلَكَ<br>
حَمــولَةُ الأَثقالِ ... وَمُرضِعُ الأَطفالِ<br>
وَمُطعِمُ الجَماعَة ... وَخادِمُ الزِراعَه<br>
مِن حَقِّهِ أَن يُرفَقا ... بهِ وَأَلّا يُـــرهَــقا<br>
إِن كَلَّ دَعهُ يَستَرِح ... وَداوِهِ إِذا جُـــــرِح<br>
وَلا يَجُـــــع في دارِكَ ... أَو يَظمَ في جِوارِكَ<br>
بَهيمَةٌ مِسكينُ ... يَشكو فَلا يُبينُ<br>
لِسانُهُ مَقطوعُ ... وَما لَهُ دُموعُ<br>

 </h3>


<br><br><br><br><br><br>


 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > المحيط القريب من الطفل : محافظة الإنسان على النباتات  </h3>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>


<div class="row g-4">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/nat.jpg" alt="Image 1">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
               
                 </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/nab.jpg" alt="Image 2">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
               
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/natt.jpg" alt="Image 3">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
               </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/nabb.png" alt="Image 4">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                 
            </div>
        </div>
    </div>
</div>


<br><br><br><br>
<h3 class="text-center"> تحافظ النباتات على كوكبنا و نقائه وتلعب دورًا مهمًا في حياتنا اليومية لذلك علينا المحافظة عليها و العناية بها جيدا <br><br>من خلال زراعة الكثير من النباتات و سقيها بإنتظام و توفير الضوء لها  فالنباتات تحتاج إلى ضوء الشمس للنمو <br><br> و كذلك تنظيف و إزالة الأوراق الميتة أو التالفة بانتظام للمحافظة على مظهرها الجميل ومنع انتشار الأمراض
</h3><br><br><br>
<div class="text-center">
<img class="image" src="assets/img/xx.jpg" alt=>
</div>
 <br><br><br> <br><br><br>
 
