<app-nav2></app-nav2>

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header4 ">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown"> التنفس </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


 <!-- contenu start -->

 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" >   حركات القفص الصدري و إنتظام حركات التنفس   </h3>
                <br><br><br><br>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>

<div class="text-center">
    <h3>
        التنفس شيء مهم بالنسبة إلى جميع الكائنات الحية <br>
    و قد تحتاج الحيوانات إلى التنفس للبقاء على قيد الحياة فنجد طرق التنفس لديهم تختلف من حيوان لٱخر فمنهم من يتنفس في الهواء الطلق و منهم من يتنفس تحت الماء و منهم من يتنفس  في الهواء الطلق و الماء معا
    </h3>
    </div>
    <br><br><br><br>
    <div class="row g-2">
    <div class=" col-lg-6 text-center">
    <img class="image" src="assets/img/animal-8.jpg" alt=>
    </div>
    <div class="col-lg-6 text-center">
    <img class="image" src="assets/img/ggh.jpg" alt=>
    </div>
    </div>
    <br><br><br><br><br><br><br><br>

<div class="text-center">
    <img src="assets/img/omg (2).png" class="img-fluid" alt="Image 1">  
    </div>
    
    
    <div class="text-center">
        <img class="image" src="assets/img/hh.jpg" alt=>
    
    </div>
    <div class="text-center">
        <img src="assets/img/omg (1).png" class="img-fluid" alt="Image 1">  
        </div>
    
    
        <div class="text-center">
            <img class="image" src="assets/img/fes (2).jpg" alt=>
        
        </div>

<br><br><br><br><br>

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                   <h1 class="mb-5"> ** تمارين **</h1>
                </div>
             </div>
        </div>
        


<div class=" text-center"> 
    <h3 class="text-center text-danger">&nbsp;&nbsp;&nbsp;
    : "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </h3><br> 
    <br><br>

    <div class="text-center">
           <div class="form-check ">
             <label>
                <input type="checkbox" name="" ><strong>
                    غلاصم الأسماك حمراء نظرا لتدفق الدم فيها عبر أوعية دموية كثيرة الفروع    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
            
            
                      <input type="checkbox" class="question1" name="" ><strong>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                
            
            
                    </label>
            </div><br>
    


            <div class="form-check  ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    يتنفس الحيوان في الوسط الذي يعيش فيه     :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                    <input type="checkbox" class="question1" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>



            <div class="form-check  ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    تستطيع البقرة التنفس في البر و في الماء معا لأنها تمتلك رئتين و غلاصم
                    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                    <input type="checkbox" class="question1" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br> 



               <div class="form-check  ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    يتم البدء في العملية التنفسية لدى الحيوان البري بفتحة الأنف وتجويف البلعوم، ثم الحنجرة والقصبة الهوائية، والشعب الهوائية، وأخيراً الحويصلات الهوائية  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                    <input type="checkbox" class="question1" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br> 
    
               
               <div class="form-check  ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    يتم البدء في العملية التنفسية لدى الحيوان البري بفتحة الأنف وتجويف البلعوم، ثم  الحويصلات الهوائية  وأخيراً الحنجرة والقصبة الهوائية، والشعب الهوائية  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                    <input type="checkbox" class="question1" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br> 
               
            <div class="form-check  ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    يختنق الحيوان البري ثم يموت إذا طال بقاؤه تحت الماء    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                    <input type="checkbox" class="question1" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br> 
    
               
             
    
    
                 
            <div class="form-check  ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    تتنفس الأسماك بواسطة غلاصمها فتستهلك الأكسجين المنحل في الماء     :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                    <input type="checkbox" class="question1" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>    
    
            <br> 
               </div></div>
         

               <div class="mt-5 text-center">
                <a class="btn btn-outline-warning"  id="checkButton1"> أنهيت عملي</a>
            </div> 
            <br><br><br> <div  id="corrections1">
                <!-- Les corrections seront affichées ici -->
            </div>                
                     <br><br><br><br><br><br>
      


    <!-- Team End -->