
<app-nav2></app-nav2>

  <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header2 ">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">  الفضاء    </h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->



<!-- contenu start -->

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" >  وصف الأبعاد الظاهرية و مقارنة المسافات بالإعتماد على الأبعاد الظاهرية
              </h3>
            <br><br><br><br>
        <h1 class="mb-5"> ** تلخيص **</h1>
</div>
</div>
</div>
<div class="text-center">
<img src="assets/img/hmd.png" class="img-fluid" alt="Image 1">

</div>
<br><br><br><br><br>
<div class="container">
<div class="row">
  <div class="col-md-6"><br>
    <img src="assets/img/she (1).jpg" class="img-fluid" alt="Image 1">
  </div>
  <div class="col-md-6 text-md-end">
<h3 class="text-danger"> : أمثلة 
</h3> <br>
<h3>  الأرنب رقم 1 هو أقرب أرنب من الطفل لذلك يبدو وكأنه أكبر أرنب<br><br>
    الأرنب رقم 6 هو أبعد أرنب عن الطفل لذلك يبدو وكأنه أصغر أرنب<br><br>
    الأرنب رقم 2 أقرب من الأرنب رقم 3 للطفل لذلك يبدو وكأنه الأرنب رقم 2  أكبر من الأرنب رقم 3<br><br>
    الأرنب رقم 5 أبعد من الأرنب رقم 4 عن الطفل لذلك يبدو وكأنه الأرنب رقم 5  أصغر من الأرنب رقم 4
</h3>    
 
</div>
</div>
</div>


<br><br><br><br><br>
<div class="container">
<div class="row">
  <div class="col-md-6"><br><br>
    <img src="assets/img/she (2).jpg" class="img-fluid" alt="Image 1">
  </div>
  <div class="col-md-6 text-md-end">

<h3> الشجرة رقم 1 هي الأقرب من الطفل لذلك تبدو وكأنها أكبر شجرة<br><br>
    الشجرة رقم 4 هي الأبعد عن الطفل لذلك تبدو وكأنها أصغر شجرة <br><br>
    الشجرة رقم 2 أقرب من الشجرة رقم 3 للطفل لذلك تبدو وكأنها الشجرة رقم 2  أكبر من الشجرة رقم 3<br><br>
    الشجرة رقم 3 أبعد من الشجرة رقم 2 عن الطفل لذلك تبدو وكأنها الشجرة رقم 3  أصغر من الشجرة رقم 2 
    



</h3>    
 
</div>
</div>
</div>







<br><br><br><br><br><br>

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
       <h1 class="mb-5"> ** تمارين **</h1>
    </div>
 </div>
</div>


<br><br><br><br><br><br>
<div class="text-center">
<img src="assets/img/bzz22.png" class="img-fluid" alt="Image 1">

</div>
<br><br><br><br><br>
<div class="container-fluid">
<div class="row">
    <div class="col-md-6">
          <img  src="assets/img/bz.jpg" alt=>
     </div>

     <div class="col-md-6">

        <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
          : أضع علامة في الخانة المناسبة&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </h3><br><br>


       <div class="form-check text-md-end ">
         <label>
            <input type="checkbox" name="" ><strong>
                الدب رقم 1 هو أقرب دب   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
        
        
                <input type="checkbox" class="question3"  name="" ><strong>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            
        
        
                </label>
        </div><br>

        <div class="form-check text-md-end ">
            <label>
               <input type="checkbox" name="" ><strong>
                الدب رقم 2 هو أقرب دب :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3"  name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  

           <div class="form-check text-md-end ">
            <label>
               <input type="checkbox" name="" ><strong>
                الدب رقم 3 هو أبعد دب :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3"  name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  

           <div class="form-check text-md-end ">
            <label>
               <input type="checkbox" name="" ><strong>
                الدب رقم 4 هو أبعد دب :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3"  name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> 
           <div class="form-check text-md-end ">
            <label>
               <input type="checkbox" name="" ><strong>
                الدب رقم 2  أقرب من الدب رقم 3 :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3"  name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  
           <div class="form-check text-md-end ">
            <label>
               <input type="checkbox" name="" ><strong>
                الدب رقم 3 أبعد من الدب رقم 4:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3"  name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  
           <div class="form-check text-md-end ">
            <label>
               <input type="checkbox" name="" ><strong>
                الدب رقم 3 أبعد من الدب رقم 2:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3"  name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>   <div class="form-check text-md-end ">
            <label>
               <input type="checkbox" name="" ><strong>
                الدب رقم 2 أقرب من الدب رقم 4:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3"  name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  



       </div>

</div>
</div>




<div class="mt-5 text-center">
    <a class="btn btn-outline-warning"  id="checkButton3"> أنهيت عملي</a>
   
 </div> 
 <br><br><br> <div  id="corrections3" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div>   

<br><br><br><br><br>

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > مقارنة المسافات بالإعتماد على التغطية           </h3>
            <br><br><br><br>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

</div>

<div class="text-center">
<img src="assets/img/phoca.jpg" class="img-fluid">
</div>





<br><br><br>
<div class="row g-3">
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/phoca_thumb_l_reprages_1.png" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     <h3>
                        في الوضعية 1 الصندوق يغطي جزء من القط و كذلك القط  يغطي جزء من الصندوق <br>
في الوضعية 2 القط يغطي جزء من الصندوق <br>
في الوضعية 3 الصندوق يغطي جزء من القط  
                     </h3>

</div>
</div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/phoca_thumb_l_reprages_2.png" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
              <h3>
                في الوضعية 1 العش يغطي جزء من العصفور<br>
في الوضعية 2 العصفور يغطي جزء من العش <br>
في الوضعية 3 كذلك العصفور يغطي جزء من العش
              </h3>                     

            </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/phoca_thumb_l_reprages_3.png" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    <h3>
                                        في الوضعية 1 الولد يغطي جزء من الراديو<br>
                                        في الوضعية 2 الراديو يغطي جزء من الولد <br>
                                        في الوضعية 3 الولد و الراديو لا يغطيان بعضهما البعض لأنهما ليس على نفس الإستقامة 
                                    </h3>

             </div>
    </div>
</div>
</div>
<br><br><br><br><br>


<div class="text-center">
<img src="assets/img/eyab.png" class="img-fluid">
</div>


<br><br><br><br><br><br>

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
       <h1 class="mb-5"> ** تمارين **</h1>
    </div>
 </div>
</div>

<br><br><br><br><br>
<div class="container-fluid">
<div class="row">
    <div class="col-md-6">
          <img  src="assets/img/phoca_thumb_l_reprages_4.png" alt=>
     </div>

     <div class="col-md-6">

        <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
          : أضع علامة في الخانة المناسبة&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </h3><br><br>

        
        
        <div class="form-check text-md-end">
            <label>
                <input type="checkbox" name="" ><strong>
                    في الوضعية 2 النبتة و النحلة ليس على نفس الإستقامة إذن لا يغطيان بعضهما البعض :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                    <input type="checkbox" class="question4"  name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
                     </label>
        </div>
        
        <div class="form-check text-md-end">
            <label>
                <input type="checkbox" name="" ><strong>
                    في الوضعية 1 النبتة تغطي جزء من النحلة   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
            
            
                    <input type="checkbox" class="question4"  name="" ><strong>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                
               </label>
        </div>
        <br>
        <div class="form-check text-md-end">
            <label>
                <input type="checkbox" name="" ><strong>
                    في الوضعية 2 النبتة تغطي جزء من النحلة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                    <input type="checkbox" class="question4"  name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                         </label>
        </div>
        <br>
        <div class="form-check text-md-end">
            <label>
                <input type="checkbox" name="" ><strong>
                    في الوضعية 3 النحلة تغطي جزء من النبتة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                    <input type="checkbox" class="question4"  name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               </label>
        </div>
        </div></div></div><br>

<br><br><br><br><br>
<div class="container-fluid">
<div class="row">
    <div class="col-md-6">
          <img  src="assets/img/phoca_thumb_l_reprages_6.png" alt=>
     </div>

     <div class="col-md-6">
<br><br>
        <div class="form-check text-md-end ">
            <label>
               <input type="checkbox" name="" ><strong>
                في الوضعية 1 القدر يغطي جزء من الملعقة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question4"  name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  

       <div class="form-check text-md-end ">
         <label>
            <input type="checkbox" name="" ><strong>
                في الوضعية 2 القدر يغطي جزء من الملعقة   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
        
        
                <input type="checkbox" class="question4"  name="" ><strong>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            
        
        
                </label>
        </div><br>

        
           <div class="form-check text-md-end ">
            <label>
               <input type="checkbox" name="" ><strong>
                في الوضعية 2 الملعقة تغطي جزء من القدر :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question4"  name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  

           <div class="form-check text-md-end ">
            <label>
               <input type="checkbox" name="" ><strong>
                في الوضعية 3 القدر يغطي جزء من الملعقة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question4"  name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
            </label>
        </div><br> 



    </div>
</div>
</div>


<div class="mt-5 text-center">
    <a class="btn btn-outline-warning"  id="checkButton4"> أنهيت عملي</a>
   
 </div> 
 <br><br><br> <div  id="corrections4" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div>   

<br><br><br><br><br>



<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > وحدة قيس الأطوال : المتر           </h3>
            <br><br><br><br>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

</div>
<br>
<div class="text-center">
<img src="assets/img/sert (1).jpg" class="img-fluid">
</div>
<br><br><br><br>
<div class="row g-2">
<div class="col-lg-6">
    <img src="assets/img/sert (2).png" class="img-fluid">

</div>
<div class="col-lg-6">
    <img src="assets/img/sert (6).png" class="img-fluid">

</div>
</div>


<br><br><br><br><br><br>


<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > وحدة قيس السِّعات : اللتر           </h3>
            <br><br><br><br>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

</div>
<br>
<div class="text-center">
<img src="assets/img/litre.png" class="img-fluid">
</div>
<br><br><br><br>
<div class="text-center">
    <img src="assets/img/LIT.png" class="img-fluid">

</div>












<br><br><br><br><br><br>

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
       <h1 class="mb-5"> ** تمارين **</h1>
    </div>
 </div>
</div>

<br><br><br><br><br>
<div class="text-center">
<h3 class=" text-danger">&nbsp;&nbsp;&nbsp;
    : أقدر سعة كل وعاء : أكثر من 1 لتر/ أقل من 1 لتر / يساوي 1 لتر
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </h3><br><br>
          <img  src="assets/img/eaux (3).png" alt=>
     </div>
<br><br><br>

     <div class="container">
        <div class=" row g-2">

            <div class="col-lg-6">
                                     
                <form>
                    <div class="form-group text-md-end ">
                        <input type="text" class="question5" name="x1" id="x1">
                      <label> الوعاء الذي في الصورة 6
                        
                     
                             </label>
                    </div> </form><br>                 
                    <form>
                        <div class="form-group text-md-end ">
                            <input type="text" class="question5" name="x2" id="x2">
                          <label> الوعاء الذي في الصورة 7
                            
                         
                                 </label>
                        </div> </form><br>                 
                        <form>
                            <div class="form-group text-md-end ">
                                <input type="text" class="question5" name="x3" id="x3">
                              <label> الوعاء الذي في الصورة 8
                                
                             
                                     </label>
                            </div> </form><br>                 
                            <form>
                                <div class="form-group text-md-end ">
                                    <input type="text" class="question5" name="x4" id="x4">
                                  <label> الوعاء الذي في الصورة 9
                                    
                                 
                                         </label>
                                </div> </form><br>                 
                                <form>
                                    <div class="form-group text-md-end ">
                                        <input type="text" class="question5" name="x5" id="x5">
                                      <label> الوعاء الذي في الصورة 10
                                        
                                     
                                             </label>
                                    </div> </form><br>
                                </div>

            <div class="col-lg-6">
<form>
    <div class="form-group text-md-end ">  
        <input type="text" class="question5" name="x6" id="x6">
      <label> الوعاء الذي في الصورة 1 
        
     
             </label>
    </div> </form><br>

      
<form>
            <div class="form-group text-md-end ">   
                <input type="text" class="question5" name="x7" id="x7">
              <label>الوعاء الذي في الصورة 2
                
             
                     </label>
            </div> </form><br>

            
<form>
<div class="form-group text-md-end ">
    <input type="text" class="question5" name="x8" id="x8">
  <label>الوعاء الذي في الصورة 3
    
 
         </label>
</div> </form><br>

                            
                <form>
                    <div class="form-group text-md-end ">
                        <input type="text" class="question5" name="x9" id="x9">
                      <label> الوعاء الذي في الصورة 4
                        
                     
                             </label>
                    </div> </form><br>


                                 
                <form>
                    <div class="form-group text-md-end ">
                        <input type="text" class="question5" name="x10" id="x10">
                      <label> الوعاء الذي في الصورة 5
                        
                     
                             </label>
                    </div> </form><br>
                </div>

    </div>
</div>





<br><br><br><br><br>

<div class="mt-5 text-center">
    <a class="btn btn-outline-warning" id="checkButton5"> أنهيت عملي</a>
 </div>
 <br><br><br> <div  id="corrections5" style="text-align: center;">
   <!-- Les corrections seront affichées ici -->
</div>

<br><br><br>




<!-- ********************************************************************************** -->

<br><br><br><br>
<!-- ********************************************************************************** -->

