<app-nav2></app-nav2>
  <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header6 ">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> الطاقة </h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- contenu start -->

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" >التأثير الحراري للتيار الكهربائي<br>
            التأثير الكيميائي للتيار الكهربائي <br>
            التأثير المغناطيسي للتيار الكهربائي
          
            </h3>
            <br><br><br><br>
        <h1 class="mb-5">  ** تلخيص **</h1>
    </div>
 </div>
</div>


<div class="text-center">
<img src="assets/img/etbbwkr (1).png" class="img-fluid" alt="Image 1">  
</div>

<div class=" text-center">
    <img class="image" src="assets/img/etbbwkr (2).png" alt=>
</div>
<div class=" text-center">
    <img class="image" src="assets/img/etbbwkr (3).png" alt=>
</div>

<div class="text-center">
<img src="assets/img/etbbwkr (4).png" class="img-fluid" alt="Image 1">  
</div>

<div class=" text-center">
    <img class="image" src="assets/img/etbbwkr (5).png" alt=>
</div>
<div class=" text-center">
    <img class="image" src="assets/img/etbbwkr (6).png" alt=>
</div>

<div class="text-center">
<img src="assets/img/etbbwkr (7).png" class="img-fluid" alt="Image 1">  
</div>

<div class=" text-center">
    <img class="image" src="assets/img/etbbwkr (8).png" alt=>
</div>
<div class=" text-center">
    <img class="image" src="assets/img/etbbwkr (9).png" alt=>
</div>
<div class=" text-center">
    <img class="image" src="assets/img/etbbwkr (10).png" alt=>
</div>



   <br><br><br><br><br>
<div class="container-xxl py-5">
    <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
               <h1 class="mb-5"> ** تمارين **</h1>
    </div>
    </div>
    </div>
    <br><br>
  
<h3 class="text-center text-danger">
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
<br>


<div class="text-center">
   <div class="form-check ">
     <label>
        <input type="checkbox" name="" ><strong>
            من إستخدمات التأثير الحراري نذكر أجهزة التدفئة و التسخين :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
    
    
             <input type="checkbox" name="" ><strong>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
        
    
    
            </label>
    </div><br> <br> 




    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            نضيف للدارة قاطع من أجل التحكم في مرور التيار الكهربائي
            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br> 



       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            نضيف للدارة بطارية من أجل التحكم في مرور التيار الكهربائي      :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br>

       
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            إذا كان القاطع مغلق فإنّ المصباح يتوهج، إذن التيار الكهربائي يمكنه المرور في الدارة ونقول أن الدارة الكهربائية مغلقة

            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br> 

       
     


         
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            إذا كان القاطع مفتوح فإنّ المصباح يتوهج، إذن التيار الكهربائي يمكنه المرور في الدارة ونقول أن الدارة الكهربائية مفتوحة   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  

           
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            القاطع مفتوح ، المصباح لا يتوهج ، إذن لا يمر التيار في الدارة ونقول أن الدارة الكهربائية مفتوحة  :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
               
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            لا يتوهج المصباح عندما يكون القاطعان مفتوحين    :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            يتوهج المصباح عندما يكون إحدى القاطعان مفتوح  :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            لكي يتوهج المصباح يجب أن تكون لدينا بطارية ونوصل قطبها الموجب ( + ) بأحد قطبي المصباح و القطب السالب (ـ) بالقطب الآخر
            :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            يسّما قطبي المصباح العقب و الفتير المركزي   :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
               
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            البطارية هي مولد كهربائي فهي تنتج التيار الكهربائي يسير في هذه الدارة و الذي يجعل المصباح يتوهج
            :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            الأسلاك الكهربائية هي مولد كهربائي فهي تنتج التيار الكهربائي يسير في هذه الدارة و الذي يجعل المصباح يتوهج
            :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            المصباح هو مستقبل للتيار الكهربائي فهو يستعمل التيار الكهربائي البطارية الإصدار الضوء

            :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            البطارية هي مستقبل للتيار الكهربائي فهي تستعمل التيار الكهربائي البطارية الإصدار الضوء   :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
      




</div>

<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>
                


<br><br><br><br><br>
                        
   

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title bg-white text-center text-primary px-3" > أنواع المغنط - أشكاله - قدرته على جذب المواد الحديدية<br>
                    قطبا المغنط</h3>
                    <br><br><br><br>
                <h1 class="mb-5"> ** تلخيص **</h1>
            </div>
         </div>
    </div>



    <div class="text-center">
    <img src="assets/img/kwzyf (1).png" class="img-fluid" alt="Image 1">  
    </div>

    <div class="text-center">
        <img src="assets/img/kwzyf (2).png" class="img-fluid" alt="Image 1">  
        </div>
        <div class="text-center">
            <img src="assets/img/kwzyf (3).png" class="img-fluid" alt="Image 1">  
            </div>
            <div class="text-center">
                <img src="assets/img/kwzyf (4).png" class="img-fluid" alt="Image 1">  
                </div>
               
        <div class="text-center">
            <img src="assets/img/kwzyf (5).png " class="img-fluid" alt="Image 1">  
            </div>
                  
    <div class="text-center">
        <img src="assets/img/kwzyf (6).png " class="img-fluid" alt="Image 1">  
        </div>

    <div class="text-center">
        <img src="assets/img/kwzyf (7).png " class="img-fluid" alt="Image 1">  
        </div>

        <div class="text-center">
            <img src="assets/img/kwzyf (8).png " class="img-fluid" alt="Image 1">  
            </div>
    
                       
                       <br><br><br><br><br>     
            
            
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                       <h1 class="mb-5"> ** تمارين **</h1>
                    </div>
                </div>
            </div>
          



       <br><br><br>
       <h3 class="text-center text-danger"> أكتب في كل مرة : تجاذب / تنافر
    </h3><br>
<br>

<div class="row g-2">

<div class="col-lg-4 text-md-end">
<br><textarea></textarea><br><br><br><br><textarea></textarea><br><br><br><br><textarea></textarea><br><br><br><br><textarea></textarea>
</div>

<div class="col-lg-8">
<img src="assets/img/pow.png" class="img-fluid" alt="Image 1">  
</div>


</div>


<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>
       
      

            <br><br><br><br><br>




  
            <h3 class="text-center text-danger">
                : "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h3><br> 
                <br>
            
            
            <div class="text-center">
                   <div class="form-check ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            المغناطيس يجذب المواد الخشبية  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" name="" ><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br> <br> 
            
            
            
            
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            المغناطيس يجذب المواد الحديدية
                            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br> <br> 
            
            
            
                       <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            المغناطيس يجذب البلور     :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br> <br>
            
                       
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            الذهب و الفضة مواد لا يجذبها المغناطيس
                            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br> <br> 
            
                       
                     
            
            
                         
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            الذهب و الفضة مواد يجذبها المغناطيس     :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
            
                           
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            لكل مغناطيس قطبان مختلفان أحدهما يسمى شمالي و الآخر جنوبي
                            :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                       
                  
                       <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            يحدث التجاذب بين القطبين المختلفين    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                             
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            يحدث التجاذب بين القطبين المتماثلين  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                             
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            يحدث التنافر بين القطبين المختلفين     :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                             
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            يحدث التنافر بين القطبين المتماثلين    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                       
            
                </div>
            
            <div class="mt-5 text-center">
            <a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
            </div>
                                
            
            <br><br><br><br><br>




            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="section-title bg-white text-center text-primary px-3" > البوصلة </h3>
                            <br><br><br><br>
                        <h1 class="mb-5"> ** تلخيص **</h1>
                    </div>
                 </div>
            </div>
    
    
    
            <div class="text-center">
            <img src="assets/img/ktf (1).png" class="img-fluid" alt="Image 1">  
            </div>
            <div class="text-center">
                <img src="assets/img/ktf (2).png" class="img-fluid" alt="Image 1">  
                </div>
                <div class="text-center">
                    <img src="assets/img/ktf (3).png" class="img-fluid" alt="Image 1">  
                    </div>
                    <div class="text-center">
                        <img src="assets/img/ktf (4).png" class="img-fluid" alt="Image 1">  
                        </div>

                        <div class="text-center">
                            <img src="assets/img/ktf (5).png" class="img-fluid" alt="Image 1">  
                            </div>
                            <div class="text-center">
                                <img src="assets/img/ktf (6).png" class="img-fluid" alt="Image 1">  
                                </div>
                                <div class="text-center">
                                    <img src="assets/img/ktf (7).png" class="img-fluid" alt="Image 1">  
                                    </div>
                                    <div class="text-center">
                                        <img src="assets/img/ktf (8).png" class="img-fluid" alt="Image 1">  
                                        </div>
                                       
<br><br><br><br>

                                                <div class="container-xxl py-5">
                                                    <div class="container">
                                                        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                                                           <h1 class="mb-5"> ** تمارين **</h1>
                                                        </div>
                                                    </div>
                                                </div>
<br><br><br><br>


<h3 class="text-center text-danger">
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
<br>


<div class="text-center">
   <div class="form-check ">
     <label>
        <input type="checkbox" name="" ><strong>
            تتوجه الإبرة الممغنطة إلى اتجاه الشمال الجغرافي تحت تأثير الحقل المغناطيسي للكرة الأرضية     :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
    
    
             <input type="checkbox" name="" ><strong>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
        
    
    
            </label>
    </div><br> <br> 




    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            تتوجه الإبرة الممغنطة إلى اتجاه الجنوب الجغرافي تحت تأثير الحقل المغناطيسي للكرة الأرضية
            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br> 



       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            تتكون البوصلة من علبة وزجاجة وميناء ومرتكز وإبرة ممغنطة   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br>

       
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            تطفو الإبرة فوق الماء فتأخذ منحى شمالي ـ جنوبي دائما، مهما قمنا بتحريكها
            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br> 

       
     


         
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            تطفو الإبرة فوق الماء فتأخذ منحى شرقي ـ غربي دائما، مهما قمنا بتحريكها     :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  

           
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            تتجه إبرة البوصلة دائما نحو الشمال وبذلك يمكن تعرف بقيّة الاتجاهات
            :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
       
  
       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            تتأثر إبرة البوصلة كبقية المغانط بالمواد المغناطيسية لذلك لا يجب تقريبها منها لكي تدل على جهة الشمال بأمانة    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
             
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            لا تتأثر إبرة البوصلة كبقية المغانط بالمواد المغناطيسية   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
             
   

</div>

<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>



<br><br><br><br><br>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" >    وزن الأجسام / السقوط الحر للأجسام </h3>
                <br><br><br><br>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>
</div>






    
<div class="text-center">
    <img src="assets/img/enfiinn (1).png" class="img-fluid" alt="Image 1">  
    </div>
    <div class="text-center">
        <img src="assets/img/enfiinn (2).png" class="img-fluid" alt="Image 1">  
        </div>
        <div class="text-center">
            <img src="assets/img/enfiinn (3).png" class="img-fluid" alt="Image 1">  
            </div>

            <div class="text-center">
                <img src="assets/img/enfiinn (4).png" class="img-fluid" alt="Image 1">  
            </div>
            
            <div class="text-center">
                <img src="assets/img/enfiinn (5).png" class="img-fluid" alt="Image 1">  
            </div>
            
            <div class="text-center">
            <img src="assets/img/enfiinn (6).png" class="img-fluid" alt="Image 1">  
            </div>
            
            <div class="text-center">
                <img src="assets/img/enfiinn (7).png" class="img-fluid" alt="Image 1">  
                </div>
            
                <div class="text-center">
                    <img src="assets/img/enfiinn (8).png" class="img-fluid" alt="Image 1">  
                    </div>
                   
            
            <br><br><br><br><br><br>
              
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                       <h1 class="mb-5"> ** تمارين **</h1>
                    </div>
                 </div>
            </div>

         <br><br><br><br><br><br>
          


         <h3 class="text-center text-danger">
            : "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         </h3><br> 
            <br>
        
        
        <div class="text-center">
               <div class="form-check ">
                 <label>
                    <input type="checkbox" name="" ><strong>
                        الكتلة هي مقدار المادة في جسم صلب أو حجم غاز أو سائل    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                
                
                         <input type="checkbox" name="" ><strong>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    
                
                
                        </label>
                </div><br> <br> 
        
        
        
        
                <div class="form-check  ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        الكتلة هي قوة الجاذبية العاملة على كيلة 
                        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br> <br> 
        
        
        
                   <div class="form-check  ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        الوزن هو قوة الجاذبية العاملة على كيلة   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br> <br>
        
                   
                <div class="form-check  ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        الوزن هو مقدار المادة في جسم صلب أو حجم غاز أو سائل
                        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br> <br> 
        
                   
                 
        
                       
                <div class="form-check  ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        كل الأجسام وزنها متساوي في الفضاء ويساوي صفر وعلى الأرض أوزان الأجسام تختلف

                        :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  <br>  
                   
              
                   <div class="form-check  ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        كل الأجسام وزنها مختلف في الفضاء وعلى الأرض أوزان الأجسام لا تتغير 
                        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  <br>  
                         
                <div class="form-check  ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        يتغير وزن الجسم كلما ابتعد عن مركز الأرض ولا تتغير كلته
                        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  <br>  
                             
                <div class="form-check  ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        يتغير وزن الجسم كلما ابتعد عن مركز الأرض و تتغير كلته أيضا
                        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  <br>  
                             
                <div class="form-check  ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        لما نزل رائد الفضاء على سطح القمر تغير وزنه وبقيت كلته ثابة
                        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  <br>  
                             
                <div class="form-check  ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        كلما بعد الجسم عن الأرض ضعفت جاذبيته

                        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  <br>  
                             
                <div class="form-check  ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        كلما بعد الجسم عن الأرض زادت جاذبيته
                        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" name="" ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  <br>  
                         
               
        
            </div>
        
        <div class="mt-5 text-center">
        <a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
        </div>
          
        
        


<!-- Team End -->