<app-nav2> </app-nav2>
 
 <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> المادة </h1>
                
            </div>
        </div>
    </div>
</div>
<!-- Header End -->




<!-- contenu start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > أثقل / أخف / نفس الثقل</h3>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>




<div class="row g-4">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/bhy.png" alt="Image 1">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
               
                  </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/non.jpg" alt="Image 2">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/khi.png" alt="Image 3">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                   </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/bhyy.png" alt="Image 4">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
              
            </div>
        </div>
    </div>
</div>

   <br><br><br>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
        </div>
     </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
           
              <img  src="assets/img/fila.png" alt=>
         </div>

         <div class="col-md-6">

            <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
              : أختار الإجابة الصحيحة&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h3><br>


           <div class="form-check text-md-end ">
             <label>
                <input type="checkbox" name="" class="question7"><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    الفيل ثقيل الوزن  •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
             </label>
            </div><br>

            <div class="form-check text-md-end">
                <label>
                    <input type="checkbox" name="" class="question7"><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        الفيل خفيف الوزن  •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                </label>
                </div><br>
                  


                <div class="form-check text-md-end">
                    <label>
                       <input type="checkbox" name="" class="question7"><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        الفأر ثقيل الوزن     •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </label>
                   </div><br>
   


                   <div class="form-check text-md-end">
                    <label>
                       <input type="checkbox" name="" class="question7"><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        الفأر خفيف الوزن      •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </label>
                   </div><br>
   


                   <div class="form-check text-md-end">
                    <label>
                       <input type="checkbox" name="" class="question7"><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        الفيل أثقل من الفأر      •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </label>
                   </div><br>
   


                   <div class="form-check text-md-end">
                    <label>
                       <input type="checkbox" name="" class="question7"><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        الفيل أخف من الفأر      •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </label>
                   </div><br>
   



                


           </div>

    </div>
</div>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*********************************************************************</p>




<br><br>

<h3 class="text-center text-danger">أكتب في الخانة : أثقل / أخف / لهما نفس الوزن</h3><br>
<br>
<div class="row g-4">
   <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/la.png" alt="Image 1">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
             
                        
<form>
   <div class="form-group text-md-end ">  الممسحة
       <input type="text" name="text" class="question7" id="1">من المقلمة
     <label>  
            </label>
   </div> </form> 
</div>
   </div>
   </div>

   <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/laa.png" alt="Image 2">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                      
<form>
   <div class="form-group text-md-end ">  التفاحة
       <input type="text" name="text" class="question7" id="2">من البطيخة
     <label>  
            </label>
   </div> </form> 
               </div>
       </div>
   </div>

   <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/laaa.png" alt="Image 3">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                       
<form>
   <div class="form-group text-md-end ">    
       <input type="text" name="text" class="question7" id="3">الكرتان
     <label>  
            </label>
   </div> </form> 
                </div>
       </div>
   </div>
   <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/laaaa.png" alt="Image 4">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                      
<form>
   <div class="form-group text-md-end ">    التفاحة
       <input type="text" name="text" class="question7" id="4">من الكعكة
            <label>
            </label>
   </div> </form> 
                 </div>
       </div>
   </div>
</div>



<div class="mt-5 text-center">
<a class="btn btn-outline-warning" id="checkButton7"> أنهيت عملي</a>
</div><br><br><br> 
<div id="corrections7" style="text-align: center;">
<!-- Les corrections seront affichées ici -->
</div>








<br><br><br><br>
<p class="text-center">/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\</p>
<br><br>

     
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title bg-white text-center text-primary px-3" > جامد / سائل    </h3>
                <h1 class="mb-5"> ** تلخيص **</h1>
            </div>
         </div>

    </div>

    

    <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/painn.jpg" alt="Image 1">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>الأحجار مواد جامدة </h4>
                   
                     </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/pain.jpg" alt="Image 2">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>الخبز مادة جامدة </h4>
                   
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/klmmm.jpg" alt="Image 3">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                   <h4>الحليب مادة سائلة </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/klm.jpg" alt="Image 4">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>الماء مادة سائلة </h4>
                    
                </div>
            </div>
        </div>
    </div>

       <br><br><br>
       <h3 class="text-center">"يمتلك الجسم الجامد شكلا ثابتا على عكس الجسم السائل فهو يأخذ شكل الإناء الذي يحويه"
    </h3>

<br><br><br>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
        </div>
     </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
              <img  src="assets/img/klmm.jpg" alt=>
         </div>

         <div class="col-md-6">
<br>
<h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br><br><br>


           <div class="form-check text-md-end ">
             <label>
                <input type="checkbox" name="" ><strong>
                    الحساء مادة سائلة  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
            
            
                     <input type="checkbox" name="" class="question1"><strong>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                
            
            
                    </label>
            </div><br>

            <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    الحساء مادة  صلبة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" class="question1"><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>  

               
            <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    الحساء مادة لها شكل ثابت :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" class="question1"><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>  

               
            <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    الحساء مادة تأخذ شكل الإناء الذي يحويها :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" class="question1"><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>  

             

           </div>
           <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*********************************************************************</p>

           <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                      <img  src="assets/img/painnn.png" alt=>
                 </div>
        
                 <div class="col-md-6">
        <br>
        <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
          </h3><br><br><br>
        
        
                   <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                             الطماطم مادة سائلة  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" name="" class="question1"><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>
        
                    <div class="form-check text-md-end ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                             الطماطم مادة صلبة :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" class="question1"><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  
        
                       
                    <div class="form-check text-md-end ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                             الطماطم مادة لها شكل ثابت  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" class="question1"><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  
        
                       
                    <div class="form-check text-md-end ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                             الطماطم مادة تأخذ شكل الإناء الذي يحويها :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" class="question1"><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  
        
                     
        
                   </div>

    </div>
</div>
         

<div class="mt-5 text-center">
    <a class="btn btn-outline-warning" id="checkButton1"> أنهيت عملي</a>
</div><br><br><br> 
<div id="corrections1" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div><br><br><br> 
<div id="corrections2" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div>
<br><br><br> 
<div id="corrections9" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div>