

<app-nav2></app-nav2>
 <!-- Header Start -->
 <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> التغذية  </h1>
                
            </div>
        </div>
    </div>
</div>

<!-- Header End -->




<!-- contenu start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" >  أنواع الأطعمة التي يتناولها الإنسان </h3>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>


<div class="text-center">
    <img class="image" src="assets/img/attaghdhia-madrassatii_003.jpg" alt=>
</div>

<br><br><br><br>
<div class="text-center">
<h3  style="color:blueviolet;">
    أغذية النمو  *
</h3>
</div>

   <br><br>
<h3 class="text-center">
الزلاليات الحيوانيّة: اللحوم و السمك و البيض و الحليب ومشتقاته ما عدا الزبدة<br><br>
الزلاليات النباتية: الفول ء الحمص ء اللوبيا ء العدس

</h3>
<br><br>

<div class="text-center">
<img class="image" src="assets/img/imagen_1_1568175754.jpg" alt=>
</div>


<br><br>
<div class="row g-2">
<div class="col-lg-6">
               <img class="image square-image" src="assets/img/Beans 2.jpg" alt="Image 1">
          
            </div>   
            
            <div class="col-lg-6">
                <img class="image square-image" src="assets/img/lhh.png" alt="Image 1">
           
             </div>     




</div>
 

   

  
<!-- ********************************************************************************** -->

<br><br><br><br><br><br>




<div class="text-center">
<h3  style="color:blueviolet;">
    أغذية الطاقة   *
</h3>
</div>

   <br><br>
<h3 class="text-center">السكريات: السكر و المعجون و العسل<br><br>
النشويات: الخبز و العجين و الأرز<br><br>
الدهنيات: الزبدة و الشحوم و الزيوت النباتية<br><br>


</h3>
<br><br>

<div class="text-center">
<img class="image" src="assets/img/COPY_istock-525029404-1630243683.jpg" alt=>
</div>


<br><br>
<div class="row g-2">
<div class="col-lg-6">
               <img class="image square-image" src="assets/img/pat.png" alt="Image 1">
          
            </div>   
            
            <div class="col-lg-6">
                <img class="image square-image" src="assets/img/couscous.png" alt="Image 1">
           
             </div>     




</div>


<br><br><br><br><br><br>


<div class="text-center">
<h3  style="color:blueviolet;">
    أغذية الوقاية   *
</h3>
</div>

   <br><br>
<h3 class="text-center">الفيتامينات والأملاح: الغلال و الخضر الطازجة والمطبوخة و المياه المعدنية و ملح الطعام
</h3>


<br><br>

<div class="text-center">
<img class="image" src="assets/img/vitamins.jpg" alt=>
</div>


<br><br>
<div class="row g-2">
<div class="col-lg-6">
               <img class="image square-image" src="assets/img/sel.jpg" alt="Image 1">
          
            </div>   
            
            <div class="col-lg-6">
                <img class="image square-image" src="assets/img/eau.png" alt="Image 1">
           
             </div>     

</div>
 

<br><br><br>

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
       <h1 class="mb-5"> ** تمارين **</h1>
    </div>
 </div>
</div>



<h3 class="text-center text-danger">أكتب في الخانة :   أغذية وقاية / أغذية طاقة / أغذية نمو </h3><br>
<br>
<div class="row g-3">
   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/sfn.png" alt="Image 1">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
             
                        
            <form>
                <div class="form-group text-md-end ">    
                    <input type="text" name="text" class="question11" id="1">
                  <label>  
                         </label>
                </div> </form> 
</div>
   </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/laitetoeuf.jpg" alt="Image 2">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                      
            <form>
                <div class="form-group text-md-end ">    
                    <input type="text" name="text" class="question11" id="2">
                  <label>  
                         </label>
                </div> </form>  
               </div>
       </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/e5e96.jpg" alt="Image 3">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                       
            <form>
                <div class="form-group text-md-end ">    
                    <input type="text" name="text" class="question11" id="3">
                  <label>  
                         </label>
                </div> </form> 
                </div>
       </div>
   </div>
   
</div>
<br> <div class="row g-3">
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/pates_a_la_ricotta_light.jpg" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     
            <form>
                <div class="form-group text-md-end ">    
                    <input type="text" name="text" class="question11" id="4">
                  <label>  
                         </label>
                </div> </form> 
</div>
</div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/pois-chiche-geant-altamura-bio.jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
            <form>
                <div class="form-group text-md-end ">    
                    <input type="text" name="text" class="question11" id="5">
                  <label>  
                         </label>
                </div> </form> 
            </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/kb.jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
            <form>
                <div class="form-group text-md-end ">    
                    <input type="text" name="text" class="question11" id="6">
                  <label>  
                         </label>
                </div> </form> 
             </div>
    </div>
</div>

</div>


<div class="mt-5 text-center">
    <a class="btn btn-outline-warning" id="checkButton11"> أنهيت عملي</a>
    </div>
    <br><br><br> <div  id="corrections11" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
    </div>

<br><br><br><br><br>



<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" >  أنواع أغذية التي يتناولها الحيوان
        </h3>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

</div>

<div class="text-center">
<img class="image" src="assets/img/val.png" alt=>
</div>
<br><br><br>
<div class="row g-2">
<div class="col-lg-6">
               <img class="image square-image" src="assets/img/img.png" alt="Image 1">
          
            </div>   
            
            <div class="col-lg-6">
                <img class="image square-image" src="assets/img/ar-t-t-10540-animals-and-what-they-eat-matching-cards-arabic_ver_1.jpg" alt="Image 1">
           
             </div>     

</div>


<br><br><br><br><br><br>

<div class="text-center">
<h3>
. تستهلك الحيوانات أغذية متنوّعة لتزويد أجسامها بالطاقة والنمو وحمايتها من الأمراض 
<br><br>تنقسم الحيوانات حسب نظامها الغذائي الي ثلاث أصناف : حيوانات عاشبة تتغذى أساسا على الأغذية النباتية مثل البقرة والأرنب الحصان الماعز، الحمار، الخروف، الفيل الزرافة ، الغزالة ، الفيل<br><br>
حيوانات تتغذى أساسا على أغذية حيوانية وهي الحيوانات اللاحمة والمفترسة مثل السنوريات القط والأسد والنمر والفهد و (النمر والكواسر الصقر، النسر التمساح الثعبان
)<br><br>
حيوانات تتغذى على جميع أنواع الأغذية وهي حيوانات قارتة أي كالشة مثل الخنزير والدجاجة والحمامة والقرد والفأر

</h3>
</div>
<br><br><br><br><br>
<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > حاجة النبتة إلى الماء  </h3>
            </div>
 </div>

</div>


<div class="text-center">
<img class="image" src="assets/img/maa.jpg" alt=>
</div>





<br><br><br>
<div class="row g-4">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/arrosage (1).jpg" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                   
</div>
</div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/arrosage (2).jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
             
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/arrosage (4).webp" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
             </div>
    </div>
</div>



<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/arrosage (5).webp" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   

             </div>
    </div>
</div>


</div>
<br> <br><br><br><br>
<div class="text-center">
<h3>
    تقوم النبتة بعديد العمليات الحيوية كالتنفس و التغذية و النمو و التكاثر
و يعتبر الماء أحد العوامل الأساسية <br><br>التي تحتاجها النباتات للنمو والبقاء على قيد الحياة
فالماء يلعب دورًا هامًا في تغذية النبتة
</h3>
</div>



<br><br><br>

<div class="row g-2">
<div class="col-lg-6 text-center">
<img class="image" src="assets/img/images (1)n.jpg" alt=>
</div>
<div class="col-lg-6 text-center">
    <img class="image" src="assets/img/imagess.jpg" alt=>
    </div>
</div>
<br><br><br><br><br><br>

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > أهمية الغذاء في حياة الإنسان و الحيوان و النبات
        </h3>
    </div>
 </div>

</div>

<div class="text-center">
<img class="image" src="assets/img/malk.jpg" alt=>
</div>

<br><br><br><br><br><br>
<div class="text-md-end ">
<h3>
 الغذاء هو جزء أساسي في حياة الإنسان والحيوان والنبات، حيث يلعب دورًا حيويًا في النمو والبقاء والصحة<br>دعونا نلقي نظرة على أهمية الغذاء في حياة كل منهم<br><br><br>
: الإنسان<br>
النمو والتطور: الغذاء يوفر العناصر الغذائية التي يحتاجها الإنسان للنمو وتطوير الأعضاء والأنسجة. البروتينات، الفيتامينات، المعادن والدهون الصحية هي أمثلة على العناصر الأساسية التي تساعد في تحقيق هذا الهدف<br>
توفير الطاقة: الكربوهيدرات والدهون تعتبر مصدرًا هامًا للطاقة التي يحتاجها الإنسان للقيام بأنشطته اليومية والحفاظ على وظائف جسمه<br>
صحة الجسم: الأمثلة على العناصر المغذية مثل فيتامين  ' ج '  تساعد في تعزيز جهاز المناعة والوقاية من الأمراض. كذلك، الكالسيوم يساهم في بناء عظام قوية <br>  <br>
: الحيوان<br>
البقاء والبنية: الغذاء يوفر الحيوانات بالطاقة والعناصر الغذائية التي تساعد على بقاءها والتكيف مع بيئتها. البروتينات تلعب دورًا حاسمًا في بنية الأنسجة والعضلات<br>
التكاثر: بعض الحيوانات تحتاج إلى نظام غذائي خاص لتكوين البيوض والحفاظ على تكاثرها. الفيتامينات والمعادن تلعب دورًا في دعم هذه العملية<br><br>
: النبات<br>
النمو والتطور: الغذاء يمد النباتات بالعناصر الغذائية اللازمة للنمو وتكوين أجزائها المختلفة مثل الأوراق والجذور والثمار<br>
صنع الطعام: من خلال عملية التمثيل الضوئي، تستخدم النباتات الشمس والماء وثاني أكسيد الكربون لإنتاج الطعام والطاقة التي تحتاجها<br><br><br>
باختصار، الغذاء هو الوقود الذي يساعد الكائنات الحية على النمو والبقاء والتكاثر والحفاظ على وظائفها الحيوية. إنها عملية حيوية للحفاظ على الحياة وتحقيق الصحة والازدهار

</h3>
</div>


<br><br><br><br><br><br>

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
       <h1 class="mb-5"> ** تمارين **</h1>
    </div>
 </div>
</div>



<h3 class="text-center text-danger">أكتب في الخانة :   يتغذى جيدا / لا يتغذى جيدا / يتغذى أكثر من اللازم </h3><br>
<br>
<div class="row g-4">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/tagh.png" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" class="question6" id="1"> 
  <label>  
         </label>
</div> </form> 
</div>
</div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/tagh (1).jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" class="question6" id="2"> 
  <label>  
         </label>
</div> </form> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/tagh (2).jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
<form>
<div class="form-group text-md-end ">    
    <input type="text" name="text" class="question6" id="3">
  <label>  
         </label>
</div> </form> 
             </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/tagh (3).jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" class="question6" id="4"> 
  <label>  
         </label>
</div> </form> 
            </div>
    </div>
</div>
</div>


<br>
<div class="row g-4">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/tagh (4).jpg" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" class="question6" id="5"> 
  <label>  
         </label>
</div> </form> 
</div>
</div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/tagh (5).jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" class="question6" id="6"> 
  <label>  
         </label>
</div> </form> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/tagh (6).jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
<form>
<div class="form-group text-md-end ">    
    <input type="text" name="text" class="question6" id="7">
  <label>  
         </label>
</div> </form> 
             </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/tagh (7).png" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" class="question6" id="8"> 
  <label>  
         </label>
</div> </form> 
            </div>
    </div>
</div>
</div>


<div class="mt-5 text-center">
<a class="btn btn-outline-warning" id="checkButton6"> أنهيت عملي</a>
</div>
<br><br><br> <div  id="corrections6" style="text-align: center;">
<!-- Les corrections seront affichées ici -->
</div> <br><br><br>
<div id="corrections2" style="text-align: center;">
<!-- Les corrections seront affichées ici -->
</div><br><br><br>
<div id="corrections9" style="text-align: center;">
<!-- Les corrections seront affichées ici -->
</div>







<br><br><br><br><br>


<div class="container-xxl py-5">
   <div class="container">
       <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h3 class="section-title bg-white text-center text-primary px-3" >تطبيق قواعد حفظ الصحة المتعلقة بالأغذية 
           </h3>
       </div>
    </div>

</div>

<div class="text-md-end">
   <h3>
       تطبيق قواعد حفظ الصحة المتعلقة بالأغذية يلعب دورًا مهمًا في الحفاظ على صحتك ومنع تلوث الطعام وانتشار الأمراض المعدية<br> :إليك بعض القواعد الأساسية التي يمكنك اتباعها   <br><br>

النظافة الشخصية<br>
الغسيل الجيد للفواكه والخضروات<br>
التخزين الآمن<br>
تجنب التلوث العابر<br>
طهي اللحوم بشكل جيد<br>
تجنب الفرز العابر<br>
مراقبة تواريخ الانتهاء<br>التجميد السليم<br>
تجنب ترك الطعام في درجة حرارة الغرفة لفترات طويلة<br>
تجنب التواصل مع الأشخاص المصابين بأمراض معدية<br>
   </h3>
</div>


<br><br><br>
