<app-nav></app-nav>
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">أهلا و سهلا</h1><br>
                <h1 class="display-3 text-white animated slideInDown">     تسجيل الدخول لحسابك   </h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Detail Start -->
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form style="margin: 50px;" (ngSubmit)="login()" method="POST">
                <div class="form-group text-md-end">
                    <label for="email">البريد الإلكتروني</label>
                    <input type="text" name="email" id="email" class="form-control form-control-lg" [(ngModel)]="credentials.username "ng required>
                </div>
                <br>
                <div class="form-group text-md-end">
                    <label for="mdp"> كلمة السر </label>
                    <input type="password" name="mdp" id="mdp" class="form-control form-control-lg "[(ngModel)]="credentials.password" required>
                </div>
                <br>
    
    
    <div class="mt-5 text-center">
        <input type="submit" class="btn btn-primary" value=" تسجيل الدخول ">
    </div>
<!-- Detail End -->
