 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>العباقرة الصغار</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">




            <a href="index.html" class="nav-item nav-link active">   أصديقائي  لنتعرف</a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">السنة أولى إبتدائي</a>
                <div class="dropdown-menu fade-down m-0">
                    <a routerLink="/oula_tr1" class="dropdown-item">الثلاثي الأول</a>
                    <a routerLink="/oula-tr2"  class="dropdown-item">الثلاثي الثاني</a>
                    <a routerLink="/oula-tr3"  class="dropdown-item">الثلاثي الثالث</a>
                </div>
            </div>
            
            
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">السنة ثانية إبتدائي</a>
                <div class="dropdown-menu fade-down m-0">
                    <a routerLink="/thenya-tr1"  class="dropdown-item">الثلاثي الأول</a>
                    <a routerLink="/thenya-tr2" class="dropdown-item">الثلاثي الثاني</a>
                    <a routerLink="/thenya-tr3" class="dropdown-item">الثلاثي الثالث</a>
                </div>
            </div>
            
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">السنة ثالثة إبتدائي</a>
                <div class="dropdown-menu fade-down m-0">
                    <a routerLink="/theltha-tr1" class="dropdown-item">الثلاثي الأول</a>
                    <a routerLink="/theltha-tr2" class="dropdown-item">الثلاثي الثاني</a>
                    <a routerLink="/theltha-tr3" class="dropdown-item">الثلاثي الثالث</a>
                </div>
            </div>


            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">السنة رابعة إبتدائي</a>
                <div class="dropdown-menu fade-down m-0">
                    <a routerLink="/rab3a-tr1" class="dropdown-item">الثلاثي الأول</a>
                    <a routerLink="/rab3a-tr2" class="dropdown-item">الثلاثي الثاني</a>
                    <a routerLink="/rab3a-tr3" class="dropdown-item">الثلاثي الثالث</a>
                </div>
            </div>


 
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">السنة خامسة  إبتدائي</a>
                <div class="dropdown-menu fade-down m-0">
                    <a routerLink="/khamsa-tr1" class="dropdown-item">الثلاثي الأول</a>
                    <a routerLink="/khamsa-tr2" class="dropdown-item">الثلاثي الثاني</a>
                    <a routerLink="/khamsa-tr3" class="dropdown-item">الثلاثي الثالث</a>
                </div>
            </div>
 
 
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">السنة سادسة  إبتدائي</a>
                <div class="dropdown-menu fade-down m-0">
                    <a routerLink="/sedsa-tr1" class="dropdown-item">الثلاثي الأول</a>
                    <a routerLink="/sedsa-tr2" class="dropdown-item">الثلاثي الثاني</a>
                    <a routerLink="/sedsa-tr3" class="dropdown-item">الثلاثي الثالث</a>
                </div>
            </div>




        </div>
        
    </div>
</nav>
<!-- Navbar End -->