<app-nav2></app-nav2>
 <!-- Header Start -->
 <div class="container-fluid bg-primary py-5 mb-5 page-header4 ">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> الزمن  </h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- contenu start -->

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" >  الساعة / الدقيقة / الثانية </h3>
            <br><br><br><br>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

 <div class=" text-center">
    <img class="image" src="assets/img/sea (1).jpg" alt=>
</div>
    <div class=" text-center">
        <img class="image" src="assets/img/sea (2).png" alt=>
    </div>
   

    <div class=" text-center">
        <img class="image" src="assets/img/sea (1).png" alt=>
    </div>


<div class="text-center">
    <img class="image" src="assets/img/se.png" alt=>
</div>

    
     <br><br><br>
                    
                    <div class="row g-2">
                    <div class="col-lg-6 text-center"><br><br><br>
                        <img src="assets/img/aaqarb (1).png" class="img-fluid" alt="Image 1">  
                        </div>
                        <div class="col-lg-6 text-center">
                            <img src="assets/img/aaqarb (2).jpg" class="img-fluid" alt="Image 1">  
                            </div>
                        </div>


                        <div class="text-center">
                            <img src="assets/img/aaqarb (1).jpg" class="img-fluid" alt="Image 1">  
                            </div>



                            <div class="row g-2">
                                <div class="col-lg-6 text-center"><br><br><br>
                                    <img src="assets/img/aaqarb (2).png" class="img-fluid" alt="Image 1">  
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <img src="assets/img/aaqarb (3).png" class="img-fluid" alt="Image 1">  
                                        </div>
                                    </div>




                            <br><br><br><br>
            

     

                    


    <div class="text-center">
        <img src="assets/img/qas (3).png" class="img-fluid" alt="Image 1">  
        </div>

        <div class="text-center">
            <img src="assets/img/qas (1).png" class="img-fluid" alt="Image 1">  
            </div>
            <div class="text-center">
                <img src="assets/img/qas (2).png" class="img-fluid" alt="Image 1">  
                </div>

                        <div class=" text-center">
                            <img src="assets/img/aaqarb (2).jpg" class="img-fluid" alt="Image 1">  
                            </div>
                  



<div class="row g-2">
                                <div class="col-lg-6 text-center"><br><br><br>
                                    <img src="assets/img/aaqarb (2).png" class="img-fluid" alt="Image 1">  
                </div>
           <div class="col-lg-6 text-center">
                <img src="assets/img/aaqarb (3).png" class="img-fluid" alt="Image 1">  
             </div>
</div>
<br><br>

<div class=" text-center">
<img src="assets/img/tahwil.png" class="img-fluid" alt="Image 1">  
</div>
<br><br><br><br>




<div class="container-xxl py-5">
<div class="container">
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
</div>
</div>
</div>


<div class="row g-2">
    <div class="col-lg-6 text-center">
        <img src="assets/img/aaqarb (4).png" class="img-fluid" alt="Image 1">  
                                    
    </div>
   
<div class="col-lg-6 text-center"> 
<h3 class="text-center text-danger">&nbsp;&nbsp;&nbsp;
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
<br><br>

<div class="text-center">
       <div class="form-check ">
         <label>
            <input type="checkbox" name="" ><strong>
                الصورة 1 تشير إلى منتصف النهار و 10 دقائق :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
        
        
                 <input type="checkbox" name="" ><strong>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            
        
        
                </label>
        </div><br>



        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 1 تشير إلى الساعة الثانية   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>



        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 2 تشير إلى الساعة الواحدة 
                :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> 



           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 2 تشير إلى الساعة الواحدة و ربع   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> 

           
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 3 تشير إلى الساعة الرابعة   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> 

           
         


             
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 4 تشير إلى الساعة الثالثة إلا ربع :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>    

               
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الصورة 4 تشير إلى الساعة الثالثة إلا ربع  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                    <input type="checkbox" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> 
        
           
           <br> 
           </div></div>
       </div>


      <div class="mt-5 text-center">
                    <a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
                    </div>
                    
<br><br><br><br><br>
<p class="text-center">*************************************************************************************************</p><br><br><br>
<br><br>
<div class="row g-2">
<div class="col-lg-6 text-center">
    <img src="assets/img/stst.png" class="img-fluid" alt="Image 1">  
                                
</div>

<div class="col-lg-6 text-center"> 
<h3 class="text-center text-danger">&nbsp;&nbsp;&nbsp;
أعمر في كل مرة الخانة بما يناسب</h3><br> 
<br><br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 1  تشير إلى</h3></div>
  <br>
  <div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 2  تشير إلى</h3></div>
<br><br>

</div></div>

<br><br>
<div class="row g-2">
<div class="col-lg-6 text-center">
 <img src="assets/img/stst (3).png" class="img-fluid" alt="Image 1">  
                             
</div>

<div class="col-lg-6 text-center"> 
<br><br><br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 1  تشير إلى</h3></div>
<br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 2  تشير إلى</h3></div>
<br><br>

</div></div>


<br><br>

<div class="row g-2">
<div class="col-lg-6 text-center">
 <img src="assets/img/stst (2).png" class="img-fluid" alt="Image 1">  
                             
</div>

<div class="col-lg-6 text-center"> 
<br><br><br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 1  تشير إلى</h3></div>
<br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 2  تشير إلى</h3></div>
<br><br>

</div></div>


<br><br>

<div class="row g-2">
<div class="col-lg-6 text-center">
 <img src="assets/img/stst (1).png" class="img-fluid" alt="Image 1">  
                             
</div>

<div class="col-lg-6 text-center"> 
<br><br><br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 1  تشير إلى</h3></div>
<br>
<div class="text-center"><h3> <textarea  > </textarea>   الساعة رقم 2  تشير إلى</h3></div>
<br><br>

</div></div>

<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>





                   
<br><br><br><br><br>
<p class="text-center">*************************************************************************************************</p><br><br><br>
<br><br>


<h3 class="text-center text-danger"> أقرأ الوضعية و أجيب في كل مرة عن السؤال المطروح</h3><br> 
<br><br>

<div class="row g-2">
   
   
    <div class="col-lg-6 text-center"> 
<div class="text-center"><br>
    <textarea></textarea>
        
           <br> 
        </div></div>
        
           <div class="col-lg-6 text-center">
            <h3> أمضت لميس 1 ساعة وربع لإنهاءِ فُرُوضِهَا فَقَالَت لَهَا صديقتها شهد أنا أمضيت 110 دقيقة لإنْهَاء فُرُوضي<br>
             فمَن مِنْهُمَا أمْضَت وقتًا أطول لإنهاء فُرُوضِها</h3>                           
         </div>
         
       </div>

<br><br><br><br><br><br><br>

       
<div class="row g-2">
   
   
    <div class="col-lg-6 text-center"> 
<div class="text-center"><br>
    <textarea></textarea>
        
           <br> 
        </div></div>
        
           <div class="col-lg-6 text-center">
            <h3> يُغادر فادي المنزل كُلَّ صَبَاح في الساعة 7 ونصف وَيَلْزَمهَ 15 دقيقة ليقطع المسافة بين المدرسة والمنزل<br>
                في أية ساعة يصلُ فَادِي إِلَى المَدْرَسَة ؟
               </h3>                           
         </div>
         
      

         <br><br><br><br><br><br><br>
<br><br><br>

                    <div class="row g-2">
     <div class="col-lg-6 text-center"> 
                    <div class="text-center"><br>
                        <textarea></textarea>
                            
                               <br> 
                            </div></div>
                            
                               <div class="col-lg-6 text-center">
                                <h3> تبدأ الحصة الصَّبَاحِيّة فِي المَدْرَسَة عَلَى السَّاعَة 7 و 55 دقيق وَتستَمرُ الحصة الأولى 115 دقيقة <br>
                                    مَتَى تَنْتَهِي هذه الحصة؟</h3>                           
                             </div>
                             
                           </div>
                
                <br><br><br><br><br><br><br>
                <br><br><br>

                
                <div class="row g-2">
                    <div class="col-lg-6 text-center"> 
                                   <div class="text-center"><br>
                                       <textarea></textarea>
                                           
                                              <br> 
                                           </div></div>
                                           
                                              <div class="col-lg-6 text-center">
                                               <h3> بمناسبة إختتام السنة الدراسية، أَقَامَت مَدْرَسَتنَا حَفلا بدأ الحفل عَلَى السَّاعَة الخَامِسَة إلا ربع. دَامَ الحَفْلُ الموسيقي 3 ساعات ونصف ودامت كَلِمَة الترحيب والتكريم لمدير المَدْرَسَة رُبع سَاعَةٍ<br>
                                                أحسب مدة الحفل <br>
                                                و أكتب تَوْقِيت بداية الحفْلِ وَ نِهَايَتَهُ بالأرقام ( مثل الساعة ذات الخانات )</h3>                           
                                            </div>
                                            
                                          </div>
                               
                               <br><br><br><br><br><br><br>

                            </div>

                            <div class="mt-5 text-center">
                                          <a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
                                          </div>
                                          
<br><br><br><br><br>

<!-- Team End -->