
<app-nav2></app-nav2>
  <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header2 ">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">  المادة 
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->



<!-- contenu start -->

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" >صلب / أشد صلابة / نفس الصلابة / لين / أشد لين

              </h3>
            <br><br><br><br>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

</div>

<br><br>

<div class=" text-center">
    <img class="image" src="assets/img/ytr (2).jpg" alt=>

</div>
<div class="text-center">
    <img class="image" src="assets/img/ytr (1).jpg" alt=>


</div>

<br><br>
<div class=" text-center">
<img class="image" src="assets/img/ytr (5).png" alt=>

</div>
<div class="text-center">
<img class="image" src="assets/img/ytr.png" alt=>


</div>

<!-- ********************************************************************************** -->

<br><br><br><br><br><br>


<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
       <h1 class="mb-5"> ** تمارين **</h1>
    </div>
 </div>
</div>



<br><br>

<h3 class="text-center text-danger">أكتب في الخانة : جسم صلب  / جسم لين </h3><br>
<br><br>
<div class="row g-4">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/ytr (3).jpg" alt="Image 1">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
         
                    
<form>
<div class="form-group text-md-end ">  
    <input type="text" class="question4" name="q1" id="q1">
 <label>  
        </label>
</div> </form> 
</div>
</div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/ytre (2).jpg" alt="Image 2">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
                                  
<form>
<div class="form-group text-md-end ">  
    <input type="text" class="question4" name="q2" id="q2">
 <label>  
        </label>
</div> </form> 
           </div>
   </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/ytr (4).jpg" alt="Image 3">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" class="question4" name="q3" id="q3">
 <label>  
        </label>
</div> </form> 
            </div>
   </div>
</div>
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
   <div class="team-item bg-light">
       <div class="overflow-hidden">
           <img class="img-fluid image-equal-height" src="assets/img/ytre (1).png" alt="Image 4">
       </div>
       <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
           <div class="bg-light d-flex justify-content-center pt-2 px-1">
           </div>
       </div>
       <div class="text-center p-4">
                                  
<form>
<div class="form-group text-md-end ">  
    <input type="text" class="question4" name="q4" id="q4">
 <label>  
        </label>
</div> </form> 
             </div>
   </div>
</div>
</div>




<div class="row g-4">
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/ytre (3).jpg" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     
<form>
<div class="form-group text-md-end ">  
    <input type="text" class="question4" name="q5" id="q5">
  <label>  
         </label>
</div> </form> 
</div>
</div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/ytre (4).webp" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" class="question4" name="q6" id="q6">
  <label>  
         </label>
</div> </form> 
            </div>
    </div>
</div>

<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/ytre (5).jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
<form>
<div class="form-group text-md-end ">  
    <input type="text" class="question4" name="q7" id="q7">
  <label>  
         </label>
</div> </form> 
             </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/ytr.jpeg" alt="Image 4">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" class="question4" name="q8" id="q8">
  <label>  
         </label>
</div> </form> 
              </div>
    </div>
</div>
</div>




<div class="mt-5 text-center">
    <a class="btn btn-outline-warning" id="checkButton4"> أنهيت عملي</a>
 </div>
 <br><br><br> <div  id="corrections4" style="text-align: center;">
   <!-- Les corrections seront affichées ici -->
</div>




<br><br><br><br><br>

