<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
    <div class="header-left">

        <a routerLink="/dash" class="navbar-brand d-flex align-items-center px-4 px-lg-9">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>العباقرة الصغار</h2>
        </a>

   
    </div>
    <ul class="sidebar-ul">
    <li class="menu-title">القائمة</li>
    <li class="active">
    <a routerLink="/dash"><img src="assets/img2/sidebar/icon-1.png" alt="icon"><span> لوحة القيادة </span></a>
    </li>
    <li class="submenu">
        <a routerLink="/allt"><img src="assets/img2/sidebar/icon-2.png" alt="icon"> <span> المعلمين</span> <span class="menu-arrow"></span></a>
    <ul class="list-unstyled" style="display: none;">
    <li><a routerLink="/allt"><span>كل المعلمين</span></a></li>
    <li><a routerLink="/addt"><span>إضافة معلم</span></a></li>
  
    
    </ul>
    </li>
    
    <li class="submenu">
        <a routerLink="/allp"><img src="assets/img2/sidebar/icon-4.png" alt="icon"> <span> الأولياء</span> <span class="menu-arrow"></span></a>
    <ul class="list-unstyled" style="display: none;">
    <li><a routerLink="/allp"><span>كل الأولياء</span></a></li>
    <li><a routerLink="/addp"><span>إضافة ولي</span></a></li>
    
    
    </ul>
    </li>
    
    
    
    
    </ul>
    </div></div></div>