
<app-nav2></app-nav2>
  <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> جسم الإنسان </h1>
                
            </div>
        </div>
    </div>
</div>

<!-- Header End -->




<!-- contenu start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > الحواس و وظائفها</h3>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>


<div class="text-center">
    <img class="image" src="assets/img/js.jpg" alt=>
</div>

<br>

<div class="text-center">
<img class="image" src="assets/img/bibi.jpg" alt=>
</div>


   <br><br><br><br><br>
<h3 class="text-center">يمتلك الإنسان خمس حواس رئيسيةٍ، وهي حاسة السمع، وحاسة البصر، وحاسة الشم، وحاسة اللمس، وحاسة الذوق<br><br> وكل حاسة من هذه الحواس لها تخصصها ووظيفتها التي تقوم بها على أكمل وجه، وتعتبر الحواس من ضروريّات الحياة <br><br> التي تجعل الإنسان مدركاً لما حوله من الأشياء، وقادراً على التصرّف في الأمور  <br><br>
</h3>



<br><br>
<div class="row g-3">
   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/lol (2).jpg" alt="Image 1">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
             
</div>
   </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/lol (1).jpg" alt="Image 2">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">

               </div>
       </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/wes.jpg" alt="Image 3">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                       
                </div>
       </div>
   </div>
</div>
   <div class="row g-3">
   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/lol (3).jpg" alt="Image 4">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">

                 </div>
       </div>
   </div>


   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/lol (4).jpg" alt="Image 4">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">

              </div>
    </div>
</div><div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/lol (5).jpg" alt="Image 4">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">

              </div>
    </div>
</div>



</div>





<!-- ********************************************************************************** -->

<br><br><br><br><br><br>


<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > الأذن و السمع</h3>
            </div>
 </div>

</div>

<div class="row g-2">
<div class="col-lg-6 col-md-6">
      <img class="image" src="assets/img/yasma.jpg" alt=>
</div>
<div class="col-lg-6 col-md-6">
      <img class="image" src="assets/img/tasma.jpg" alt=>

</div>

</div>


<br><br><br><br><br>
<h3 class="text-center">حاسة السمع هي قدرة الأذن على التقاط الصوت المنتقلة وإدراكه، فالأذن تستطيع تمييز صوت شخص عن غيره <br><br>والتمييز أيضًا بين أصوات الطبيعية كخرير الماء وحفيف الشجر وأصوات الحيوانات كصهيل الخيل وزئير الأسد<br><br> وفحيح الأفعى وزقزقة العصافير وكذلك تُميز بين أصوات الآلات الميكانيكية وبين أصوات الطائرات وأصوات السيارات </h3>









<br><br><br><br><br><br>


<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h3 class="section-title bg-white text-center text-primary px-3" >العين و الرؤية</h3>
              </div>
   </div>

</div>

<div class="row g-2">
  <div class="col-lg-6 col-md-6">
        <img class="image" src="assets/img/in3.jpg" alt=>
  </div>
  <div class="col-lg-6 col-md-6">
        <img class="image" src="assets/img/in.jpg" alt=>
  
  </div>

</div>


 <br><br><br><br><br>
<h3 class="text-center"> حاسة البصر هي مثل كاميرا خاصة لدينا في عيوننا ، إنها تساعدنا على رؤية كل شيء من حولنا <br><br>والتمييز أيضًا بين أصوات الطبيعية كخرير الماء وحفيف الشجر وأصوات الحيوانات كصهيل الخيل وزئير الأسد<br><br> وفحيح الأفعى وزقزقة العصافير وكذلك تُميز بين أصوات الآلات الميكانيكية وبين أصوات الطائرات وأصوات السيارات </h3>



<br><br><br><br><br><br><br>



<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > الأنف و الشم </h3>
            </div>
 </div>

</div>

<div class="row g-2">
<div class="col-lg-6 col-md-6">
      <img class="image" src="assets/img/anf.png" alt=>
</div>
<div class="col-lg-6 col-md-6">
      <img class="image" src="assets/img/anf1.jpg" alt=>

</div>

</div>


<br><br>
<h3 class="text-center">
حاسة الشم هي مثل أنف سحري لدينا يمكنه أن يشم الروائح. إنه يساعدنا على أن نشم الأشياء المختلفة، مثل رائحة الزهور<br><br> والمأكولات اللذيذة، وحتى الروائح التي تكون غير جيدة أحيانًا.
عندما نشم شيئًا، يدخل الهواء الذي يحمل الروائح إلى أنفن<br><br> في داخل أنفنا، هناك أماكن صغيرة تسمى "حاسة الشم" تساعد في اكتشاف الروائح 
</h3>


<br><br><br><br><br><br><br>



<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" >  اللسان و الذوق  </h3>
            </div>
 </div>

</div>

<div class="row g-2">
<div class="col-lg-6 col-md-6">
      <img class="image" src="assets/img/langue.png" alt=>
</div>
<div class="col-lg-6 col-md-6">
      <img class="image" src="assets/img/chef.jpg" alt=>

</div>

</div>


<br><br>
<h3 class="text-center">
حاسة التذوق هي مثل لسان سحري لدينا يساعدنا على معرفة كيف يبدو طعم الأطعمة وكيف يشعر لساننا عندما نأكلها<br><br> إنها تساعدنا على التمتع بالأطعمة المختلفة، مثل الحلو والحامض والمالح والمر</h3>




<br><br><br><br><br><br><br>



<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h3 class="section-title bg-white text-center text-primary px-3" >   الجلد و اللمس   </h3>
              </div>
   </div>

</div>

<div class="row g-2">
  <div class="col-lg-6 col-md-6">
        <img class="image" src="assets/img/outa.jpg" alt=>
  </div>
  <div class="col-lg-6 col-md-6">
        <img class="image" src="assets/img/outaa.jpg" alt=>
  
  </div>

</div>


 <br><br>
<h3 class="text-center">
يمكننا أن نستخدم حاسة اللمس للتفاعل مع العالم من حولنا يمكننا أن نشعر بلطف حينما نلمس الحيوانات، ونشعر بالبرودة <br><br>عندما نلمس الثلج، ونشعر بالدفء عندما نلمس الشمس
في النهاية، حاسة اللمس تجعلنا نستمتع بتجربة لمس الأشياء <br><br>واستكشافها بأيدينا إنها واحدة من حواسنا الرائعة التي تجعل العالم مليء بالإثارة والمتعة


  <br><br><br><br><br>



  <div class="text-center">
    <img class="image" src="assets/img/lolo.jpg" alt=>
</div>



  <br><br><br><br>



<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
       <h1 class="mb-5"> ** تمارين **</h1>
    </div>
 </div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-6">
          <img  src="assets/img/ward.jpg" alt=>
     </div>

     <div class="col-md-6">
<br>
<h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
     : "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3>
<br><br><br>


       <div class="form-check text-md-end ">حاسة اللمس تمكننا من معرفة رائحة الزهور
         <label>
            <input type="checkbox" name="" ><strong>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
        
        
                 <input type="checkbox" name="" class="question6"><strong>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            
                </label>
        </div><br>




        <div class="form-check text-md-end ">  حاسة الشم تمكننا من معرفة رائحة الزهور
            <label>
               <input type="checkbox" name="" ><strong>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
           
                    <input type="checkbox" name="" class="question6"><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
                   </label>
           </div><br>



           <div class="form-check text-md-end ">  حاسة البصر تمكننا من معرفة رائحة الزهور
            <label>
               <input type="checkbox" name="" ><strong>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
           
                    <input type="checkbox" name="" class="question6"><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
                   </label>
           </div><br>


         

       </div>
       </div></div></h3>
       <br><br>

       <p class="text-center" >**********************************************************************************</p>
       <br><br>

       <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                  <img  src="assets/img/music.png" alt=>
             </div>
    
             <div class="col-md-6">
  
    <br><br><br><br><br>
    
    
    <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
        حاسة اللمس تمكننا من سماع الموسيقى   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" class="question6"><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>

    
       <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            حاسة الشم تمكننا من سماع الموسيقى   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" class="question6"><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>

    
       <div class="form-check text-md-end ">
        <label>
           <input type="checkbox" name="" ><strong>
            حاسة السمع تمكننا من سماع الموسيقى   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" class="question6"><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>
    
               </div>
               </div></div>
               <br><br>
     






       


<h3 class="text-center text-danger">أكتب في الخانة :  حاسة الشم / حاسة اللمس / حاسة البصر / حاسة السمع / حاسة التذوق </h3><br>
<br>
<div class="row g-3">
   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/tfol.png" alt="Image 1">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
             
                        
<form>
   <div class="form-group text-md-end ">  
       <input type="text" name="text" class="question6" id="1"> 
     <label>  
            </label>
   </div> </form> 
</div>
   </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/toto.png" alt="Image 2">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                      
<form>
   <div class="form-group text-md-end ">  
       <input type="text" name="text" class="question6" id="2"> 
     <label>  
            </label>
   </div> </form> 
               </div>
       </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/aya.jpg" alt="Image 3">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                       
<form>
   <div class="form-group text-md-end ">    
       <input type="text" name="text" class="question6" id="3">
     <label>  
            </label>
   </div> </form> 
                </div>
       </div>
   </div>
   
</div>
<br> <div class="row g-3">
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/momo.png" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" class="question6" id="4"> 
  <label>  
         </label>
</div> </form> 
</div>
</div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/koko.png" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" class="question6" id="5"> 
  <label>  
         </label>
</div> </form> 
            </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/boubou.png" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
<form>
<div class="form-group text-md-end ">    
    <input type="text" name="text" class="question6" id="6">
  <label>  
         </label>
</div> </form> 
             </div>
    </div>
</div>

</div>




<div class="mt-5 text-center">
<a class="btn btn-outline-warning" id="checkButton6"> أنهيت عملي</a>
</div>
<br><br><br> <div  id="corrections6" style="text-align: center;">
<!-- Les corrections seront affichées ici -->
</div> <br><br><br>
<div id="corrections2" style="text-align: center;">
<!-- Les corrections seront affichées ici -->
</div><br><br><br>
<div id="corrections9" style="text-align: center;">
<!-- Les corrections seront affichées ici -->
</div>



<br><br><br><br><br>

  
  





<div class="container-xxl py-5">
   <div class="container">
       <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h3 class="section-title bg-white text-center text-primary px-3" >  اليد و قدرتها على ممارسة عدة أنشطة  </h3>
               </div>
    </div>

</div>



<div class="text-center">
   <img class="image" src="assets/img/activites-grasping.jpg" alt=>
</div>

<br><br><br>
<div class="row g-3">
   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/pfff (1).jpg" alt="Image 1">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
             
                        

</div>
   </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/pfff (2).jpg" alt="Image 2">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                      

               </div>
       </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/pfff (3).jpg" alt="Image 3">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                       

                </div>
       </div>
   </div>
   
</div>
<br> <div class="row g-3">
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/pfff (4).jpg" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     

</div>
</div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/pfff (5).jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   

            </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/pfff (6).jpeg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
 
             </div>
    </div>
</div>

</div>


<br><br><br><br><br>
<div class="text-center">
<h3>
   اليد هي جزء من جسمنا يساعدنا في القيام بالكثير من الأشياء المختلفة. إنها تحتوي على أصابع نستخدمها للحمل واللمس والعبور<br><br>
   بواسطة اليد، يمكننا أن نلمس الأشياء ونمسك بها. يمكننا أن نلمس الأشياء الناعمة والصلبة ونشعر بكيفية شكلها وملمسها<br><br>
   نستخدم اليد أيضًا للكتابة والرسم واللعب بالألعاب وصنع الأشياء. يمكننا أن نصنع أشكالًا مختلفة باستخدام القلم والورق ونبني <br><br>أشياء مدهشة باستخدام الألعاب والأدوات المختلفة.
   اليد تساعدنا أيضًا على الأكل والشرب. نستخدمها للإمساك بالملعقة والشوكة<br><br> ونتناول الأطعمة بطريقة ممتعة.
   وأيضًا، يمكن لليد أن تعبر عن مشاعرنا. نستخدم يدينا للمصافحة والعناق والتمويه والمزيد<br><br> إنها وسيلة رائعة للتواصل مع الآخرين.
   في النهاية، اليد هي شيء مدهش يمكننا من خلاله القيام بالكثير من الأنشطة المختلفة <br><br>.والاستمتاع بالحياة. إنها واحدة من أهم أجزاء جسمنا التي تمكننا من العيش والاستمتاع بالعالم من حولنا
   


</h3>
</div>
<br><br><br><br><br>
<div class="container-xxl py-5">
   <div class="container">
       <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h3 class="section-title bg-white text-center text-primary px-3" > إدراك أهمية الأعضاء المتعلقة بالحواس للحفاظ عليها  </h3>
               </div>
    </div>

</div>


<div class="text-center">
   <img class="image" src="assets/img/zz.png" alt=>
</div>





<br><br><br>
<div class="row g-4">
   <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/den.png" alt="Image 1">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
             
                        <h3>
                           لا أضع أدوات حادة في أذني
                        </h3>

</div>
   </div>
   </div>

   <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/hok.png" alt="Image 2">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                 <h3>
                   لا ألمس عيني و يدي متسخة
                 </h3>                     

               </div>
       </div>
   </div>

   <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/nar.png" alt="Image 3">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                       <h3>
                                           لا ألعب بالنار 

                                       </h3>

                </div>
       </div>
   </div>



   <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/ychrb.png" alt="Image 3">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
               <h3>
                   لا أتذوق الطعام ساخنا جدا
               </h3>
                                       

                </div>
       </div>
   </div>

   
</div>
<br> <br><br><br><br>



<div class="text-center">
   <img class="image" src="assets/img/hawas.jpg" alt=>
</div>
