<app-nav></app-nav>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootdey">
  <div class="col-md-12 bootstrap snippets">
    <div class="panel">
      <div class="panel-body">
        <textarea class="form-control" rows="2" [(ngModel)]="newMessage" placeholder="Type your message here..."></textarea>
        <div class="mar-top clearfix">
          <button class="btn btn-sm btn-primary pull-right" type="submit" (click)="sendMessage()"><i class="fa fa-pencil fa-fw"></i>أرسل</button>
          <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-body">
        <!-- Chat history -->
        <div *ngFor="let message of chatHistory">
          <div class="media-block">
            <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
            <div class="media-body">
              <div class="mar-btm">
                <a href="#" class="btn-link text-semibold media-heading box-inline">{{ message.sender }}</a>
              </div>
              <p>{{ message.content }}</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
