
  <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">أهلا و سهلا</h1><br>
                <h1 class="display-3 text-white animated slideInDown"> شكرا لفتحك حساب جديد معنا     </h1>
               
            </div>
        </div>
    </div>
</div>
<!-- Header End -->




<!-- detail Start -->
















<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form (ngSubmit)="register()" #singupForm="ngForm" name="singupForm" style="margin: 50px;">
          <div class="form-group text-md-end">
            <label for="prenom">الإسم</label>
            <input [(ngModel)]="user.firstName" name="userName" type="text" class="form-control form-control-lg" required>
          </div>
          <br>
          <div class="form-group text-md-end">
            <label for="prenom">اللقب</label>
            <input [(ngModel)]="user.lastName" name="lastName" type="text" class="form-control form-control-lg" required>
          </div>
          <br>
          <div class="form-group text-md-end">
            <label for="prenom">البريد الإلكتروني</label>
            <input [(ngModel)]="user.username" type="text" name="email" id="email" class="form-control form-control-lg" required>
          </div>
          <br>
          <div class="form-group text-md-end">
            <label for="mdp">كلمة السر</label>
            <input [(ngModel)]="user.password" type="password" name="mdp" id="mdp" class="form-control form-control-lg" required>
          </div>
          <br>
          <!-- Radio buttons for selecting gender -->
          <div class="form-group text-md-end">
            <label></label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="USER" id="USER" [(ngModel)]="user.role" value="USER">
              <label class="form-check-label" for="TEACHER">ولي</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="TEACHER" id="TEACHER" [(ngModel)]="user.role" value="TEACHER">
              <label class="form-check-label" for="TEACHER">معلم</label>
            </div>
          </div>
          <br>
          <div class="mt-5 text-center">
            <input type="submit" class="btn btn-primary" value="فتح حساب">
          </div>
        </form>
      </div>
    </div>
  </div>
  




<!-- Header End -->

