<app-nav2></app-nav2>

 <!-- Header Start -->
 <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> النمو  </h1>
                
            </div>
        </div>
    </div>
</div>

<!-- Header End -->




<!-- contenu start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > تغييرات جسم الإنسان أثناء نموه </h3>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>


<div class="text-center">
    <img class="image" src="assets/img/nmw.jpg" alt=>
</div>
<br><br><br>


<div class="text-center">
    <img class="image" src="assets/img/nmw (3).jpg" alt=>
</div>

<br><br><br><br>
<div class="text-center">
<h3 class="text-danger"> مراحل نمو الانسان</h3><br><br><br>
<h3>
    الجنين <br><br>الرضيع <br>    <br>الطفولة المبكرة<br><br> الطفولة المتوسطة<br><br> الطفولة المتأخرة <br><br>المراهقة <br><br>الشباب <br><br>الرشد <br><br>الشيخوخة
</h3>
</div>


<br><br><br><br><br><br>




<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > تغييرات جسم الحيوان أثناء نموه </h3>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

</div>


<div class="text-center">
<img class="image" src="assets/img/received.jpg" alt=>
</div>
<br><br><br>


<div class="text-center">
<img class="image" src="assets/img/received_934142583760993.jpeg" alt=>
</div><br><br><br>

<div class="text-center">
<img class="image" src="assets/img/received01.jpeg" alt=>
</div>
<br><br><br>


<div class="text-center">
<img class="image" src="assets/img/received02.jpg" alt=>
</div>
<br><br><br>


<div class="text-center">
<img class="image" src="assets/img/Screenshot_20200814-160336.png" alt=>
</div>








<br><br><br><br>

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > مظاهر نمو النبتة </h3>
        <h1 class="mb-5"> ** تلخيص **</h1>
    </div>
 </div>

</div>

<div class="text-center">
<img class="image" src="assets/img/fdabbb.jpg" alt=>
</div>
<br><br><br>
<div class="text-center">
<img class="image" src="assets/img/nabat.png" alt=>
</div>


<div class="text-center">
<img class="image" src="assets/img/nabatt.png" alt=>
</div>
<br><br><br>

<div class="text-center">
<img class="image" src="assets/img/nabat (1).jpg" alt=>
</div><br><br><br>

<div class="text-center">
<img class="image" src="assets/img/nabat (2).jpg" alt=>
</div>
<br><br><br>

<br><br><br><br>

