
   <app-nav> </app-nav>
   <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">أهلا و سهلا</h1>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->




    <!-- detail Start -->


 <div class="container" >
      <h4 class="text-center">
        موقع تربوي يهتم بمادة الإيقاظ العلمي للمرحلة الإبتداية حيث يوفر لأبنائنا التلاميذ جميع المراجع من تلاخيص الدروس و الإمتحانات التي تساعدهم على المراجعة والتفوق كما يوفر للمربي مراجعا بيداغوجية قيمة يسهل الابحار فيه نتمنى أن يحظى بإعجابكم وأن يساعد أبنائنا في التفوق والتميز في مسيرتهم التربوية بحول الله

      </h4>

    </div>

 <!-- Header End -->
