
<app-nav2></app-nav2>


    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header2 ">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">  التغذية    </h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->



 <!-- contenu start -->

 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" >  الوجبات الغذائية و مواعيدها و مصادرها </h3>
                <br><br><br><br>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>
<div class="text-center">
<img src="assets/img/bf (2).jpg" class="img-fluid" alt="Image 1">  
</div>
<div class="text-center">
    <img src="assets/img/bf (3).jpg" class="img-fluid" alt="Image 1">  
    </div>
    <div class="text-center">
        <img src="assets/img/bf (1).jpg" class="img-fluid" alt="Image 1">  
        </div>

        <br><br><br><br>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid image-equal-height" src="assets/img/Beans 2.jpg" alt="Image 1">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        </div>
                    </div>
                    <div class="text-center p-4">
                      
         </div>
            </div>
            </div>
        
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid image-equal-height" src="assets/img/couscous.png" alt="Image 2">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        </div>
                    </div>
                    <div class="text-center p-4">
        
                        </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid image-equal-height" src="assets/img/sel.jpg" alt="Image 2">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        </div>
                    </div>
                    <div class="text-center p-4">
        
                        </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid image-equal-height" src="assets/img/klmmm.jpg" alt="Image 3">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                        </div>
                    </div>
                    <div class="text-center p-4">
                                                
                         </div>
                </div>
            </div>
         </div>
  

<br><br><br><br><br>

<div class="text-center">
    <h3>
        كل هذه الأغذية تنقسم مصادرها إلى مصدرين فمنها ما هو ذو مصدر نباتي و ما هو ذو مصدر حيواني
    </h3>
</div>



<br><br><br>


<div class="text-center">

        <img src="assets/img/aaa (3).jpg" class="img-fluid" alt="Image 1">
     

    </div>

    <br><br><br>

<div class="row">
    <div class="col-lg-6 text-center">
        <img src="assets/img/aaa (5).jpg" class="img-fluid" alt="Image 1">
    </div>

    <div class="col-lg-6 text-center">
        <img src="assets/img/aaa (4).jpg" class="img-fluid" alt="Image 1">
    </div>
            
</div>
<br><br><br>

<div class="row">
    <div class="col-lg-6 text-center ">
    <h3 class="text-danger">
        أغذية ذات مصدر نباتي
    </h3>   
    </div>

    <div class="col-lg-6 text-center ">
    <h3 class="text-danger">
        أغذية ذات مصدر حيواني
    </h3>  
    </div>
            
</div>
<br><br>

<div class="row">
    <div class="col-lg-6 text-center">
        <img src="assets/img/aaa (1).jpg" class="img-fluid" alt="Image 1">
    </div>

    <div class="col-lg-6 text-center">
        <img src="assets/img/aaa (2).jpg" class="img-fluid" alt="Image 1">
    </div>
            
</div>


<br><br><br><br><br><br>
  
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
        </div>
     </div>
</div>


<br><br><br><br><br><br>
<h3 class="text-center text-danger">أكتب في الخانة :  أغذية ذات مصدر نباتي / أغذية ذات مصدر حيواني </h3><br>
<br>
<div class="row g-3">
   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/qw.jpg" alt="Image 1">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
             
                        
<form>
   <div class="form-group text-md-end ">  
       <input type="text" name="text" id="text"> 
     <label>  
            </label>
   </div> </form> 
</div>
   </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/pates_a_la_ricotta_light.jpg" alt="Image 2">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                      
<form>
   <div class="form-group text-md-end ">  
       <input type="text" name="text" id="text"> 
     <label>  
            </label>
   </div> </form> 
               </div>
       </div>
   </div>

   <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
       <div class="team-item bg-light">
           <div class="overflow-hidden">
               <img class="img-fluid image-equal-height" src="assets/img/qw1.webp" alt="Image 3">
           </div>
           <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
               <div class="bg-light d-flex justify-content-center pt-2 px-1">
               </div>
           </div>
           <div class="text-center p-4">
                                       
<form>
   <div class="form-group text-md-end ">    
       <input type="text" name="text" id="text">
     <label>  
            </label>
   </div> </form> 
                </div>
       </div>
   </div>
   
</div>
<br> <div class="row g-3">
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/laitetoeuf.jpg" alt="Image 1">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
          
                     
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" id="text"> 
  <label>  
         </label>
</div> </form> 
</div>
</div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/pois-chiche-geant-altamura-bio.jpg" alt="Image 2">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                   
<form>
<div class="form-group text-md-end ">  
    <input type="text" name="text" id="text"> 
  <label>  
         </label>
</div> </form> 
            </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
    <div class="team-item bg-light">
        <div class="overflow-hidden">
            <img class="img-fluid image-equal-height" src="assets/img/kb.jpg" alt="Image 3">
        </div>
        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
            </div>
        </div>
        <div class="text-center p-4">
                                    
<form>
<div class="form-group text-md-end ">    
    <input type="text" name="text" id="text">
  <label>  
         </label>
</div> </form> 
             </div>
    </div>
</div>

</div>


<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>

<br><br><br><br><br>


 <br><br><br><br><br>

 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > قواعد صحية          </h3>
                <br><br><br><br>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>
  
<div class="text-center">
    <img src="assets/img/vv (4).jpg" class="img-fluid">
</div>

<br><br><br>
<div class="row g-3">
    <div class="col-lg-2">
   
</div>
<div class="col-lg-8">
    <h3 class="text-md-end">
        تحفز وجبة الإفطار الصباحي عملية التمثيل الغذائي لديكِ، مما يساعدك على حرق السعرات الحرارية على مدار اليوم. يمنحك أيضًا الطاقة التي تحتاجيها لإنجاز الأشياء وتساعدك على التركيز في العمل أو في المدرسة. هذه فقط بعض الأسباب التي تجعلها أهم وجبة في اليوم
    </h3>
</div>
<div class="col-lg-2">
   
</div>

</div>


<br><br><br><br><br>
<p class=" text-center">*************************************************************************************</p>
<br><br><br><br><br>

  
<div class="text-center">
    <img src="assets/img/vv (2).jpg" class="img-fluid">
</div>

<br><br><br>
<div class="row g-3">
    <div class="col-lg-2">
   
</div>
<div class="col-lg-8">
    <h3 class="text-md-end">
        يعد إحترام مواعيد الأكل و تنظيم مواعيد الوجبات خلال اليوم من الأمور الهامة التي يجب مراعاتها، كما يجب مراعاة التوازن بين كمية الكربوهيدرات، و الدهون، والبروتينات، وتناول المزيد من الألياف الموجودة في الحبوب الكاملة، والفواكه، والخضروات وذلك في كل وجبة، مما يساعد على الحصول على جسم مثالي والمحافظة على الصحة العامة للجسم
    </h3>
</div>
<div class="col-lg-2">
   
</div>

</div>
<br><br><br><br><br>
<p class=" text-center">*************************************************************************************</p>
<br><br><br><br><br>

  
<div class="text-center">
    <img src="assets/img/vv (3).jpg" class="img-fluid">
</div><br><br><br>

  
<div class="text-center">
    <img src="assets/img/vv (6).webp" class="img-fluid">
</div>

<br><br><br>

  
<div class="text-center">
    <img src="assets/img/vv (1).jpg" class="img-fluid">
</div>

<br><br><br><br><br>
<p class=" text-center">*************************************************************************************</p>
<br><br>

  
<div class="text-center">
    <img src="assets/img/vv (5).jpg" class="img-fluid">

 <br><br><br><br><br>



 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > إلتقاط الأغذية من قبل حيوانات مختلفة في أوساطها          </h3>
                <br><br><br><br>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>
<br>

<div class="row g-2">
    <div class="col-lg-6">
        <img src="assets/img/hgg (6).jpg" class="img-fluid">

    </div>
    <div class="col-lg-6">
        <img src="assets/img/hgg (7).jpg" class="img-fluid">

    </div>
</div>


<br><br><br><br><br><br>

<div class="row g-2">
    <div class="col-lg-6">
        <img src="assets/img/hgg (4).jpg" class="img-fluid">

    </div>
    <div class="col-lg-6">
        <img src="assets/img/hgg (2).jpg" class="img-fluid">

    </div>
</div>

<br>
<div class="text-center">
    <img src="assets/img/hgg (3).jpg" class="img-fluid">

</div>
<br><br><br>

<div class="row g-2">
    <div class="col-lg-6">
        <br><br><br><br><br><br>
        <img src="assets/img/hgg (5).jpg" class="img-fluid">

    </div>
    <div class="col-lg-6">
        <img src="assets/img/hgg (1).jpg" class="img-fluid">

    </div>
</div>


<br><br><br><br><br><br>
  
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
        </div>
     </div>
</div>

<br><br><br><br><br>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
              <img  src="assets/img/cvcv.jpg" alt=>
         </div>

         <div class="col-md-6">
<br><br><br>
<h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
: أختار الإجابة الصحيحة&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br><br><br>


           <div class="form-check text-md-end ">
             <label>
                <input type="checkbox" name="" ><strong>
                    البومة تلتقط أكلها بالأسنان  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
            
            
                     <input type="checkbox" name="" ><strong>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                
            
            
                    </label>
            </div><br>

            <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    البومة تلتقط أكلها بالمنقار
                    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>  
               <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    البومة تلتقط أكلها بالخرطوم
                    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>  

              

           </div>

    </div>
</div>
         
                 
             </div>
           

<br><br><br><br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
              <img  src="assets/img/asad.png" alt=>
         </div>

         <div class="col-md-6">
<br><br><br><br><br><br><br><br>



           <div class="form-check text-md-end ">
             <label>
                <input type="checkbox" name="" ><strong>
                    الأسد يلتقط أكله بالخرطوم  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
            
            
                     <input type="checkbox" name="" ><strong>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                
            
            
                    </label>
            </div><br>

            <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    الأسد يلتقط أكله بالأسنان 
                    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>  

               <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                       الأسد يلتقط أكله باللسان  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>
   
              

           </div>

    </div>
</div>
         
        

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
              <img  src="assets/img/grou.jpg" alt=>
         </div>

         <div class="col-md-6">
<br><br><br><br><br><br><br>



           <div class="form-check text-md-end ">
             <label>
                <input type="checkbox" name="" ><strong>
                    الضفدعة تلتقط أكلها بالأسنان  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
            
            
                     <input type="checkbox" name="" ><strong>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                
            
            
                    </label>
            </div><br>

            <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                    الضفدعة تلتقط أكلها بالمنقار
                    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>  

               <div class="form-check text-md-end ">
                <label>
                   <input type="checkbox" name="" ><strong>
                       الضفدعة تلتقط أكلها باللسان  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
               
               
                        <input type="checkbox" name="" ><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                   
               
               
                       </label>
               </div><br>
              

           </div>

    </div>
</div>
         
<div class="mt-5 text-center">
    <a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
 </div>
 
 <br><br><br>










<!-- ********************************************************************************** -->

<br><br><br><br>
<!-- ********************************************************************************** -->

