<app-nav2> </app-nav2>
 
 <!-- Header Start -->
   <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> الزمن </h1>
                
            </div>
        </div>
    </div>
</div>
<!-- Header End -->



<!-- contenu start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > مدة زمنية أطول / مدة زمنية أقصر</h3>
            <h1 class="mb-5"> ** تلخيص **</h1>
        </div>
     </div>

</div>




<div class="row g-4">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/titre.png" alt="Image 1">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                <h4>
                    الشمعة رقم 1 تستغرق مدة زمنية أطول من الشمعة رقم 2 في الإشتعال

                </h4>
           
                  </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/tr.jpg" alt="Image 2">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/rt.jpg" alt="Image 3">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                   </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/Sans.png" alt="Image 4">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                <h4>
                    الدلو رقم 2 يستغرق مدة زمنية أقصر من الدلو رقم 1 من أجل الإمتلاء
                </h4>
        
            </div>
        </div>
    </div>
</div>

   <br><br><br>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
           <h1 class="mb-5"> ** تمارين **</h1>
        </div>
     </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <br><br>
              <img  src="assets/img/gg.png" alt=>
         </div>

         <div class="col-md-6">

            <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
              : أختار الإجابة الصحيحة&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h3><br>


           <div class="form-check text-md-end ">
             <label>
                <input type="checkbox"class="question1" name="" ><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    إستغرق ربيع مدة زمنية أقصر من أصدقائه من أجل الوصول إلى المدرسة  •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
             </label>
            </div><br>

            <div class="form-check text-md-end">
                <label>
                    <input type="checkbox" class="question1" name="" ><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        إستغرق ربيع مدة زمنية أطول من أصدقائه من أجل الوصول إلى المدرسة  •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                </label>
                </div><br>
                  


                <div class="form-check text-md-end">
                    <label>
                       <input type="checkbox" class="question1" name="" ><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        إستغرق الأصدقاء مدة زمنية أطول من ربيع من أجل الوصول إلى المدرسة    •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </label>
                   </div><br>
   


                   <div class="form-check text-md-end">
                    <label>
                       <input type="checkbox" name="" class="question1" ><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        إستغرق الأصدقاء مدة زمنية أقصر من ربيع من أجل الوصول إلى المدرسة    •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </label>
                   </div><br>
   



                


           </div>

    </div>
</div>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*********************************************************************</p>







<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
              <img  src="assets/img/bvb.png" alt=>
         </div>

         <div class="col-md-6">

            <br> <br> <br> <br>

           <div class="form-check text-md-end ">
             <label>
                <input type="checkbox" class="question1" name="" ><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    يستغرق السائق رقم 1 مدة زمنية أقصر من السائق رقم 2 من أجل الوصول  •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
             </label>
            </div><br>

            <div class="form-check text-md-end">
                <label>
                    <input type="checkbox" class="question1" name="" ><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        يستغرق السائق رقم 1 مدة زمنية أطول من السائق رقم 2 من أجل الوصول    •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                </label>
                </div><br>
                  


                <div class="form-check text-md-end">
                    <label>
                       <input type="checkbox" class="question1" name="" ><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        يستغرق السائق رقم 2 مدة زمنية أقصر من السائق رقم 1 من أجل الوصول    •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </label>
                   </div><br>
   


                   <div class="form-check text-md-end">
                    <label>
                       <input type="checkbox" name="" class="question1"><strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        يستغرق السائق رقم 2 مدة زمنية أطول من السائق رقم 1 من أجل الوصول    •&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </label>
                   </div><br>
   

         
                 
             </div>
             </div>

           </div>

 
<div class="mt-5 text-center">
    <a class="btn btn-outline-warning" id="checkButton1"> أنهيت عملي</a>
 </div>
 <div id="corrections1">
    <!-- Les corrections seront affichées ici -->
</div>
<br><br>





<br><br><br><br>
<p class="text-center">/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\</p>
<br><br>

     
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title bg-white text-center text-primary px-3" > اليوم    </h3>
                <h1 class="mb-5"> ** تلخيص **</h1>
            </div>
         </div>

    </div>

    

    <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/aq.jpg" alt="Image 1">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>
                        نهار = شمس &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ليل = قمر 
                    </h4>
                   
                     </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/dangers-nuit.jpg" alt="Image 2">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>قمر</h4>
                   
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/canicule1.jpg" alt="Image 3">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                   <h4>
                    شمس
                   </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/aqa.png" alt="Image 4">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                    <h4>
                        ليل &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;نهار
                    </h4>
                    
                </div>
            </div>
        </div>
    </div>

       <br><br><br>
       <h3 class="text-center">تداول الليل و النهار ينتج عنه يوم<br>اليوم = ليل + نهار</h3>


 <!-- ********************************************************************************** -->

 <br><br><br><br>
 <p class="text-center">/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\</p>
 <br><br>
 
      
     <div class="container-xxl py-5">
         <div class="container">
             <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                 <h3 class="section-title bg-white text-center text-primary px-3" > اليوم : أنشطة ليلية / أنشطة نهارية   </h3>
                 <h1 class="mb-5"> ** تلخيص **</h1>
             </div>
          </div>
 
     </div>
 
     
 
     <div class="row g-4">
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/wawa.jpg" alt="Image 1">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                    <h4>
                        الجلوس  لقضاء وقت مع العائلة و مشاهدة التلفاز نشاط ليلي
                    </h4>
                     </div>
             </div>
         </div>
     
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/nho.png" alt="Image 2">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                    <h4>
                        النوم نشاط ليلي<br>
إنجاز الواجبات المدرسية نشاط ليلي<br>
تنظيف الأسنان قبل النوم نشاط ليلي<br>
تناول العشاء نشاط ليلي<br>
                    </h4>
                     </div>
             </div>
         </div>
     
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/kho.png" alt="Image 3">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                    <h4>
                        الذهاب إلى المدرسة نشاط نهاري<br>
السباحة نشاط نهاري<br>
الإستحمام نشاط نهاري<br>
تناول فطور الصباح نشاط نهاري<br>
                    </h4>
                      </div>
             </div>
         </div>
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/hghg.png" alt="Image 4">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                    <h4>
                        الزراعة و الإستلقاء على العشب و قضاء وقت ممتع في الطبيعة نشاط نهاري
                    </h4>
                       </div>
             </div>
         </div>
</div>
<br>
<br><br>
 
     <div class="container-xxl py-5">
         <div class="container">
             <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5"> ** تمارين **</h1>
             </div>
          </div>
     </div>
 
 <h3 class="text-center text-danger">أكتب في الخانة : نشاط ليلي / نشاط نهاري</h3><br>
 
     <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/xa.jpg" alt="Image 1">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                  
                             
    <form>
        <div class="form-group text-md-end ">  
            <input type="text" name="text1" class="question4" id="text1">
          <label>  
                 </label>
        </div> </form> 
     </div>
        </div>
        </div>
    
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/xaa.jpg" alt="Image 2">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                                           
    <form>
        <div class="form-group text-md-end ">  
            <input type="text2" name="text" class="question4" id="text2">
          <label>  
                 </label>
        </div> </form> 
                    </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/xax.jpg" alt="Image 3">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                                            
    <form>
        <div class="form-group text-md-end ">  
            <input type="text3" name="text" class="question4" id="text3">
          <label>  
                 </label>
        </div> </form> 
                     </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid image-equal-height" src="assets/img/xaxa (2).jpg" alt="Image 4">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                    </div>
                </div>
                <div class="text-center p-4">
                                           
    <form>
        <div class="form-group text-md-end ">  
            <input type="text4" name="text" class="question4" id="text4">
          <label>  
                 </label>
        </div> </form> 
                      </div>
            </div>
        </div>
</div>



<div class="mt-5 text-center">
    <a class="btn btn-outline-warning" id="checkButton4"> أنهيت عملي</a>

 </div><br><br><br> <div  id="corrections4" style="text-align: center;">
    <!-- Les corrections seront affichées ici -->
</div>









<br>
<br><br>     <p class="text-center">*********************************************************************</p>
 
 
 
 
 
 
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-6">
                   <img  src="assets/img/cvcv.jpg" alt=>
              </div>
 
              <div class="col-md-6">
 <br><br><br>
 <h3 class="text-md-end text-danger">&nbsp;&nbsp;&nbsp;
   : أختار الإجابة الصحيحة&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 </h3><br><br><br>

 
                <div class="form-check text-md-end ">
                  <label>
                     <input type="checkbox" name="" ><strong>
                        تمارس طائر البومة نشاطها ليلا  :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                 
                 
                          <input type="checkbox" class="question3" name="" ><strong>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                     
                 
                 
                         </label>
                 </div><br>
 
                 <div class="form-check text-md-end ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            تمارس طائر البومة نشاطها نهارا:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" class="question3" name="" ><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br>  
 
                   
 
                </div>
 
         </div>
     </div>
              
       
 
 

     <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"><br><br><br><br>
                  <img  src="assets/img/vcvc.jpg" alt=>
             </div>

             <div class="col-md-6">
<br><br><br>
<br><br><br>


               <div class="form-check text-md-end ">
                 <label>
                    <input type="checkbox" name="" ><strong>
                        يلعب الطفل بالكرة ليلا   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                
                
                         <input type="checkbox" class="question3" name="" ><strong>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    
                
                
                        </label>
                </div><br>

                <div class="form-check text-md-end ">
                    <label>
                       <input type="checkbox" name="" ><strong>
                        يلعب الطفل بالكرة نهارا :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                   
                   
                            <input type="checkbox" class="question3" name=""  ><strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                       
                   
                   
                           </label>
                   </div><br>  

            </div>

        </div>
    </div>
             
                     
        

     <div class="mt-5 text-center">
         <a class="btn btn-outline-warning" id="checkButton3"> أنهيت عملي</a>
      </div><br><br><br> <div  id="corrections3" style="text-align: center;">
        <!-- Les corrections seront affichées ici -->
    </div><br><br><br>
    <div id="corrections2" style="text-align: center;">
        <!-- Les corrections seront affichées ici -->
    </div><br><br><br>
    <div id="corrections9" style="text-align: center;">
     <!-- Les corrections seront affichées ici -->
    </div>



    
 <br><br><br><br>
 <p class="text-center">/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\</p>
 <br><br>
 
      
     <div class="container-xxl py-5">
         <div class="container">
             <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                 <h3 class="section-title bg-white text-center text-primary px-3" >ذكر أيام الأسبوع بالترتيب   </h3>
                 <h1 class="mb-5"> ** تلخيص **</h1>
             </div>
          </div>
 
     </div>
 
     
 
     <div class="row g-4">


<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/yuuu.jpg" alt="Image 4">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                       </div>
             </div>
         </div>



         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/yuu.jpg" alt="Image 1">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                      </div>
             </div>
         </div>
     
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/yu.jpg" alt="Image 2">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                   
                     </div>
             </div>
         </div>
     
         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
             <div class="team-item bg-light">
                 <div class="overflow-hidden">
                     <img class="img-fluid image-equal-height" src="assets/img/ben.jpg" alt="Image 3">
                 </div>
                 <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                     <div class="bg-light d-flex justify-content-center pt-2 px-1">
                     </div>
                 </div>
                 <div class="text-center p-4">
                 
                        </div>
             </div>
         </div>
         
</div>
<br>




 
<div class="row g-4">
   

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/swwx.jpg" alt="Image 2">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
              
                </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/swx.jpg" alt="Image 3">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                
                   </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/sww.jpg" alt="Image 4">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                  </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item bg-light">
            <div class="overflow-hidden">
                <img class="img-fluid image-equal-height" src="assets/img/sw.jpg" alt="Image 1">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                </div>
            </div>
            <div class="text-center p-4">
                 </div>
        </div>
    </div>


</div>
<br><br><br>


