<app-nav2></app-nav2>

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header6 ">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown"> الهواء و التنفس</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


 <!-- contenu start -->

 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > الهواء ضروري لحياة الإنسان والحيوان والنبات   </h3>
                <br><br><br><br>
            <h1 class="mb-5">  ** تلخيص **</h1>
        </div>
     </div>
</div>


<div class="text-center">
    <img src="assets/img/tp (2).jpg" class="img-fluid" alt="Image 1">  
    </div>
    
    <div class=" text-center">
        <img class="image" src="assets/img/tp (1).jpg" alt=>
    </div>
    <div class=" text-center">
        <img class="image" src="assets/img/tp (3).jpg" alt=>
    </div>


    <br><br><br><br><br>
    
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h3 class="section-title bg-white text-center text-primary px-3" > خاصيات الهواء <br>
                مكونات الهواء </h3>
                <br><br><br><br>
            <h1 class="mb-5">  ** تلخيص **</h1>
        </div>
     </div>
</div>

<div class="text-center">
<img src="assets/img/may (1).jpg" class="img-fluid" alt="Image 1">  
</div>

<div class=" text-center">
    <img class="image" src="assets/img/may (3).jpg" alt=>
</div>

<div class=" text-center">
    <img class="image" src="assets/img/may (2).jpg" alt=>
</div>








    <br><br><br>
    <div class="container-xxl py-5">
        <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                   <h1 class="mb-5"> ** تمارين **</h1>
        </div>
        </div>
        </div>
        <br><br>
      


        <h3 class="text-center text-danger">  أقرأ التجربة و أجيب على التعليمات 
        </h3><br>
   <br>
   <div class="row g-2">
    <div class="col-lg-6">
        <div class="text-center"><br><br>التعليمة 1  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;التعليمة 2  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp; التعليمة 3 <br><br>
            <textarea  type="text"  name="text" class="question8" id="a1"></textarea>      &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;
            <textarea  type="text"  name="text" class="question8" id="a2"></textarea>      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
            <textarea  type="text"  name="text" class="question8" id="a3"></textarea>      
           </div>
    </div>
    <div class="col-lg-6">
        <div class=" text-center">
            <img class="image" src="assets/img/exp.png" alt=>
        </div>
    </div>
   </div>
   


<br><br><br><br>
<p class="text-center">**********************************************************************************************************</p>
<br><br><br><br>

   <h3 class="text-center text-danger"> أذكر 3 خاصيات للهواء
</h3><br>
<br>
<div class="text-center">
<textarea  type="text"  name="text" class="question8" id="a4"></textarea>
</div>


<div class="mt-5 text-center">
    <a class="btn btn-outline-warning" id="checkButton8"> أنهيت عملي</a>
    </div>
    <br><br><br> 
    <div id="corrections8" style="text-align: center;">
        <!-- Les corrections seront affichées ici -->
    </div>  





<br><br><br><br>
<p class="text-center">**********************************************************************************************************</p>
<br><br><br><br>














<h3 class="text-center text-danger">
    : "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
    <br>


<div class="text-center">
       <div class="form-check ">
         <label>
            <input type="checkbox" name="" ><strong>
                للهواء كتلة   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
        
        
                <input type="checkbox" class="question3" name="" ><strong>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            
        
        
                </label>
        </div><br> <br> 




        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الهواء قابل للانضغاط الانتشار
                :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br> 



           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الهواء غير قابل للانظغاط الانتشار         :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br>

           
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الهواء البارد أخف من الهواء الساخن
                :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br> <br> 

           
         


             
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الهواء الساخن أخف من الهواء البارد      :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  

               
        <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                الهواء ضروري للإنسان و الحيوان و النبات 
                :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  



           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                يمثل غاز النيتروجين نصف حجم الهواء  (ما يقارب 50%)
                :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  
           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                يمثل غاز النيتروجين ثلاثة أرباع حجم الهواء  (ما يقارب 78%)
                :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  
           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                يمثل غاز الاكسجين ثلاثة أرباع حجم الهواء  (ما يقارب 75%)
                :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  
           <div class="form-check  ">
            <label>
               <input type="checkbox" name="" ><strong>
                يمثل غاز الاكسجين ربع حجم الهواء  (ما يقارب 29.9%) 
                :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
           
           
                <input type="checkbox" class="question3" name="" ><strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
               
           
           
                   </label>
           </div><br>  <br>  
           




    </div>
                           
    <div class="mt-5 text-center ">
        <a class="btn btn-outline-warning "  id="checkButton3"> أنهيت عملي</a>
        </div> 
         <br><br><br> 

         <div class="text-center" id="corrections3">
            <!-- Les corrections seront affichées ici -->
        </div>
    



<br><br><br><br><br>
                            
       

        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h3 class="section-title bg-white text-center text-primary px-3" > الإحتراق في الهواء وأهمية الأكسجين في عملية الاحتراق         <br>
                        العناصر المتدخلة في عملية الاحتراق والعناصر الناتجة عنه<br>
                        إحتراق الشمعة<br>
                      </h3>
                        <br><br><br><br>
                    <h1 class="mb-5"> ** تلخيص **</h1>
                </div>
             </div>
        </div>

<br><br><br>
        <div class="text-center">
            <img src="assets/img/ehti.JPG" class="img-fluid" alt="Image 1">  
            </div>
            <br><br><br>
        <div class="text-center">
        <img src="assets/img/ehti.png" class="img-fluid" alt="Image 1">  
        </div>
        <br><br><br>
            <div class="text-center">
                <img src="assets/img/ehtiraq (1).png" class="img-fluid" alt="Image 1">  
                </div>
                <div class="text-center">
                    <img src="assets/img/ehtiraq (2).png" class="img-fluid" alt="Image 1">  
                    </div>
                   
            <div class="text-center">
                <img src="assets/img/ehtiraq (3).png " class="img-fluid" alt="Image 1">  
                </div>
               
        <div class="text-center">
            <img src="assets/img/ehtiraq (4).png " class="img-fluid" alt="Image 1">  
            </div>
            <div class="text-center">
                <img src="assets/img/ehtiraq (5).png " class="img-fluid" alt="Image 1">  
                </div> <br><br>
               
                
<br><br><br>



                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                           <h1 class="mb-5"> ** تمارين **</h1>
                        </div>
                    </div>
                </div>
                

           <br><br><br><br><br>
      
                <h3 class="text-center text-danger">
                    : "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </h3><br> 
                    <br>
                
                
                <div class="text-center">
                       <div class="form-check ">
                         <label>
                            <input type="checkbox" name="" ><strong>
                                يكون الاحتراق تاما في الهواء   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                        
                        
                                <input type="checkbox" class="question1" name="" ><strong>
                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                            
                        
                        
                                </label>
                        </div><br> <br> 
                
                
                
                
                        <div class="form-check  ">
                            <label>
                               <input type="checkbox" name="" ><strong>
                                يكون الاحتراق غير تام إذا لم يتوفّر الأكسجين بالكميّة الكافية
                                :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                           
                           
                                <input type="checkbox" class="question1" name="" ><strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                               
                           
                           
                                   </label>
                           </div><br> <br> 
                
                
                
                           <div class="form-check  ">
                            <label>
                               <input type="checkbox" name="" ><strong>
                                الأكسجين ليس له دور في عمليّة الاحتراق      :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                           
                           
                                <input type="checkbox" class="question1" name="" ><strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                               
                           
                           
                                   </label>
                           </div><br> <br>
                
                           
                        <div class="form-check  ">
                            <label>
                               <input type="checkbox" name="" ><strong>
                                الأكسجين و المادة المحترقة كافيان لعمليّة الاحتراق
                                :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                           
                           
                                <input type="checkbox" class="question1" name="" ><strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                               
                           
                           
                                   </label>
                           </div><br> <br> 
                
                           
                         
                
                
                             
                        <div class="form-check  ">
                            <label>
                               <input type="checkbox" name="" ><strong>
                                يتعكر ماء الجير عند اتّحاده بغاز بخار الماء      :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                           
                           
                                <input type="checkbox" class="question1" name="" ><strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                               
                           
                           
                                   </label>
                           </div><br>  <br>  
                
                               
                        <div class="form-check  ">
                            <label>
                               <input type="checkbox" name="" ><strong>
                                يتعكر ماء الجير عند اتّحاده بغاز  ثاني أكسيد الكربون
                                :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                           
                           
                                <input type="checkbox" class="question1" name="" ><strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                               
                           
                           
                                   </label>
                           </div><br>  <br>  
                           
                      
                           <div class="form-check  ">
                            <label>
                               <input type="checkbox" name="" ><strong>
                                غاز أحادي أكسيد الكربون من نواتج الاحتراق التام     :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                           
                           
                                <input type="checkbox" class="question1" name="" ><strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                               
                           
                           
                                   </label>
                           </div><br>  <br>  
                                 
                        <div class="form-check  ">
                            <label>
                               <input type="checkbox" name="" ><strong>
                                الدوار و الاختناق في مكان مغلق به تدفئة دليل على نقص ثاني أكسيد الكربون   :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                           
                           
                                <input type="checkbox" class="question1" name="" ><strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                               
                           
                           
                                   </label>
                           </div><br>  <br>  
                                 
                        <div class="form-check  ">
                            <label>
                               <input type="checkbox" name="" ><strong>
                                إحتراق النفط أبطأ من احتراق البنزين و الكحول     :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                           
                           
                                <input type="checkbox" class="question1" name="" ><strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                               
                           
                           
                                   </label>
                           </div><br>  <br>  
                                 
                        <div class="form-check  ">
                            <label>
                               <input type="checkbox" name="" ><strong>
                                تمثل المنطقة القاتمة  في لهب الشمعة غاز الأكسجين     :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                           
                           
                                <input type="checkbox" class="question1" name="" ><strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                               
                           
                           
                                   </label>
                           </div><br>  <br>  
                
                           <div class="form-check  ">
                            <label>
                               <input type="checkbox" name="" ><strong>
                                تمثل المنطقة الصفراء في لهب الشمعة المنطقة المضيئة    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                           
                           
                                <input type="checkbox" class="question1" name="" ><strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                               
                           
                           
                                   </label>
                           </div><br>  <br>  
                
                    </div>
                
                    <div class="mt-5 text-center">
                        <a class="btn btn-outline-warning"  id="checkButton1"> أنهيت عملي</a>
                    </div> 
                    <br><br><br> <div class="text-center" id="corrections1">
                        <!-- Les corrections seront affichées ici -->
                    </div>
                                    
                
                <br><br><br><br><br>






                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                            <h3 class="section-title bg-white text-center text-primary px-3" > 
                                التبادل الغازي في مستوى الرئتين </h3>
                                <br><br><br><br>
                            <h1 class="mb-5"> ** تلخيص **</h1>
                        </div>
                     </div>
                </div>
        
        <br><br><br>
                <div class="text-center">
                    <img src="assets/img/tabedel.png" class="img-fluid" alt="Image 1">  
                    </div>
                    <br><br><br>
                <div class="text-center">
                <img src="assets/img/tabedel (1).png" class="img-fluid" alt="Image 1">  
                </div>
                <br><br><br>
                    <div class="text-center">
                        <img src="assets/img/tabedel (2).png" class="img-fluid" alt="Image 1">  
                        </div>
                        <div class="text-center">
                            <img src="assets/img/tabedel (3).png" class="img-fluid" alt="Image 1">  
                            </div>
                           
                    <div class="text-center">
                        <img src="assets/img/tabedel (4).png " class="img-fluid" alt="Image 1">  
                        </div>
                       
                <div class="text-center">
                    <img src="assets/img/tabedel (5).png " class="img-fluid" alt="Image 1">  
                    </div>
                  
                       
                        
        <br><br><br>