<app-nav2></app-nav2>
 <!-- Header Start -->
 <div class="container-fluid bg-primary py-5 mb-5 page-header6 ">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> العين و الضوء </h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- contenu start -->

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > إنتثار الضوء <br>إنعكاس الضوء <br>
            إنكسار الضوء    </h3>
            <br><br><br><br>
        <h1 class="mb-5">  ** تلخيص **</h1>
    </div>
 </div>
</div>


<div class="text-center">
<img src="assets/img/dh (1).jpg" class="img-fluid" alt="Image 1">  
</div>

<div class=" text-center">
    <img class="image" src="assets/img/dh (1).png" alt=>
</div>


<br><br><br><br><br>
<div class="text-center">
<img src="assets/img/fr (1).jpg" class="img-fluid" alt="Image 1">  
</div>

<div class=" text-center">
<img class="image" src="assets/img/fr (2).jpg" alt=>
</div>

<div class=" text-center">
<img class="image" src="assets/img/fr (3).jpg" alt=>
</div>


<div class="text-center">
<img class="image" src="assets/img/fr (4).jpg" alt=>
</div>

<div class=" text-center">
<img class="image" src="assets/img/fr (5).jpg" alt=>
</div>

<div class=" text-center">
<img class="image" src="assets/img/fr (6).jpg" alt=>
</div>




<br><br><br><br>
<p class="text-center">**********************************************************************************************</p>
<br><br><br><br>
<div class=" text-center">
<img class="image" src="assets/img/dh (2).png" alt=>
</div>
<div class=" text-center">
<img class="image" src="assets/img/dh (3).png" alt=>
</div><br><br><br><br><br>
<div class=" text-center">
<img class="image" src="assets/img/in3 (2).jpg" alt=>
</div><br><br><br><br><br>
<div class=" text-center">
<img class="image" src="assets/img/in3 (1).jpg" alt=>
</div>


<br><br><br><br>
<p class="text-center">**********************************************************************************************</p>
<br><br><br><br>

<div class=" text-center">
<img class="image" src="assets/img/ink.jpeg" alt=>
</div>

<div class=" text-center">
<img class="image" src="assets/img/dh (4).png" alt=>
</div>

<div class=" text-center">
<img class="image" src="assets/img/dh (4).png" alt=>
</div>
<div class=" text-center">
<img class="image" src="assets/img/dh (5).png" alt=>
</div>
<div class=" text-center">
<img class="image" src="assets/img/dh (6).png" alt=>
</div>
<div class=" text-center">
<img class="image" src="assets/img/dh (7).png" alt=>
</div>
<div class=" text-center">
<img class="image" src="assets/img/dh (8).png" alt=>
</div>
   <br><br><br>
<div class="container-xxl py-5">
    <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
               <h1 class="mb-5"> ** تمارين **</h1>
    </div>
    </div>
    </div>
    <br><br>
  
<h3 class="text-center text-danger">
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
<br>


<div class="text-center">
   <div class="form-check ">
     <label>
        <input type="checkbox" name="" ><strong>
            ينتثر الضوء في كل الإتجاهات    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
    
    
            <input type="checkbox" class="question3" name="" ><strong>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
        
    
    
            </label>
    </div><br> <br> 




    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            ينتثر الضوء في إتجاه واحد 
            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
            <input type="checkbox" class="question3" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br> 



       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            تنعدم الرؤية في غرفة مظلمة          :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
            <input type="checkbox" class="question3" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br>

       
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            الفانوس الكهربائي ناثر للضوء 
            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
            <input type="checkbox" class="question3" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br> 

       
     


         
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            نستطيع رؤية الأجسام بدون توفر الضوء          :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
            <input type="checkbox" class="question3" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  

           
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            نتمكن من رؤية الأجسام لأنها ترسل الضوء المنتثر إلى أعيننا       :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
            <input type="checkbox" class="question3" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
       




</div>
                           
<div class="mt-5 text-center ">
    <a class="btn btn-outline-warning "  id="checkButton3"> أنهيت عملي</a>
    </div> 
     <br><br><br> 

     <div class="text-center" id="corrections3">
        <!-- Les corrections seront affichées ici -->
    </div>
                




<br><br><br><br><br>
                        
   

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title bg-white text-center text-primary px-3" > العين و الرؤية <br>
                    عيوب الرؤية و وسائل الإصلاح </h3>
                    <br><br><br><br>
                <h1 class="mb-5"> ** تلخيص **</h1>
            </div>
         </div>
    </div>



    <div class="text-center">
    <img src="assets/img/ain (1).jpg" class="img-fluid" alt="Image 1">  
    </div>

    <div class="text-center">
        <img src="assets/img/ain (2).jpg" class="img-fluid" alt="Image 1">  
        </div>
        <div class="text-center">
            <img src="assets/img/ain (3).jpg" class="img-fluid" alt="Image 1">  
            </div>
            <div class="text-center">
                <img src="assets/img/ain (4).jpg" class="img-fluid" alt="Image 1">  
                </div>
               
        <div class="text-center">
            <img src="assets/img/ain (5).jpg " class="img-fluid" alt="Image 1">  
            </div>
           
    <div class="text-center">
        <img src="assets/img/ain (6).jpg " class="img-fluid" alt="Image 1">  
        </div>
        <div class="text-center">
            <img src="assets/img/ain (7).jpg " class="img-fluid" alt="Image 1">  
            </div> <br><br>
            <div class="text-center">
                <img src="assets/img/ang.png " class="img-fluid" alt="Image 1">  
                </div> 
           <br><br><br><br><br>

            <div class="text-center">
                <img src="assets/img/ain0.png" class="img-fluid" alt="Image 1">  
                </div>
            
<br><br><br><br><br>
            <div class="text-center">
                <img src="assets/img/ainn (1).jpg" class="img-fluid" alt="Image 1">  
                </div><br><br>
                <div class="text-center">
                    <img src="assets/img/ainn (1).png" class="img-fluid" alt="Image 1">  
                    </div>
                    <div class="text-center">
                        <img src="assets/img/ainn (2).png" class="img-fluid" alt="Image 1">  
                        </div>

                       
                            
            
            
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                       <h1 class="mb-5"> ** تمارين **</h1>
                    </div>
                </div>
            </div>
            
            
            
            <br><br>
               

            <h3 class="text-center text-danger">   أذكر 3 نقاط تشابه بين العين و آلة التصوير
            </h3><br>
       <br>
       <div class="text-center">
     <textarea  type="text"  name="text" class="question8" id="a1"></textarea>
    </div>
       
    


       <br><br><br><br><br>
       <h3 class="text-center text-danger">   أذكر إسم الحالة في كل مرة
    </h3><br>
<br>
     <div class="row g-2">


        <div class="col-lg-2">
            <div class="text-center">3<br>
          <textarea  type="text"  name="text" class="question8" id="a2"></textarea>
         </div>
         </div> 
         <div class="col-lg-2">
            <div class="text-center">2<br>
          <textarea  type="text"  name="text" class="question8" id="a3"></textarea>
         </div>
         </div> 
         <div class="col-lg-2">
            <div class="text-center">1<br>
          <textarea  type="text"  name="text" class="question8" id="a4"></textarea>
         </div>
         </div> 

        <div class="col-lg-6">
<div class="text-center">
<img src="assets/img/ain0.jpg" class="img-fluid" alt="Image 1">  
</div>
</div>



</div>

<div class="mt-5 text-center">
    <a class="btn btn-outline-warning" id="checkButton8"> أنهيت عملي</a>
    </div>
    <br><br><br> 
    <div id="corrections8" style="text-align: center;">
        <!-- Les corrections seront affichées ici -->
    </div>
       
      

            <br><br><br><br><br>




  
            <h3 class="text-center text-danger">
                : "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h3><br> 
                <br>
            
            
            <div class="text-center">
                   <div class="form-check ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            الشبكية تنطبع عليها الأجسام في وضعها الطبيعي    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                            <input type="checkbox" class="question" name="" ><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br> <br> 
            
            
            
            
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            العصب البصري ينقل الإشارات إلى المخ 
                            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                            <input type="checkbox" class="question" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br> <br> 
            
            
            
                       <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            الحدقة تمنع الأشعة الضوئية من المرور إلى داخل العين        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                            <input type="checkbox" class="question" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br> <br>
            
                       
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            المخ يتم فيه تحليل الإشارات وتأويلها
                            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                            <input type="checkbox" class="question" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br> <br> 
            
                       
                     
            
            
                         
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            القزحية تختلف من شخص إلى آخر من حيث اللون        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                            <input type="checkbox" class="question" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
            
                           
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            القرنية هي عنصر التركيز الرئيسي للعين
                            :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                            <input type="checkbox" class="question" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                       
                  
                       <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            في حال طول النظر تنطبع الصور أمام الشبكية       :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                            <input type="checkbox" class="question" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                             
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            في حال طول النظر تنطبع الصور وراء الشبكية      :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                            <input type="checkbox" class="question" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                             
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            في حال قصر النظر تنطبع الصور وراء الشبكية       :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                            <input type="checkbox" class="question" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                             
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            في حال قصر النظر تنطبع الصور أمام الشبكية       :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                            <input type="checkbox" class="question" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
            
            
            
                </div>
                  
<div class="mt-5 text-center">
    <a class="btn btn-outline-warning"  id="checkButton"> أنهيت عملي</a>
</div> 
<br><br><br> <div class="text-center" id="corrections">
    <!-- Les corrections seront affichées ici -->
</div>              
            
            <br><br><br><br><br>


<!-- Team End -->
    
