<app-nav2></app-nav2>
 <!-- Header Start -->
 <div class="container-fluid bg-primary py-5 mb-5 page-header6 ">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown"> العين و الضوء </h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- contenu start -->

<div class="container-xxl py-5">
<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h3 class="section-title bg-white text-center text-primary px-3" > إنتثار الضوء <br>إنعكاس الضوء <br>
            إنكسار الضوء    </h3>
            <br><br><br><br>
        <h1 class="mb-5">  ** تلخيص **</h1>
    </div>
 </div>
</div>


<div class="text-center">
<img src="assets/img/dh (1).jpg" class="img-fluid" alt="Image 1">  
</div>

<div class=" text-center">
    <img class="image" src="assets/img/dh (1).png" alt=>
</div>


<br><br><br><br><br>
<div class="text-center">
<img src="assets/img/fr (1).jpg" class="img-fluid" alt="Image 1">  
</div>

<div class=" text-center">
<img class="image" src="assets/img/fr (2).jpg" alt=>
</div>

<div class=" text-center">
<img class="image" src="assets/img/fr (3).jpg" alt=>
</div>


<div class="text-center">
<img class="image" src="assets/img/fr (4).jpg" alt=>
</div>

<div class=" text-center">
<img class="image" src="assets/img/fr (5).jpg" alt=>
</div>

<div class=" text-center">
<img class="image" src="assets/img/fr (6).jpg" alt=>
</div>




<br><br><br><br>
<p class="text-center">**********************************************************************************************</p>
<br><br><br><br>
<div class=" text-center">
<img class="image" src="assets/img/dh (2).png" alt=>
</div>
<div class=" text-center">
<img class="image" src="assets/img/dh (3).png" alt=>
</div><br><br><br><br><br>
<div class=" text-center">
<img class="image" src="assets/img/in3 (2).jpg" alt=>
</div><br><br><br><br><br>
<div class=" text-center">
<img class="image" src="assets/img/in3 (1).jpg" alt=>
</div>


<br><br><br><br>
<p class="text-center">**********************************************************************************************</p>
<br><br><br><br>

<div class=" text-center">
<img class="image" src="assets/img/ink.jpeg" alt=>
</div>

<div class=" text-center">
<img class="image" src="assets/img/dh (4).png" alt=>
</div>

<div class=" text-center">
<img class="image" src="assets/img/dh (4).png" alt=>
</div>
<div class=" text-center">
<img class="image" src="assets/img/dh (5).png" alt=>
</div>
<div class=" text-center">
<img class="image" src="assets/img/dh (6).png" alt=>
</div>
<div class=" text-center">
<img class="image" src="assets/img/dh (7).png" alt=>
</div>
<div class=" text-center">
<img class="image" src="assets/img/dh (8).png" alt=>
</div>
   <br><br><br>
<div class="container-xxl py-5">
    <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
               <h1 class="mb-5"> ** تمارين **</h1>
    </div>
    </div>
    </div>
    <br><br>
  
<h3 class="text-center text-danger">
: "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</h3><br> 
<br>


<div class="text-center">
   <div class="form-check ">
     <label>
        <input type="checkbox" name="" ><strong>
            ينتثر الضوء في كل الإتجاهات    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
    
    
             <input type="checkbox" name="" ><strong>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
        
    
    
            </label>
    </div><br> <br> 




    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            ينتثر الضوء في إتجاه واحد 
            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br> 



       <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            تنعدم الرؤية في غرفة مظلمة          :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br>

       
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            الفانوس الكهربائي ناثر للضوء 
            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br> <br> 

       
     


         
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            نستطيع رؤية الأجسام بدون توفر الضوء          :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  

           
    <div class="form-check  ">
        <label>
           <input type="checkbox" name="" ><strong>
            نتمكن من رؤية الأجسام لأنها ترسل الضوء المنتثر إلى أعيننا       :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
       
       
                <input type="checkbox" name="" ><strong>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
           
       
       
               </label>
       </div><br>  <br>  
       




</div>

<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>
                




<br><br><br><br><br>



<span style="font-family: inherit; font-size: large;">
        
    <br>
    <h2 class="text-danger">
    أُكْمِلُ الفَرَاغَ بِِالكَلِمَةِ المُنَاسِبَةِ :</h2><br><br>
    <form name="form1" data-gtm-form-interact-id="0">
    <blockquote>
    <dl>
    <dt>
    إِذَا اِصْطَدَمَ الضَوْءُ بِجِسٍمٍ 
    <select name="liste1" size="1" style="color: blue; font-family: inherit; font-size: medium;" data-gtm-form-interact-field-id="0">
    <option value="1"> </option>
    <option value="1">كَبِيرٍ</option>
    <option value="1">شَفَّافٍ</option>
    <option value="0">عَاتِمٍ</option>
    </select>
    اِنْتَثَرَ فِي
    <select name="liste2" size="1" style="color: blue; font-family: inherit; font-size: medium;" data-gtm-form-interact-field-id="1">
    <option value="1"> </option>
    <option value="1">اِتِّجَاهٍ وَاحِدِ</option>
    <option value="0">كُلِّ الاتِّجَاهَاتِ</option>
    <option value="1">اِتِّجَاهٍ وَاحِدِ مُسْتَقِيمٍ</option>
    </select>
    <br>
</dt>
    <dt>
    يَنْتَشِرُ الضَوْءُ حَسَبَ خُطُوطٍ
    <select name="liste3" size="1" style="color: blue; font-family: inherit; font-size: medium;" data-gtm-form-interact-field-id="2">
    <option value="1"> </option>
    <option value="1">مُنْكَسِرَةٍ</option>
    <option value="0">مُسْتَقِيمَةٍ</option>
    <option value="1">مُنْحَنِيَةٍ</option>
    <option value="1">قَصِيرَةٍ</option>
    </select>
    .
</dt>
    <dt>
    عِنْدَمَا يَصْطَدِمُ الضَوْءُ بِمِرْآةٍ مُسْتَوِيَةٍ فإنّه
    <select name="liste4" size="1" style="color: blue; font-family: inherit; font-size: medium;" data-gtm-form-interact-field-id="3">
    <option value="1"> </option>
    <option value="1">يَنْتَثِرُ</option>
    <option value="0">يَنْعَكِسُ</option>
    <option value="1">يَنْكَسِرُ</option>
    </select>
    .
</dt>
    <dt>
    ظَاهِرَةُ
    <select name="liste5" size="1" style="color: blue; font-family: inherit; font-size: medium;" data-gtm-form-interact-field-id="4">
    <option value="1"> </option>
    <option value="1">الاِنْعِكَاسُ</option>
    <option value="1">الاِنْتِثَارُ</option>
    <option value="0">الاِنْكِسَارُ</option>
    </select>
    هِيَ التِي تَجْعَلُ قَلَمًا مَغْمُوسَا فِي إِنَاءٍ به مَاء فِي وَضْعٍ مَائِلٍ، يَبْدُو وَكَأَنَّهُ مَكْسُورٌ عِنْدَ السَطْحِ الفَاصِلِ بَيْنَ المَاءٍ وَالهَوَاء.
</dt>
</dl>
    </blockquote>


    <div class="mt-5 text-center">
        <a onclick="verif1()"  class="btn btn-outline-warning" href=""> أنهيت عملي</a>
        </div>
    </form>
    <br><br><br><br><br>
    
    <h2 class="text-danger">
    أُكْمِلُ بِمَا يُنَاسِبُ :</h2><br><br>
    <form name="form2" data-gtm-form-interact-id="1">
    <blockquote>
    <dl>
    <dt>
    تُمَكِّنُنَا ظَاهِرَةُ
    <input maxlength="10" name="rep1" size="6" style="color: blue; font-family: inherit; font-size: large;" type="text" data-gtm-form-interact-field-id="5">
    الضَوْءِ مِنْ رُؤْيَةِ الأَجْسَامِ.
    </dt>
    <dt>
    تَنْعَدِمُ
    <input maxlength="20" name="rep2" size="6" style="color: blue; font-family: inherit; font-size: large;" type="text">
    فِي المَكَِانِ المُظْلِمِ.
    </dt>
    <dt>
    الجسم الذي لا يسمح بمرور الضوء هو جسم
    <input maxlength="10" name="rep3" size="5" style="color: blue; font-family: inherit; font-size: large;" type="text">
    والذي يسمح بمرور الضوء كلّيّا هو جسم
    <input maxlength="10" name="rep4" size="5" style="color: blue; font-family: inherit; font-size: large;" type="text"> 
    أمّا الذي يسمح بمرور الضوء جزئيّا فهو جسم
    <input maxlength="10" name="rep5" size="5" style="color: blue; font-family: inherit; font-size: large;" type="text">
    . 
    </dt>
</dl>
    </blockquote>

    <div class="mt-5 text-center">
        <a onclick="verif2()"  class="btn btn-outline-warning" href=""> أنهيت عملي</a>
        </div>
    </form>
    <br>
    <br><br><br><br><br>
    <h2 class="text-danger">
    أَخْتَارُ الصَحِيحَ مِنْ بَيْنِ الأَجْوِبَةِ المُقْتَرَحَةِ :</h2><br><br>
    <form name="form3" data-gtm-form-interact-id="2">
    <blockquote>
    <dl>
    <dt>
    مَا هِيَ الأجْسَامُ التِي ينْتَثِرُ عَلَبْهَا الضَّوْءُ:
    <br><input name="choix" type="checkbox" value="1">الكُتبُ
    <br><input name="choix" type="checkbox" value="0">الهَوَاءُ
    <br><input name="choix" type="checkbox" value="1">الجِدارُ
    <br><input name="choix" type="checkbox" value="0" data-gtm-form-interact-field-id="7">المٍرْآةُ العَاكِسَةُ
    <br><input name="choix" type="checkbox" value="1" data-gtm-form-interact-field-id="6">الطَاوِلَةُ
    </dt>
</dl>
    </blockquote>

    <div class="mt-5 text-center">
        <a name="bouton" onclick="if (test(document.form3.choix)) alert('أحسنت. إجابة صحيحة.');
              else alert('إجابة خاطئة.');"  class="btn btn-outline-warning" href=""> أنهيت عملي</a>
    </div>
    </form>
    <br>
    <br><br><br><br><br>
    <h2 class="text-danger">
    أَخْتَارُ الجواب الصَحِيحَ :</h2><br><br>
    <form name="form4">
    <blockquote>
    <dl>
    <dt>
    أتَمَكَّنُ مِنْ رُؤْيَةِ جِسْمٍ :
    <br><input name="choix" style="font-family: inherit; font-size: large;" type="radio" value="Choix 1">إِذَا اِنْتَثَرَ عَلَيْهِ الضَوْءُ.
    <br><input name="choix" style="font-family: inherit; font-size: large;" type="radio" value="Choix 2">إِذَا لَمْ يَكُنْ لَوْنُهُ دَاكِنًا.
    <br><input name="choix" style="font-family: inherit; font-size: large;" type="radio" value="Choix 3">إِذَا كُنْتُ في مكان مُضَاءٍ وكَانَ فِي مَكَانٍ مُظْلِمٍ.
    </dt>
</dl>
    </blockquote>
    <div class="mt-5 text-center">
        <a onclick="afficher4(form4)" class="btn btn-outline-warning" href=""> أنهيت عملي</a>
    </div>
    </form>
    <br>
    <br><br><br><br><br>
    <h2>
     </h2>
    <form name="form5">
    <blockquote>
    <dl start="2">
    <dt>
    ينعَكِسُ الضَوءُ :
    <br><input name="choix" style="font-family: inherit; font-size: large;" type="radio" value="Choix 1">إِذَا اصْطَدَمَ بِجِدَارٍ.
    <br><input name="choix" style="font-family: inherit; font-size: large;" type="radio" value="Choix 2">إِذَا اصْدَمَ بِجِسْمٍ مَصْقُولٍ.
    <br><input name="choix" style="font-family: inherit; font-size: large;" type="radio" value="Choix 3">إِذَا اصْطَدَمَ بِوَسَطٍ شَفَّافٍ غَيَرَ مُتَجَانِسٍ لِلوَسَطِ الذِي كَانَ فِيهِ.
    </dt>
</dl>
    </blockquote>
    <div class="mt-5 text-center">
    <a onclick="afficher5(form5)" class="btn btn-outline-warning" href=""> أنهيت عملي</a>
    </div>
    </form>
    <br>
    <br><br><br><br><br>
    
    <h2>
     </h2>
    <form name="form6">
    <blockquote>
    <dl start="3">
    <dt>
    يَنْكَسِرُ الضَوْءُ :
    <br><input name="choix" style="font-family: inherit; font-size: large;" type="radio" value="Choix 1">عِنْدَ اِنْتِقَالِهِ في نَفْسِ الوَسَطِ الشَفَّافِ.
    <br><input name="choix" style="font-family: inherit; font-size: large;" type="radio" value="Choix 2">عِنْدَ اِنْتِقَالِهِ مِنْ وَسَطِ شَفَّافٍ إِلَى وَسَطٍ عَاتِمٍ.
    <br><input name="choix" style="font-family: inherit; font-size: large;" type="radio" value="Choix 3">عِنْدَ اِنْتِقَالِهِ مِنْ وَسَطِ شَفَّافٍ إِلَى وَسَطٍ شَفَّافٍ غَيْرَ مُتَجَانِسٍ.
    </dt>
</dl>
    </blockquote>
    <div class="mt-5 text-center">
    <a onclick="afficher6(form6)" class="btn btn-outline-warning" href=""> أنهيت عملي</a>
    </div>
    </form>
    <br>
    </span>
    
    
   







<br><br><br><br><br>
                        
   

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h3 class="section-title bg-white text-center text-primary px-3" > العين و الرؤية <br>
                    عيوب الرؤية و وسائل الإصلاح </h3>
                    <br><br><br><br>
                <h1 class="mb-5"> ** تلخيص **</h1>
            </div>
         </div>
    </div>



    <div class="text-center">
    <img src="assets/img/ain (1).jpg" class="img-fluid" alt="Image 1">  
    </div>

    <div class="text-center">
        <img src="assets/img/ain (2).jpg" class="img-fluid" alt="Image 1">  
        </div>
        <div class="text-center">
            <img src="assets/img/ain (3).jpg" class="img-fluid" alt="Image 1">  
            </div>
            <div class="text-center">
                <img src="assets/img/ain (4).jpg" class="img-fluid" alt="Image 1">  
                </div>
               
        <div class="text-center">
            <img src="assets/img/ain (5).jpg " class="img-fluid" alt="Image 1">  
            </div>
           
    <div class="text-center">
        <img src="assets/img/ain (6).jpg " class="img-fluid" alt="Image 1">  
        </div>
        <div class="text-center">
            <img src="assets/img/ain (7).jpg " class="img-fluid" alt="Image 1">  
            </div> <br><br>
            <div class="text-center">
                <img src="assets/img/ang.png " class="img-fluid" alt="Image 1">  
                </div> 
           <br><br><br><br><br>

            <div class="text-center">
                <img src="assets/img/ain0.png" class="img-fluid" alt="Image 1">  
                </div>
            
<br><br><br><br><br>
            <div class="text-center">
                <img src="assets/img/ainn (1).jpg" class="img-fluid" alt="Image 1">  
                </div><br><br>
                <div class="text-center">
                    <img src="assets/img/ainn (1).png" class="img-fluid" alt="Image 1">  
                    </div>
                    <div class="text-center">
                        <img src="assets/img/ainn (2).png" class="img-fluid" alt="Image 1">  
                        </div>

                       
                            
            
            
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                       <h1 class="mb-5"> ** تمارين **</h1>
                    </div>
                </div>
            </div>
            
            
            
            <br><br>
               

            <h3 class="text-center text-danger">   أذكر 3 نقاط تشابه بين العين و آلة التصوير
            </h3><br>
       <br>
       <div class="text-center">
     <textarea></textarea>
    </div>
       
       <div class="mt-5 text-center">
       <a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
       </div>


       <br><br><br><br><br>
       <h3 class="text-center text-danger">   أذكر إسم الحالة في كل مرة
    </h3><br>
<br>
     <div class="row g-2">


        <div class="col-lg-2">
            <div class="text-center">3<br>
          <textarea></textarea>
         </div>
         </div> 
         <div class="col-lg-2">
            <div class="text-center">2<br>
          <textarea></textarea>
         </div>
         </div> 
         <div class="col-lg-2">
            <div class="text-center">1<br>
          <textarea></textarea>
         </div>
         </div> 

        <div class="col-lg-6">
<div class="text-center">
<img src="assets/img/ain0.jpg" class="img-fluid" alt="Image 1">  
</div>
</div>



</div>


<div class="mt-5 text-center">
<a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
</div>
       
      

            <br><br><br><br><br>




  
            <h3 class="text-center text-danger">
                : "أنقر    &nbsp;&nbsp;&nbsp;  "نعم"    &nbsp;&nbsp;&nbsp;  أو    &nbsp;&nbsp;&nbsp;  "لا&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h3><br> 
                <br>
            
            
            <div class="text-center">
                   <div class="form-check ">
                     <label>
                        <input type="checkbox" name="" ><strong>
                            الشبكية تنطبع عليها الأجسام في وضعها الطبيعي    :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                    
                    
                             <input type="checkbox" name="" ><strong>
                                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        
                    
                    
                            </label>
                    </div><br> <br> 
            
            
            
            
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            العصب البصري ينقل الإشارات إلى المخ 
                            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br> <br> 
            
            
            
                       <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            الحدقة تمنع الأشعة الضوئية من المرور إلى داخل العين        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br> <br>
            
                       
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            المخ يتم فيه تحليل الإشارات وتأويلها
                            :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br> <br> 
            
                       
                     
            
            
                         
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            القزحية تختلف من شخص إلى آخر من حيث اللون        :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
            
                           
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            القرنية هي عنصر التركيز الرئيسي للعين
                            :        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                       
                  
                       <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            في حال طول النظر تنطبع الصور أمام الشبكية       :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                             
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            في حال طول النظر تنطبع الصور وراء الشبكية      :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                             
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            في حال قصر النظر تنطبع الصور وراء الشبكية       :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
                             
                    <div class="form-check  ">
                        <label>
                           <input type="checkbox" name="" ><strong>
                            في حال قصر النظر تنطبع الصور أمام الشبكية       :       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     نعم </strong>
                       
                       
                                <input type="checkbox" name="" ><strong>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     لا    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                           
                       
                       
                               </label>
                       </div><br>  <br>  
            
            
            
                </div>
            
            <div class="mt-5 text-center">
            <a class="btn btn-outline-warning" href=""> أنهيت عملي</a>
            </div>
                                
            
            <br><br><br><br><br>


<!-- Team End -->
    
