

  
    
    <app-nav></app-nav>
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl header-carousel position-relative">
            <div class="owl-carousel position-relative">
    
                <img class="img-fluid" src="assets/img/a.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">دروس تعليمية, إمتحانات، بحوث مدرسية</h5>
                                <h1 class="display-3 text-white animated slideInDown">أصدقائي الأعزاء مرحبا بكم في موقعكم المفضل لمراجعة الإيقاظ العلمي لجميع مستويات التعليم الإبتدائي
                                </h1>
                                <p class="fs-5 text-white mb-4 pb-2"> </p>
                                <a routerLink="/detail" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">إقرأ المزيد</a>
                                <a routerLink="/singup" class="btn btn-outline-warning py-md-3 px-md-5 me-3 animated slideInLeft">فتح حساب جديد </a>
                                <a routerLink="/login" class="btn btn-outline-warning py-md-3 px-md-5 me-3 animated slideInLeft" >  تسجيل الدخول   </a>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/img/h.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h4 class="text-primary text-uppercase mb-3 animated slideInDown"> 
                           دروس تعليمية, إمتحانات، بحوث مدرسية
                            </h4>
                            <h2 class="display-3 text-white animated slideInDown"> أصدقائي الأعزاء مرحبا بكم في موقعكم المفضل لمراجعة الإيقاظ العلمي لجميع مستويات التعليم الإبتدائي
                                <br></h2>
                            <h3 class=" text-white animated slideInDown"> 
                                تجد معنا ملخصات الدروس و تمارين الثلاثي الأول و الثاني و الثالث</h3>
                            <p class="fs-5 text-white mb-4 pb-2"></p>
                            <a routerLink="/detail" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">إقرأ المزيد</a>
                            <a routerLink="/singup" class="btn btn-outline-warning py-md-3 px-md-5 me-3 animated slideInLeft">فتح حساب جديد </a>
                            <a routerLink="/login" class="btn btn-outline-warning py-md-3 px-md-5 me-3 animated slideInLeft" >  تسجيل الدخول   </a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   
    <!-- Carousel End -->

  
  
  
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <img class="img-fluid" src="assets/img/sc.gif" alt="">   
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                           <img class="img-fluid" src="assets/img/kk.png" alt="">   
                         
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                           
                            <img class="img-fluid" src="assets/img/xx.jpg" alt="">
                        
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <img class="img-fluid" src="assets/img/w.png" alt="">   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  
  
    <h3 class="text-center text-primary">المحتوى</h3>
    
  <div class="container mt-3"  >
  <table class="table table-hover">
        
       
    <tr>
                
               
    <th> السنة السادسة </th>
                
               
    <th> السنة الخامسة</th>
                
               
    <th> السنة الرابعة</th>
            
                     
    <th>السنة الثالثة </th>
                
               
    <th>السنة الثانية</th>
                
               
    <th>السنة الأولى</th>
            
    </tr>
            
           
    <tr>
                 
    <td> <div class="nav-item dropdown">
        <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الوحدة الأولى : العين و الضوء</p>
        <div class="dropdown-menu fade-down m-0">
    
            <p  class="dropdown-item">   تركيبة العين </p>
            <p class="dropdown-item"> انتشار الضوء  </p>
            <p class="dropdown-item">  العين والرؤية </p>
            <p class="dropdown-item"> انعكاس الضوء </p>
            <p class="dropdown-item"> عيوب الرؤية ووسائل الاصلاح  </p>
            <p class="dropdown-item"> انكسار الضوء  </p>
          
            
        </div>
    </div></td>
                
    
                 
   <td> <div class="nav-item dropdown">
        <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الوحدة الأولى : الضوء</p>
        <div class="dropdown-menu fade-down m-0">
    
            <p  class="dropdown-item">  مصادر الضوء الطبيعية والاصطناعية </p>
            <p class="dropdown-item"> الجسم المضيء الجسم المضاء المنير  </p>
            <p class="dropdown-item">  تفسير عملية الرؤية لابن الهيثم </p>
            <p class="dropdown-item"> الأوساط الثقافة، الأوساط الشاقة الأوساط العائمة </p>
            <p class="dropdown-item">  الانتشار المستقيمي للضوء   </p>
            <p class="dropdown-item"> ختراق الضوء للأوساط  </p>
            <p class="dropdown-item">   تكون الظل    </p>
       
            
        </div>
    </div></td>
  
    <td> <div class="nav-item dropdown">
        <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الحواس والوقاية من الأمراض  </p>
        <div class="dropdown-menu fade-down m-0">
            <p  class="dropdown-item"> وظائف الجلد ووقايته</p>
            <p class="dropdown-item">التأثيرات السلبية على حاستي السمع والابصار </p>
            <p class="dropdown-item"> حماية السمع والأبصار من المؤثرات المزعجة </p>
            <p class="dropdown-item">تأثير مرض الزكام على الجسم  </p>
            
        </div>
    </div>
   </td>
                      
    <td> <div class="nav-item dropdown">
        <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التنقل </p>
        <div class="dropdown-menu fade-down m-0">
            <p  class="dropdown-item"> حاجة الإنسان و الحيوان إلى التنقل</p>
            <p class="dropdown-item">التنقل في البر </p>
            <p class="dropdown-item">التنقل في الماء </p>
            <p class="dropdown-item">التنقل في الجو </p>
            
        </div>
    </div>
   </td>
              
    <td> 
        <div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الوسط البيئي</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item"> الحيوانات</p>
                <p class="dropdown-item">النباتات </p>
                
            </div>
        </div>
          
     
     <td>الفضاء</td>
            
   
  
  
  
     <tr>
                           
          <td> <div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" > الوحدة الثانية : الهواء و التنفس</p>
            <div class="dropdown-menu fade-down m-0">
        
                <p  class="dropdown-item">  الهواء ضروري لحياة الإنسان والحيوان والنبات   </p>
                <p class="dropdown-item"> خاصيات الهواء  </p>
                <p class="dropdown-item"> مكونات الهواء   </p>
                <p class="dropdown-item">  الاحتراق في الهواء وأهمية الأكسجين في عملية الاحتراق  </p>
                <p class="dropdown-item">   التبادل الغازي في مستوى الرئتين  </p>
                <p class="dropdown-item">  العناصر المتدخلة في عملية الاحتراق والعناصر الناتجة عنه   </p>
                <p class="dropdown-item">   احتراق الشمعة     </p>
                
            </div>
        </div></td>
                        
   <td> <div class="nav-item dropdown">
    <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" > الوحدة الثانية : جسم الإنسان</p>
    <div class="dropdown-menu fade-down m-0">
  
        <p  class="dropdown-item">   الهيكل العظمي للإنسان / أنواع العظام</p>
        <p class="dropdown-item"> أنواع العضلات  </p>
        <p class="dropdown-item"> حركة العضلات  </p>
        <p class="dropdown-item"> المفاصل </p>
        <p class="dropdown-item">   الحوادث التي تصيب العضلات والعظام والمفاصل  </p>
        <p class="dropdown-item"> الدورة الدموية :  الصغرى و الكبرى  </p>
        <p class="dropdown-item">   الجهاز التنفسى : أعضاء التنفس لدى الإنسان     </p>
        <p class="dropdown-item">قواعد صحية لوقاية الجهاز التنفسي  </p>
        
    </div>
  </div></td>
  
  
           <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التنقل </p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item">أنماط التنقل عند الحيوان </p>
                <p class="dropdown-item">   تكيف العضو مع نمط التنقل </p>
                
            </div>
        </div></td>
   <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التغذية </p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item">مصادر الأغذية</p>
                <p class="dropdown-item">  تنوع الأغذية بالنسبة إلى الإنسان </p>
                <p class="dropdown-item"> تصنيف الْحَيَوَانَاتِ حَسَبَ تَنَوعِ الْغَذَاءِ الَّذِي تَعِيش عليه  </p>
                <p class="dropdown-item"> حاجة النبات إلى الغذاء   </p>
                
            </div>
        </div></td>
   
      
          <td> 
            <div class="nav-item dropdown">
                <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >جسم الإنسان</p>
                <div class="dropdown-menu fade-down m-0">
                    <p  class="dropdown-item">  الأجزاء الرئيسية لجسم الإنسان و دور المفاصل</p>
                    <p class="dropdown-item"> سلامة الجسم</p>
                   
                </div>
            </div></td>
                
               
         <td>الزمن</td>
  
  </tr>
         
     
  
  
    <tr>
         <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الوحدة الثالثة : جهاز الدوران و الأمراض الجرثومية و التغذية</p>
            <div class="dropdown-menu fade-down m-0">
        
                <p  class="dropdown-item">  تركيبة الدم  </p>
                <p class="dropdown-item"> الدم ينقل الغذاء والغازات  </p>
                <p class="dropdown-item">  أهمية الجلد في منع تسرب الجراثيم داخله  </p>
                <p  class="dropdown-item">  التعفن الجرثومي   </p>
                <p  class="dropdown-item">  التلاقيح  </p>
                <p  class="dropdown-item"> لمقاومة باستعمال الأدوية والمقاومة الطبيعية للجسم </p>
                <p  class="dropdown-item">   المجموعات الغذائية   </p>
                <p  class="dropdown-item">   أغذية البناء / الطاقة / الوقاية   </p>
                <p  class="dropdown-item">   الوجبة الغذائية المتوازنة حسب السن والنشاط  </p>
                <p  class="dropdown-item">   بعض الأمراض الناتجة عن سوء التغذية  </p>
               
                
            </div>
        </div></td>
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الوحدة الثالثة : الكهرباء</p>
            <div class="dropdown-menu fade-down m-0">
        
                <p  class="dropdown-item">  الدارة الكهربائية: تمثيلها برسم بياني / القاطعة والصهيرة </p>
                <p class="dropdown-item"> المواد الناقلة والعازلة للتيار الكهربائي  </p>
                <p class="dropdown-item">  أجزاء المصباح الكهربائي </p>
               
                
            </div>
        </div></td>
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التغذية </p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item">مصادر الأغذية </p>
                <p class="dropdown-item">  مسار الأغذية وتحولها داخل الأنبوب لحيوان عاشب </p>
                <p class="dropdown-item">  أنواع الأسنان ووظائفها  </p>
                <p  class="dropdown-item"> وقاية الأسنان </p>
            </div>
        </div></td>
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التكاثر </p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item">التكاثر عند النبات </p>
                <p class="dropdown-item">  التكاثر عَنْدَ الْحَيَوَانَات البيوضة </p>
                <p class="dropdown-item">  التَّكَاثُرُ عِنْدَ الْحَيَوَانَاتِ الْوُلُودَةِ </p>
                
            </div>
        </div></td>
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التغذية </p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item"> الوجبات الغذائية و توزيع اوقاتها في اليوم</p>
                <p class="dropdown-item"> مصادر الأغذية </p>
                <p class="dropdown-item">  أعضاء إلتقاط الأغذية عند الحيوان </p>
               
            </div>
        <td>المادة</td>
       
        
          
       
    <tr>
      
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الوحدة الرابعة :   التكاثر الزهري و الوسط البيئي</p>
            <div class="dropdown-menu fade-down m-0">
        
                <p class="dropdown-item"> الزهرة ومكوناتها  </p>
                <p class="dropdown-item">  التأبير والإخصاب </p>
                <p class="dropdown-item"> دور حياة النبتة الزهرية (حولية ودائمة)   </p>
                <p class="dropdown-item"> السلسلة الغدائية  </p>
                <p class="dropdown-item"> مصادر تلوث الأوساط المائية والمحافظة على سلامة هذه الأوساط  </p>
                <p class="dropdown-item"> الأمراض الناتجة من تلوث المياه والوقاية   </p>
                
                
            </div>
        </div></td>
  
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الوحدة الرابعة : الوسط البيئي</p>
            <div class="dropdown-menu fade-down m-0">
        
                <p  class="dropdown-item">   عناصر الوسط البيئي / السلسلة الغذائية   </p>
                <p class="dropdown-item">  الحيوانات التي تصطاد بالمطاردة وكيفية استهلاكها غذاءها  </p>
                <p class="dropdown-item"> الحيوانات التي تصطاد بالمباغتة وكيفية استهلاكها غذاءها </p>
                <p class="dropdown-item"> الحيوانات التي تصطاد بالحيلة والفخ وكيفية استهلاكها غذاءها  </p>
                <p class="dropdown-item">  التربة ومكوناتها    </p>
                <p class="dropdown-item"> الماء في الطبيعة  </p>
                <p class="dropdown-item">   الماء الصالح للشرب / كيفية الحصول على ماء صالح للشرب    </p>
                <p class="dropdown-item">  التكاثر بالبذور  </p>
                <p class="dropdown-item"> الظروف الملائمة للإنبات  </p>
                <p class="dropdown-item"> امتصاص الماء وعملية التبخر عند النبتة  </p>
                <p class="dropdown-item"> حاجة النبتة إلى الماء والأملاح المعدنية  </p>
                <p class="dropdown-item">  التوازن البيئي  </p>
                
                
            </div>
        </div></td>
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التكاثر و النمو</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item"> التكاثر دون بذور</p>
                
            </div>
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التنفس </p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item ">حركات القفص الصدري</p>
                <p class="dropdown-item">  القَوَاعِدُ الصَّحِيةُ للتَّنْفَس </p>
                
                
            </div>
        </div></td>
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التنقل</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item"> التنقل عند الإنسان</p>
                <p class="dropdown-item"> التنقل عند الحيوان  </p>
               
            </div>
        <td>الطاقة</td>
       
      
  
       
       <tr>
         <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الوحدة الخامسة : الطاقة</p>
            <div class="dropdown-menu fade-down m-0">
        
                <p class="dropdown-item">  التأثير الحراري للتيار الكهربائي </p>
                <p class="dropdown-item">  التأثير الكيميائي للتيار الكهربائي </p>
                <p class="dropdown-item">  أنواع المغنط - أشكاله . قدرته على جذب المواد الحديدية</p>
                <p class="dropdown-item">  قطبا المغنط   </p>
                <p class="dropdown-item">  البوصلة </p>
                <p class="dropdown-item">  التأثير المغناطيسي للتيار الكهربائي  </p>
                <p class="dropdown-item">   وزن الأجسام / السقوط الحر للأجسام </p>
                
            </div>
        </div></td>
  
         <td> ***** </td>
          <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التنفس</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item">  أعضاء التنفس لدى بعض الحيوانات  </p>
                <p  class="dropdown-item">مثال الرئتان عند الخروف </p>
                <p  class="dropdown-item"> مثال لغلاصم عند السمكة </p>
                </div>
                          
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الوقاية من الأمراض</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item"> بعض الأمراض التي تُصيب الإِنْسانَ</p>
                <p class="dropdown-item"> بعض الأمراض التي تصيب الْحَيَوَانَاتِ الأهلية  </p>
                <p class="dropdown-item"> دور الإِنْسانِ فِي المحافظة على البيئة ومقاومة التلوث   </p>
                <p class="dropdown-item">   أهمية الشجرة في الحياة وحماية بعض النباتات والحيوانات من الصيد والحرائق  </p>
                <p class="dropdown-item"> همية الشَّجَرَةِ فِي الْحَيَاةِ وحماية بعض النباتات والحيوانات من الصيد والحرائق  </p>
               
            </div>
                  
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >التنفس</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item"> الأوساط التي يتنفس فيها الإنسان و الحيوان</p>
                
               
            </div>
                    
        <td>المحيط</td>
                
               
               
        
               
    <tr>
        <td>*****</td>               
        <td>*****</td>
         <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الزمن</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item">   الساعة</p>
                <p  class="dropdown-item">  الدقيقة  </p>
                <p  class="dropdown-item">  الثانية </p>
                       </div>
  
          <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الزمن</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item"> الأحداث الدورية، الأحداثُ غَيْرُ الدورية  </p>
                <p  class="dropdown-item">تقدير فترة زمنية باعتماد ظاهرة دورية مألوفة </p>
                <p  class="dropdown-item"> النواس  </p>
                <p  class="dropdown-item">   الساعة الرملية </p>
                <p  class="dropdown-item"> الساعة المائية   </p>
                <p  class="dropdown-item"> الساعة ذات العقارب  </p>
                <p  class="dropdown-item"> الساعات ذات الخانات  </p>
           </div>
  
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الفضاء</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item">الأبعاد الظاهرية</p>
                <p  class="dropdown-item">التغطية </p>
                <p  class="dropdown-item">وحدة قيس الأطوال </p>
                <p  class="dropdown-item">وحدة قيس السعات </p>
           </div>
        <td>جسم الإنسان</td>
      
       
       
       
       
     <tr>
         <td>*****</td>
         <td>*****</td>
         <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >المادة </p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item">تعرف الهواء  </p>
                <p  class="dropdown-item">إثبات وجود الهواء </p>
                <p  class="dropdown-item">خصائص الهواء  </p>
                <p  class="dropdown-item">تلوث الهواء  </p>
                <p  class="dropdown-item">قيس كتل بواسطة الميزان </p>
              
  
  
            </div>
         <td> <div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الطاقة</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item"> التأثير الظاهر للقوة</p>
                <p  class="dropdown-item">سقوط الأجسام </p>
                <p  class="dropdown-item"> شروط حصول عمل  </p>
                <p  class="dropdown-item"> العمل  </p>
                <p  class="dropdown-item"> مفهوم الطاقة  </p>
                <p  class="dropdown-item"> أنواع الطاقة
                </p>
           </div>
  
         <td>  <div class="nav-item dropdown">
                   <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الزمن</p>
                     <div class="dropdown-menu fade-down m-0">
                     <p  class="dropdown-item">ترتيب الأحداث </p>
                     <p  class="dropdown-item"> تحديد حركة الأجسام بالاعتماد على مقارنة المسافات التي تقطعها في مدة زمنية معينة </p>
                     <p  class="dropdown-item"> تمييز الأحداث الدورية  من غير الدورية</p>
                     </div>
                </div> 
        </td>    
        <td>التغذية</td>
    
    
        
  
  
  
        <tr>
        <td>*****</td>
        <td>*****</td>
        <td> <div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >الطاقة</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item"> قوة الهواء تحدث عملا </p>
                <p  class="dropdown-item">الطاقة الحرارية وبعض مصادر ومجالات استعمالها  </p>
                <p  class="dropdown-item"> المقارنة بين درجة حرارة جسمين باسعمال «أبرد من»، «أسخن من»  </p>
                <p  class="dropdown-item"> الناقل الحراري والعازل الحراري  </p>
                <p  class="dropdown-item"> الاستغلال النفعي للناقل الحراري والعازل الحراري في الحياة اليومية  </p>
                <p  class="dropdown-item">  تأثير الطاقة الحرارية في الأجسام تمددا ..وتقلصا.
                </p>
                <p  class="dropdown-item">  حاسة اللمس وسيلة تقريبية لقيس درجة حرارة الأجسام</p>
                <p  class="dropdown-item"> المحرار واستعماله في بعض التطبيقات </p>
               
  
  
           </div>
        <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >المادة</p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item"> حالات المادة في الطبيعة</p>
                <p  class="dropdown-item">التبخر و الغليان </p>
                <p  class="dropdown-item">  الإسالة </p>
                <p  class="dropdown-item">   ظاهرتي الإنصهار و التجمد   </p>
           </div>
  
       <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >المادة </p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item">مقارنة جسم بجسم آخر من حيث الصلابة </p>
                <p  class="dropdown-item">خصائص الحالات الفيزيائية للمادة </p>
               
            </div>
        <td>النمو</td>
     
    
     
  
  
  
        <tr>
       <td>*****</td>
       <td>*****</td>
      <td>*****</td>
       <td>*****</td>
         <td><div class="nav-item dropdown">
            <p class="nav-item dropdown-toggle" data-bs-toggle="dropdown" >القوة </p>
            <div class="dropdown-menu fade-down m-0">
                <p  class="dropdown-item">تحريك الأجسام وإيقافها وتغيير حركتها وتغيير شكلها </p>
                
                <p  class="dropdown-item"> بعض أنواء القوى </p>
               
            </div>
                    
        <td>التنقل</td>
     
      
      
  
  
        <tr>
              <td>*****</td>
              <td>*****</td>
              <td>*****</td>
              <td>*****</td>
              <td>*****</td>
             <td>التنفس</td>
        </tr>       
   
       
  
  
  
  
  
  
    <!-- Service End -->
  
  
        
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   
  
  
  
  
  
  